[2017-02-15 22:27] arouinfar commented on #96
Looks good @pixelzoom! I'll tag this for interviews and leave self-assigned. Thanks!

[2017-02-15 22:29] pixelzoom commented on #81
Button color changed in versions > 1.0.0-dev.49.

[2017-02-15 22:35] pixelzoom commented on #145
[1.0.0-dev.50](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.50/unit-rates_en.html?showAnswers&randomEnabled=false) has:
• 25-mile increments for major markers on DNL
• 50-mile increments for track markers
• smaller black track markers

@arouinfar If this looks OK, you can close this issue.

[2017-02-15 22:39] arouinfar commented on #145
Looks great!

[2017-02-15 22:39] #145 closed, assigned to arouinfar

[2017-02-15 23:14] pixelzoom commented on #95
If it takes 0.25 seconds to move 200 miles at 100 miles/hr,  then it takes half that time (0.125 seconds) to move 100 miles at 100 miles/hr.   Therefore 0.125 seconds of simulation time is equivalent to 1 hour of "race time", and 1 second of simulation time is equivalent to 8 hours of "race time".  So in our model's `step` function,  the conversion from simulation time (seconds) to race time (hour

[2017-02-15 23:29] pixelzoom opened #147 "how to handle creation of race marker when timer is collapsed?"
@arouinfar You mentioned this issue previously, but I don't see an issue for it, so here it is.

When a car reaches the finish line, the design document specifies that a marker is automatically created.  But if the timer is collapsed, that marker's denominator will show the value of the timer.  This defeats the purpose of having a collapsible timer.

Options:

(1) Create a marker regardless of the

[2017-02-15 23:31] pixelzoom commented on #147
Thinking about this more... I'm a bit concerned that option (3) may be a little non-intuitive.  A more straightforward behavior might be better, so changing my vote for option (2).

[2017-02-15 23:44] pixelzoom commented on #95
Car speed and timer are calibrated in [1.0.0-dev.51](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.51/unit-rates_en.html?showAnswers&randomEnabled=false).

1 second of sim time is equivalent to 8 hours of race time. Completing a 200 mile race at a rate of 100 miles/hour would take 2 hours.  And 2 hours of race time occurs in 0.25 seconds of sim time.

@arouinfar please verify.

[2017-02-16 00:06] arouinfar commented on #95
Looks great! Thanks @pixelzoom.

[2017-02-16 00:06] #95 closed, assigned to arouinfar

[2017-02-16 00:50] arouinfar commented on #140
Actually, I think we'll be able to have our cake and eat it too...

I started with screenshots of the latest dev and extended the double number line across the full width of the screen. I was able to compress the contents in the Questions panel while keeping the answers in fraction format. I didn't change the size of any of the text, buttons, etc. -- only the relative spacing. While things in the

[2017-02-16 00:53] arouinfar commented on #140
I should also mention that I moved the Reset All button down a few pixels to re-center it between the Questions panel and the navbar.

[2017-02-16 00:55] arouinfar commented on #147
@pixelzoom thanks for creating this issue. It's on my list of things to bring up at design meeting tomorrow, but it's good to have a tracking issue for it. I'm leaning towards (2), but I'll see if I can come up with some alternative options.

[2017-02-16 17:29] pixelzoom opened #148 "rounding is causing marker problems"
Because of the number of decimal places that we're using, we're running into serious problems with markers throughout the sim.   In all screens, we're currently using 2 decimal places for both the numerator and denominator.

The problem is best illustrated via an example, which you can replicate in [1.0.0-dev.51](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.51/unit-rates_en.h

[2017-02-16 17:39] pixelzoom commented on #148
Here's dev version 1.0.0-dev.52, which eliminates the problem:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.52/unit-rates_en.html?showAnswers&randomEnabled=false

The number of decimal places in 1.0.0-dev.52 is as follows:

Shopping, Shopping Lab -
cost: 2
quantity: 3

Racing Lab -
miles: 1
hours: 2

While the problem was definitely less pronounced in the shopping screens, I

[2017-02-16 18:04] pixelzoom commented on #148
@arouinfar reported that 1.0.0-dev.52 still has a problem.  E.g:

1. ?showAnswers
2. Shopping Screen
3. Apples
4. enter denominator 1.25, numerator should be 0.63
5. enter numerator 0.63, rejected, denominator should be 1.26

This smells like a separate issue, I'll investigate.

[2017-02-16 18:09] pixelzoom opened #149 "undo button appears when it shouldn't"
I've seen this happen with the marker editor and undo button, since ~1.0.0-dev.50.  In this scenario, the undo button should be hidden. Probably related to refactoring to handle mutating either numerator of denominator of markers when rate changes.

![screenshot_140](https://cloud.githubusercontent.com/assets/3046552/23034239/6d09d576-f438-11e6-84e5-d7eb71dcec2d.png)

[2017-02-16 18:11] arouinfar commented on #148
@pixelzoom I'm not sure if the number of decimal places in the original denominator has an effect or not, so here's a slightly different example with 1.125 apples.

1. ?showAnswers
2. Shopping Screen
3. Apples
4. Enter denominator 1.125, numerator should be 0.56
5. Enter numerator 0.56, rejected, denominator should be 1.12

[2017-02-16 18:24] pixelzoom commented on #149
I've seen this happen when pressing the 'undo' button that is below a marker. Doesn't happen all the time, haven't isolated steps to reproduce.

[2017-02-16 18:49] pixelzoom commented on #148
New dev version: http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.53/unit-rates_en.html?showAnswers&randomEnabled=false

I changed the algorithm used by the marker editor. When the second of 2 values is entered for a marker, the editor now determines whether the 2nd value could be computed from 1st.  If yes, then we create a marker. If no, then the 1st value is erased.

The logic

[2017-02-16 19:47] pixelzoom commented on #149
This problem occurred when the undo button's visibility was computed before the marker editor had finished animating to its 'home' position.  (It was more easily diagnosed by slowing down animation with `?animationSpeed=100`.)  Fixed in the above commit.  Closing.

[2017-02-16 19:47] #149 closed, assigned to pixelzoom

[2017-02-16 19:59] arouinfar commented on #148
@pixelzoom I think this is a reasonable solution. There will still be a few unavoidable edge cases, like this one

?showAnswers
Racing Lab Screen
Rate 1 = 66/2
Enter numerator 199.9, denominator should be 6.06
Enter denominator 6.06, accepted

Use marker editor again
Enter denominator 6.06, numerator should be 200
Enter numerator 199.9, rejected, denominator should be 6.06
Enter denominator 6.06,

[2017-02-16 20:28] pixelzoom commented on #148
@arouinfar said:

Whatever we do is going to be a compromise. I'm convinced that this is an unsolvable problem.

This change is implemented in [1.0.0-dev.54](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.54/unit-rates_en.html?showAnswers&randomEnabled=false).

If 2 markers share a term, then:
• If the newer marker has greater precedence (e.g. a question marker) or equal preced

[2017-02-16 20:41] arouinfar commented on #148
Looks good @pixelzoom! I hadn't thought about the possibility of the older marker being a question marker, so I'm glad you considered precedence rather than indiscriminately deleting the older marker.

[2017-02-16 20:41] #148 closed, assigned to arouinfar

[2017-02-16 21:26] arouinfar commented on #140
Discussed in 2/16 design meeting.

* Tighten up vertical space in Questions panel
* Reduce the amount of negative space above the double number line by about 1/2 to give Questions panel a bit more room.

[2017-02-16 21:55] arouinfar commented on #147
Discussed during 2/16/17 design meeting.

Let's go with option (1). If the teacher wants to ask predictive questions, they can minimize the DNL to hide the revealing marker. Teacher Tips and Primer will include this information.

[2017-02-17 00:25] pixelzoom commented on #147
No development required for this. So I'm unassigning for now, and labeling with "design:teaching-resources".

[2017-02-17 00:28] pixelzoom opened #150 "predicting race time"
Per decision in https://github.com/phetsims/unit-rates/issues/147#issuecomment-280474114...

When a car reaches the finish line, a marker is created that should the distance and time. So to support prediction of race time, teachers should instruct students to collapse both the timer _and_ the double number line.

[2017-02-17 00:28] pixelzoom commented on #147
I move the remaining work on this issue to https://github.com/phetsims/unit-rates/issues/150.  Closing.

[2017-02-17 00:28] #147 closed, assigned to nobody

[2017-02-17 00:29] pixelzoom commented on #140
Done in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.55/unit-rates_en.html?showAnswers&randomEnabled=false.

The Questions panel still needs some pixel polishing (see https://github.com/phetsims/unit-rates/issues/152), but it has plenty of room.

@arouinfar please review, feel free to close.

[2017-02-17 00:36] pixelzoom opened #151 "race markers"
When a car reaches the finish line, a "race marker" is created on the double number line.  The design document doesn't fully specify this feature, so here's what we decided in 2/16/17 design meeting:

• when the car reaches the finish line, a race marker is created on the double number line
• a race marker is created regardless of whether the timer is collapsed (see #147)
• race markers are color-

[2017-02-17 01:21] pixelzoom commented on #151
Implemented as described above in [1.0.0-dev.56](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.56/unit-rates_en.html?showAnswers&randomEnabled=false).

Once you have a few "race markers" on the DNL, it becomes a bit less obvious which marker is associated with the currently location of the car.  So I changed the look of the "car position" indicator on the double number line. T

[2017-02-17 01:25] pixelzoom commented on #151
@arouinfar Do you think we should use a slightly darker shade of blue for car2's markers? (Would also be applied to car's 2 spinners.)

[2017-02-17 19:35] arouinfar commented on #151
@pixelzoom I really like the updated race marker in dev.56!

I've also been thinking about the light blue used for car 2's markers. I find it a bit hard to read, and I skeptical of how well it will project. That blue works well for the car, where there's a concentrated patch of the color. It was also fine when using the race tracking dot (which also had a black stroke) but I think it's a bit chall

[2017-02-17 19:39] arouinfar commented on #140
Looks good @pixelzoom. I'll go ahead and close this issue. We can track pixel polishing in a separate issue if need be.

[2017-02-17 19:39] #140 closed, assigned to arouinfar

[2017-02-17 19:48] pixelzoom commented on #151
@arouinfar The car is a PNG file, so the color used in the code isn't applied to the car.  So I think it's fine to leave the car "as is", and simply darken the markers and spinners.  I'll change to 'rgb(0, 143, 204)'.

[2017-02-17 19:53] pixelzoom opened #152 "pixel polishing for Questions"
A few members of the design team are not happy with the current layout of the Questions accordion box, so we'll do some pixel polishing.  As of [1.0.0-dev.56](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.56/unit-rates_en.html?showAnswers&randomEnabled=false), it looks like this:

![screenshot_294](https://cloud.githubusercontent.com/assets/3046552/23080951/07e75334-f510-11e6-

[2017-02-17 19:55] arouinfar commented on #152
@pixelzoom I can mock up some alternatives later this afternoon.

[2017-02-20 16:57] pixelzoom commented on #151
Car2 is `rub(0,143,204)` in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.57/unit-rates_en.html

@arouinfar please review, close if this looks OK.

[2017-02-20 17:05] arouinfar commented on #151
:+1:

[2017-02-20 17:05] #151 closed, assigned to arouinfar

[2017-02-20 18:56] pixelzoom opened #153 "replace keypad workarounds"
The next-generation keypad is in the process of being designed and implemented (see phetsims/scenery-phet#283).  We've missed the window to use it in Unit Rates 1.0.0.  So the plan is to integrate it sometime in the future.  Marking this issue as deferred until then.

[2017-02-20 19:34] pixelzoom opened #154 "marker editor animation doesn't pause when switching screens"
The marker editor is currently animated using TWEEN.  When switching screens, TWEEN animations are not paused, they continue to run.  (This is a joist problem, see https://github.com/phetsims/joist/issues/404.) And screens don't know when they become inactive, so they can't pause/cancel a TWEEN animation.  So we're currently stuck with the marker editor continuing to animate when we switch to a di

[2017-02-20 19:41] arouinfar commented on #154
I have tried several times to catch the rouge animated marker editor in dev.57, but to no avail. Let's go with option (1) @pixelzoom.

[2017-02-20 19:49] pixelzoom opened #155 "animation of bags & items pauses when switching screens"
Animation of shopping bags and items is currently handled in the model, via `model.step`. In joist's main animation loop, `model.step` is called for the selected screen only.  So when you switch screens, animations for unselected screens are paused.

A screen currently has no ability to know when it becomes unselected, so we can't can cancel animations that are in progress, or (for example) move b

[2017-02-20 19:55] pixelzoom commented on #154
Closing this issue as "won't fix".

[2017-02-20 19:55] #154 closed, assigned to pixelzoom

[2017-02-20 19:59] pixelzoom commented on #86
In the code, I'm now referring to this button as `resetShelfButton`.  It resets the shelf to it's initial state, which may include moving things off the scale _and_ putting items back into bags.

[2017-02-20 20:05] pixelzoom opened #156 "implement "reset shelf" button"
Consolidating this from https://github.com/phetsims/unit-rates/issues/86.

The button in question:

![button](https://cloud.githubusercontent.com/assets/3046552/23140141/35e59304-f76d-11e6-80c7-467c953a7d37.jpg)

Desired behavior:

• move any items or bags from scale to shelf
• put all items back into bags
• disable the button when all items are in bags on the shelf

[2017-02-20 20:06] pixelzoom commented on #86
Rolled this issue into https://github.com/phetsims/unit-rates/issues/156, closing.

[2017-02-20 20:06] #86 closed, assigned to nobody

[2017-02-20 20:18] pixelzoom opened #157 "improve rendering quality for shopping items and bags"
The images for shopping items and (especially) bags look a little ragged to me. No one has complained about this, but I figured that I should investigate what it would take to use mipmaps, and whether it results in improved quality.

[2017-02-20 20:25] pixelzoom commented on #157
Switching to mipmaps would involve changing the `require` statements in ShoppingItemData. E.g.:

[code]

Since `width` is undefined for the object returned by mipmap, this bit of code needs to change in ShoppingScene:

[code]

[2017-02-20 20:34] pixelzoom commented on #157
After the above changes, here's the comparison of `image` vs `mipmap` plugin with Chrome.

image (Chrome 56):
![screenshot_146](https://cloud.githubusercontent.com/assets/3046552/23140716/6f685848-f770-11e6-991c-610c1886179d.png)

mipmap (Chrome 56):
![screenshot_145](https://cloud.githubusercontent.com/assets/3046552/23140746/8c3e2024-f770-11e6-9373-ae0e9e0ff2f8.png)

And here's the comparison wi

[2017-02-20 20:37] pixelzoom commented on #157
@arouinfar Just wanted you to be aware that I investigated mipmaps.

If you're happy with the current quality of bags and images, feel free to close this issue.

If for some reason you'd like the image quality to be improved, we could investigate creating the PNG files at a size closer to what is needed by the sim.  Images for all bags and items are currently scaled by 50%. We may seem an improvem

[2017-02-21 18:59] arouinfar commented on #157
Thanks for looking into this issue @pixelzoom. I don't really notice a difference between the mipmap and image screenshots you've provided. I took a look at dev.57 in the Chrome 56 and Firefox 51, and I think the image quality looks pretty good, though Firefox is slightly worse (but still acceptable).

I tried exporting the bag assets from Illustrator at the exact resolution used in the sim, but I

[2017-02-21 19:03] pixelzoom commented on #157
I'm going to leave as is, closing this issue. If anyone complains, we'll reopen this issue.

[2017-02-21 19:03] #157 closed, assigned to pixelzoom

[2017-02-21 19:06] arouinfar commented on #155
Students have to take the action (by dragging the bag) that would cause the animation, so I don't think it's a big deal if students happen to observe a delayed animation when switching scenes/screens. Let's leave things the way they are @pixelzoom.

[2017-02-21 19:06] #155 closed, assigned to arouinfar

[2017-02-21 21:38] arouinfar commented on #152
Currently, I have a two main concerns with the current layout of the Questions panel.
* There's a lot of trapped space around the edit buttons which competes with the questions.
* There could be a little extra spacing between the correct answer and the next question. When correctly answered, it looks like one question flows directly into the next.

I've mocked up a few alternatives for the Questio

[2017-02-21 22:17] amanda-phet commented on #152
I personally like option (1) quite a bit. It seems odd to me to mix left-aligned questions with centered answers. But I think the suggestion to move the edit button to the right and replace it with a check makes SO much sense!

[2017-02-21 23:38] arouinfar commented on #152
Thanks @amanda-phet! I think the reason that I like (3) is that it looks less crowded, though it uses a somewhat wonky alignment. Realistically, I think (1) is the best option, and it's definitely an improvement.

[2017-02-22 00:02] pixelzoom commented on #152
I like option (1).

For all 3 options, the location of the refresh button (lower-right) puts it dangerously close to the Reset All button -- see screenshot in https://github.com/phetsims/unit-rates/issues/152#issue-208539519.  Highly recommended to move it to lower-left.

[2017-02-22 00:23] arouinfar commented on #152
Good suggestion @pixelzoom. Here's what option (1) would look like with the refresh button on the left.
![image](https://cloud.githubusercontent.com/assets/8419308/23190921/2eb44f1c-f858-11e6-8ed2-114355e86abb.png)

Let's keep the button on the left side of the panel.

[2017-02-22 01:27] ariel-phet commented on #152
@arouinfar @pixelzoom generally think this is an improvement

One thing I was thinking...not sure if there is any way to make it work, but is there some way the edit button could be in the readout box? The readout box is kind of just a place holder, and don't we have some functionality where tapping the readout box opens the entry keypad? Maybe that idea is crazy, but it seems like if it were able

[2017-02-22 16:42] pixelzoom commented on #152
@ariel-phet asked:

Presumably you mean inside the box _with_ the value, and not instead of the value.

This would be inconsistent with the marker editor (and other sims) where the edit button is placed outside the box.

This would also make it impossible to align edit buttons for multiple boxes.  You'd be forced to make all boxes the same width.

[2017-02-22 16:46] pixelzoom commented on #152
I'm going to proceed based on the updated version of option (1) shown in https://github.com/phetsims/unit-rates/issues/152#issuecomment-281527166.

[2017-02-22 17:26] pixelzoom commented on #152
New layout implemented in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.58/unit-rates_en.html?showAnswers&randomEnabled=false

@arouinfar @ariel-phet please review.

[2017-02-22 17:30] arouinfar commented on #152
Looks great! Thanks @pixelzoom.

@ariel-phet I'll leave the issue open so you also have the chance to review.

[2017-02-22 17:30] ariel-phet commented on #152
Looks good, closing

[2017-02-22 17:30] #152 closed, assigned to ariel-phet

[2017-02-22 17:42] pixelzoom commented on #44
In https://github.com/phetsims/unit-rates/issues/44#issuecomment-278771573:

But I believe we determined that the 3rd decimal place will never be visible on the Shopping screen, because of the rates chosen for that screen, and because rate is not variable.   Investigating the implementation, this is going to be easier to implement if I do so only for the collapsible cost display - which appears on

[2017-02-22 17:51] pixelzoom opened #158 "'lbs' vs 'pounds' on scale"
It still bothers me (a tiny bit) that the Shopping Lab screen displays "pounds" on the Rate panel and DNL, but "lbs" on the scale.  E.g.:

![screenshot_150](https://cloud.githubusercontent.com/assets/3046552/23224569/24e9f02e-f8ec-11e6-9820-1a229efa2432.png)

Is there any reason why we don't display "pounds" on the scale? We certainly have room to do so (see screenshot below).   And while I apprec

[2017-02-22 17:57] pixelzoom commented on #158
Maybe if I think of this in the same way as 'dollars' vs '$', then I can ignore it :)

[2017-02-22 18:08] ariel-phet commented on #158
It is a fair point @pixelzoom, not tagged on this issue, but personally will defer to @arouinfar and @amanda-phet . The main rationale I can see for "lbs" is that is a bit more real world in terms of scales usually have abbreviated units.

[2017-02-22 18:17] pixelzoom commented on #158
If we're concerned about "real world"... Most scales display "lb", not "lbs".

[2017-02-22 18:30] arouinfar commented on #158
In general, I like the abbreviated unit (either "lb" or "lbs") because it's less cluttered and more realistic.

My concern with using "pounds" is that it may become pretty long when internationalized, e.g. "kilogramm" or "quilogramos". @pixelzoom can you send a screenshot of the scale with "pounds" with `?stringTest=double`? If it looks reasonable, I would be willing to kill the abbreviated unit.

[2017-02-22 18:36] arouinfar commented on #44
@pixelzoom there's no need for the Shopping Screen to have the 3rd decimal point at all. During design meeting we decided we could live with a bit of empty space (where the third digit would never actually show up because of the 3rd point in https://github.com/phetsims/unit-rates/issues/44#issuecomment-278771573) if it simplified the implementation. Adding the third digit to just the collapsible p

[2017-02-22 19:01] pixelzoom commented on #158
This wasn't easy to do, because `stringTest` also doubles the placeholders, so you end up with "0.8 pounds:pounds: 0.8 pounds:pounds" instead of "0.8 pounds:pounds".   But I hacked something together to show what you're likely interested in, and here's a screenshot:

![screenshot_154](https://cloud.githubusercontent.com/assets/3046552/23227494/5cf2fa74-f8f6-11e6-9287-509954d1452d.png)

[2017-02-22 22:45] arouinfar commented on #158
@pixelzoom thanks for the `stringTest` hack! I'd forgotten that `stringTest=double` essentially quadruples the string "0.8 pounds".

After seeing a longer string in context, I could live with "pounds", though I'd still prefer "lbs" (or "lb").  Any thoughts @amanda-phet?

[2017-02-22 23:01] pixelzoom commented on #158
After seeing a longer string in context, I'm starting to care less about this :)

[2017-02-22 23:39] pixelzoom commented on #44
Here's a dev version that implemented the 3rd decimal for cost:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.59/unit-rates_en.html?showAnswers&randomEnabled=false

Red flag number 1 was the fact that this feature is difficult to describe (see https://github.com/phetsims/unit-rates/issues/44#issuecomment-278771573). Red flag number 2 is that this was crazy complicated to imple

[2017-02-22 23:43] pixelzoom commented on #44
In https://github.com/phetsims/unit-rates/issues/44#issuecomment-278771573, @arouinfar said:

I wanted to point out a problem here.  If the value is $1.2349, the scale will display $1.234.  But the DNL will display $1.24, _not_ $1.23, because the DNL is using rounding of the model value, not the value that the scale is displaying.  The DNL has no ability to access the scale's value.

@arouinfar pl

[2017-02-23 00:02] pixelzoom commented on #44
Here's an example that is making this difficult:

1. Shopping Lab
2. Purple Candy
3. Rate = 1:5
4. 3 bags on the scale

Each bag of purple candy is 0.4 pounds.  One would think that 3 bags is therefore 1.2 pounds. But not with good old Javascript, where 3 * 0.4 = 1.2000000000000002 pounds.   So for this scenario, the marker ends up being $0.24000000000000005/1.2000000000000002, which with rounding

[2017-02-23 00:15] pixelzoom commented on #44
Here's a dev version which attempts to address the problem noted in https://github.com/phetsims/unit-rates/issues/44#issuecomment-281846066.

http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.60/unit-rates_en.html?showAnswers&randomEnabled=false

I'm now truncating twice. First I'm truncating to 10 decimals, to determine whether the 3rd decimal should be displayed (e.g. $0.2400000

[2017-02-23 00:22] arouinfar commented on #44
@pixelzoom using nearest-neighbor rounding, $1.2349 would become $1.23 when rounded to the nearest hundredths place (the thousandths place would need to be >= 5 to round up to $1.24). The motive behind showing the truncated value on the scale is so that there's not a mismatch between the rounded value on the DNL and the cost on the scale.

Returning to the $1.2349 example -- if we rounded the valu

[2017-02-23 00:24] arouinfar commented on #158
@pixelzoom let's stick with "lbs" then. :)

[2017-02-23 00:27] pixelzoom commented on #44
@arouinfar said:

Ah, right you are. Goes to show how confused I've become trying to implement this feature.

At this point I'm very concerned about making to changes to the DNL. But if that's the direction you want to go...

[2017-02-23 00:29] pixelzoom commented on #44
... and perhaps we don't need to change anything. Test drive http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.60/unit-rates_en.html?showAnswers&randomEnabled=false

[2017-02-23 00:29] pixelzoom commented on #158
Nothing to do then. Closing.

[2017-02-23 00:29] #158 closed, assigned to pixelzoom

[2017-02-23 00:30] arouinfar commented on #44
Good point @pixelzoom. I wasn't thinking about what implications it would have on the marker editor, so I'd rather not go there if we don't have to. I will take dev.60 for a test drive and let you know what I think.

[2017-02-23 17:06] pixelzoom commented on #44
@arouinfar Could you please identify a set of "test scenarios" for verifying that this feature is correct? (Like what I described in https://github.com/phetsims/unit-rates/issues/44#issuecomment-281846066.)  I had a difficult time with that, and stumbled across test cases by accident.  I suspect that will also be useful for @phet-steele during RC testing.

[2017-02-23 17:23] amanda-phet commented on #44
I just played with dev.60, and on the shopping lab screen, the appearing and disappearing 3rd decimal seemed very intuitive to me. If it existed, it meant that dollars/apples divided evenly, but if it popped up there would be rounding involved. It seems very helpful to me so it's clear when the rate is rounded.

The DNL should always only be rounded to the nearest hundredth, since we are talking a

[2017-02-23 18:49] arouinfar commented on #44
Thanks @amanda-phet! I think dev.60 looks really smooth, and I agree that the third digit seems intuitive.

@pixelzoom everything looks correct to me. I brute-force checked every combination of spinner values for a single bag of apples. The cost on the scale was always properly truncated and the cost on the DNL was always correctly rounded. I think it's reasonable to assume your algorithm has done

[2017-02-23 19:11] pixelzoom opened #159 "code review #2"
(Note: This is the second code review for this sim. The first code review was done in https://github.com/phetsims/unit-rates/issues/52 for the original implementation of this sim. That implementation has been replaced, so we're going to do another complete code review.)

PhET code-review checklist
=============

**Build and Run Checks**

- [x] Does the sim build without warnings or errors?
- [x] D

[2017-02-23 19:17] pixelzoom commented on #159
2/23/17 dev meeting: @Denz1994 will do the code review. I'll assign this issue to him when I'm ready for a code review.  We'll get together and I'll give him a quick tour of Unit Rates, and an overview of code reviews in general.

[2017-02-23 19:32] pixelzoom commented on #44
From https://github.com/phetsims/unit-rates/issues/44#issuecomment-282055169:

@arouinfar I think you were doing a brute-force verification of this. Can you suggest a set of test scenarios that would be sufficient to verify this feature in the future?  That would be useful for RC testing, and future maintenance.

[2017-02-23 20:27] arouinfar commented on #44
@pixelzoom I can think of a few useful scenarios to test, but they're really just a sub-set of using brute force.

There's a Unit Rates Google Sheet in the sim folder on drive that may be useful:
https://docs.google.com/spreadsheets/d/16YQXC5nPOmTyPVx2br_DNpp7KqhdbsZ7i0qDyU54i_A/edit#gid=435952327

The first tab is "Shopping Lab - 20x20 spinner".  In this tab, there are several tables containing t

[2017-02-23 20:32] pixelzoom commented on #44
@arouinfar Great, that will be useful.

@phet-steele assigning to you to take a look at the above info, for purposes of RC testing.  Feel free to close when you've had a look.

[2017-02-23 22:22] pixelzoom opened #160 "make showAnswers a private query parameter"
https://github.com/phetsims/joist/issues/406 is a prerequisite to this.

In `URQueryParameters`, set `showAnswers` to `false` if we're running a production version, so that answers can't be revealed.

This is not required for 1.0.0 release.

[2017-02-23 22:27] pixelzoom opened #161 "Racing Lab screen fails stringTest"
With `stringTest=double`, the DNL accordion box overlaps the Rate panel. Screenshot:

![screenshot_295](https://cloud.githubusercontent.com/assets/3046552/23281991/9d634550-f9dc-11e6-8a66-bb945ea2d4be.png)

[2017-02-23 22:29] pixelzoom commented on #161
The problem is with maxWidth in the Rate panel. The Rate panel becomes wider, and its right edge is (necessarily) in a fixed position.

[2017-02-23 22:35] pixelzoom commented on #161
Resolved in above commit. Screenshot below. Closing.

![screenshot_296](https://cloud.githubusercontent.com/assets/3046552/23282291/bc71f1c0-f9dd-11e6-8c39-19635130c71e.png)

[2017-02-23 22:35] #161 closed, assigned to pixelzoom

[2017-02-23 23:46] pixelzoom opened #162 "when should cost be collapsible?"
@arouinfar Why is cost collapsible in the Shopping Lab screen, but not in the Shopping screen?  I'm asking because I'm curious, and because having it the same in both screens would be a significant code simplification.

[2017-02-24 19:46] arouinfar commented on #162
The most likely use case for the collapsible price would be to predict the cost of some number of items, given the rate. In the Shopping screen, the unit rate is initially unknown and is something that needs to be "figured out", while in the Shopping Lab, the rate is directly controlled. While I think the Shopping Lab is the more natural place for these sorts of predictive questions to take place,

[2017-02-24 20:52] pixelzoom commented on #162
@arouinfar please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.61/unit-rates_en.html?showAnswers&randomEnabled=false

Cost is now collapsible on both Shopping and Shopping Lab screens -- and I think it's a good thing that the scale now works identically in both screens. (This is still configurable in the code, in case you decide that you don't like it.)

[2017-02-24 22:22] arouinfar commented on #162
Looks great! 👍

[2017-02-24 22:22] #162 closed, assigned to arouinfar

[2017-02-24 22:38] pixelzoom opened #163 "change delta for "miles" picker"
Change request from @arouinfar ...

In Racing Lab screen, make the picker for the rate's numerator (miles) increment and decrement by 5.  The delta is currently 1 (the default for NumberPicker).

[2017-02-24 22:53] pixelzoom commented on #163
There's a bit of common code work required to complete this change request, see https://github.com/phetsims/scenery-phet/issues/292.

[2017-02-26 01:04] pixelzoom opened #164 "pixel polish Rate accordion boxes"
@arouinfar requested that the Rate accordion boxes should be top aligned with their associated DNL accordion boxes.   And while I'm at it, increase the vertical margins in the Shopping Lab's Rate accordion box, so that the numerator spinner isn't so close to the expand/collapse button.

Before (1.0.0-dev.61):

![screenshot_156](https://cloud.githubusercontent.com/assets/3046552/23336165/c2895eb0-f

[2017-02-26 01:05] pixelzoom commented on #164
After, in [1.0.0-dev.62](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.62/unit-rates_en.html). @arouinfar please review.

![screenshot_158](https://cloud.githubusercontent.com/assets/3046552/23336172/fe9ce958-fb84-11e6-8431-12dafa9e894e.png)

![screenshot_157](https://cloud.githubusercontent.com/assets/3046552/23336171/fbe55c18-fb84-11e6-998a-fc67752b121f.png)

[2017-02-26 01:06] pixelzoom commented on #163
Completed in [1.0.0-dev.62](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.62/unit-rates_en.html). @arouinfar please review.

[2017-02-26 02:05] arouinfar commented on #164
Love it! Thanks @pixelzoom.

[2017-02-26 02:05] #164 closed, assigned to arouinfar

[2017-02-26 02:06] arouinfar commented on #163
:+1:

[2017-02-26 02:06] #163 closed, assigned to arouinfar

[2017-03-01 07:16] jonathanolson opened #165 "Automated testing error"
[code]

[2017-03-02 00:14] pixelzoom commented on #165
I'm in the middle of implementing the "expand bags into individual items" feature for Fruit.  Until that's completed, this (and potentially other) related issues are going to exist.

[2017-03-03 01:53] pixelzoom opened #166 "pixel polish: shelf color"
The current shelf color (`'rgb( 174, 129, 91 )'`) doesn't look great to me, a bit dark/saturated, and darker items (especially red items, like apples) don't really "pop":

![screenshot_163](https://cloud.githubusercontent.com/assets/3046552/23535014/e4bfc698-ff78-11e6-8bee-de524e19ee93.png)

Want to try some other colors? Here's `'rgb( 232, 201, 166 )'`, the color of the shelf in energy-forms-and-

[2017-03-03 02:02] pixelzoom opened #167 "layout of shopping items on scale and shelf"
I'm creating this issue primarily to track decisions that we make.

In the original implementation (e.g. [1.0.0-dev.19](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.19/unit-rates_en.html)), shopping items were arranged in front/back rows on the shelf:

![screenshot_165](https://cloud.githubusercontent.com/assets/3046552/23535146/e420cc18-ff79-11e6-8307-b5931d102daf.png)

...

[2017-03-03 02:11] pixelzoom commented on #167
In [1.0.0-dev.64](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.64/unit-rates_en.html?showAnswers&randomEnabled=false), I implemented the "front/back layout" for both the shelf and scale.

Caveats: This implementation is incomplete. Fruit bags do not open yet, so the shelf is initially populated with some items. If you put bags and individual items on the scale, keep in mind t

[2017-03-03 02:16] pixelzoom commented on #166
For example, `'rgb( 232, 201, 166 )'` is used in [1.0.0-dev.64](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.64/unit-rates_en.html?showAnswers&randomEnabled=false).

[2017-03-03 02:17] pixelzoom commented on #166
For context...

`'rgb( 174, 129, 91 )'` (dark brown) is used in [1.0.0-dev.63](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.63/unit-rates_en.html?showAnswers&randomEnabled=false).

`'rgb( 232, 201, 166 )'` (tan) is used in [1.0.0-dev.64](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.64/unit-rates_en.html?showAnswers&randomEnabled=false).

[2017-03-03 02:20] #165 closed, assigned to nobody

[2017-03-03 16:56] arouinfar commented on #167
@pixelzoom I love the new scale and layout! I think all of the items are very easily distinguishable on the scale and shelf, and overall I think it feels more natural than the stacked items.

[2017-03-03 16:57] arouinfar commented on #166
@pixelzoom I think the lighter-colored shelf looks much better. Thanks for the suggestion!

[2017-03-03 18:38] pixelzoom commented on #167
Great. I'll proceed with the new layout.

[2017-03-03 18:39] pixelzoom commented on #166
Excellent, closing.

[2017-03-03 18:39] #166 closed, assigned to pixelzoom

[2017-03-03 18:40] #167 closed, assigned to pixelzoom

[2017-03-05 21:44] pixelzoom commented on #156
Implemented in [1.0.0-dev.65](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.65/unit-rates_en.html).

@arouinfar please verify.

[2017-03-05 21:57] pixelzoom commented on #156
Found a problem with this.  Sometimes a marker will be created when the "reset shelf" button is pressed. Please hold off on verification.

[2017-03-05 22:00] pixelzoom commented on #156
Steps to reproduce in 1.0.0-dev.65:

1. Shopping screen, Apples
2. drag 1 bag to scale
3. drag 1 Apple to shelf
4. press "reset shelf" button
5. a marker gets created at 1.00/2

This is happening when `scale.reset` is called in `ShoppingScene.resetShelfAndScale`.

[2017-03-05 22:23] pixelzoom commented on #156
Creation of spurious marker fixed in above commit.

[1.0.0-dev.66](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.66/unit-rates_en.html) is ready for review by @arouinfar.

[2017-03-05 22:34] arouinfar commented on #156
Looks great! Thanks @pixelzoom.

[2017-03-05 22:34] #156 closed, assigned to arouinfar

[2017-03-06 18:24] pixelzoom opened #168 "cancel drags via scenery support"
As with many (most?) PhET HTML5 sims, this sim doesn't properly handle cancellation of drags in some scenarios.  Specifically, drags should be cancelled (using built-in scenery support) when:

• Reset All button is pressed
• Reset Shelf button is pressed
• Selected item changes

We decided not to address this for 1.0.0 release, since it only occurs in uncommon multi-touch scenarios.

For scenery s

[2017-03-06 18:47] pixelzoom commented on #168
The commit above handles drags for Reset All, Reset Shelf and change to selected item.  Search for this issue in the code documentation.  The relevant functions are named `cancelDrag` and `cancelDrags`.

When selected item changes, canceling the drag causes the item to begin animating as if the user released it.  When you return to the item, you'll see the animation continue from where it left off

[2017-03-06 18:48] pixelzoom commented on #168
So the status of this issue is:
• Drags are cancelled in an acceptable manner using the old `endDrag(null)` workaround.
• Future work on this issue involves switching to scenery's support for canceling drags, as described in  phetsims/scenery#218.

[2017-03-06 18:59] pixelzoom opened #169 "marker editor doesn't move immediately to 'home' position on Reset All"
If you push the 'Reset All' button in a scenario like this:

![screenshot_170](https://cloud.githubusercontent.com/assets/3046552/23624691/e0bc17f2-0263-11e7-9e22-80533e8d67b6.png)

... the marker editor will _animate_ back to its home position (left of the double number line), rather than move there immediately.  This is because the marker location is handled in the view using TWEEN.   This could

[2017-03-06 19:13] pixelzoom commented on #66
Most complicated bits:

- [x] markerEditorObserver` in DoubleNumberLineAccordionBox
- [x] BagDragHandler and ShoppingItemDragHandler
- [x] ShoppingItemContainer (bagRow, backItemRow, frontItemRow)
- [x] ShoppingQuestionFactory
- [x] Creation and management of bags and items

[2017-03-06 19:35] pixelzoom commented on #66
- [x] Terminology:
• marker
• marker editor
• track marker
• rate
• numerator
• denominator
• item row, bag row, cell

[2017-03-06 19:37] pixelzoom commented on #66
Model hierarchy for shopping screens:

- [x] ShoppingItemData

- [x] ShoppingScene (FruitScene, VegetableScene, CandyScene)

- [x] ShoppingContainer (Shelf, Scale)

[2017-03-06 22:39] pixelzoom commented on #65
Done, closing.

[2017-03-06 22:39] #65 closed, assigned to nobody

[2017-03-07 01:24] pixelzoom opened #170 "test for memory leaks"

[2017-03-07 01:26] pixelzoom opened #171 "Unit Rates: dev testing (round 1)"
Unit Rates is ready for its first round of dev testing.

Here's the dev version:

http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.68/unit-rates_en.html

Familiarize yourself with the domain by reading [model.md](https://github.com/phetsims/unit-rates/blob/master/doc/model.md). Then read the Terminology section of [implementation-notes.md](https://github.com/phetsims/unit-rates/b

[2017-03-07 04:02] pixelzoom commented on #66
Done, closing.

[2017-03-07 04:02] #66 closed, assigned to nobody

[2017-03-07 04:11] pixelzoom commented on #170
Looks like the sim is leaking memory.  With `?fuzzMouse`, heap snapshots spaced a few minutes apart had the following sizes:

Snapshot 1: 50.1 MB
Snapshot 2: 86.1 MB
Snapshot 3: 98.0 MB
Snapshot 4: 164 MB
Snapshot 5: 231 MB
Snapshot 6: 264 MB
Snapshot 7: 330 MB

Mac OS X 10.11.6, Chrome 56.0.2924.87.

Unfortunately the summary shows that what is growing is `Array`, `(array)` and `Object`, so not i

[2017-03-07 04:53] pixelzoom opened #172 "implications of PhET-iO instrumentation on memory management"
This sim has a huge number of model items. So it minimizes the size of the scene graph by destroying and reconstructing pieces of the view when the selected item (Apples, Carrots, etc) changes.  This keeps things like Reset All responsive, and simplifies the implementation of view components.

The tradeoff is that it complicates memory management, compared to approaches where the view persists for

[2017-03-07 05:43] pixelzoom commented on #170
Majority of the leaks are plugged.  Over a similar period (15 minutes) with `?fuzzMouse`, here are the new heap snapshots:

Snapshot 1: 45.0 MB
Snapshot 2: 45.5 MB
Snapshot 3: 46.4 MB
Snapshot 4: 49.2 MB
Snapshot 5: 49.2 MB
Snapshot 6: 51.8 MB
Snapshot 7: 51.6 MB

... and subsequent snapshots seemed to stabilize around 53 MB.

I'll continue to look for leaks. But an 8MB increase over 15 minutes of

[2017-03-07 05:55] pixelzoom commented on #170
After another 10 minutes of fuzz testing (25 minutes total), the heap size is only 55 MB.  And there's nothing that appears to be growing in the Summary view.  So I'm going to call this done.

Other commits that were related to fixing this:
@d18e84f9d1108ca791a7ca75b5a4186206c2e925
@e9a19816f65ec1bc475fb4010dca5d4a6b819c3f
@5f4caf94cbaa48a75fdf3fc71b749b319ef4b145
@4d6da695b1a65cec3a52975160357453

[2017-03-07 05:55] #170 closed, assigned to pixelzoom

[2017-03-07 06:05] pixelzoom commented on #171
Unit Rates is ready for its first round of dev testing.

Here's the dev version:

http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.68/unit-rates_en.html

Familiarize yourself with the domain by reading [model.md](https://github.com/phetsims/unit-rates/blob/master/doc/model.md).  Then read the Terminology section of [implementation-notes.md](https://github.com/phetsims/unit-rates/

[2017-03-07 06:06] pixelzoom commented on #171
@ariel-phet please assign and prioritize.

[2017-03-07 06:12] pixelzoom commented on #159
Unit Rates is ready for code review. @Denz1994 and I are going to meet on 3/8/17 for a general introduction to code review, followed by a tour of the simulation code.

@Denz1994 Please familiarize yourself with the domain by reading [model.md](https://github.com/phetsims/unit-rates/blob/master/doc/model.md), followed by [implementation-notes.md](https://github.com/phetsims/unit-rates/blob/master/d

[2017-03-07 06:17] pixelzoom commented on #171
Moved this issue to tasks repo (https://github.com/phetsims/tasks/issues/797). Closing.

[2017-03-07 06:17] #171 closed, assigned to ariel-phet

[2017-03-07 16:41] samreid commented on #172
Can you be more quantitative about this? I'm not too familiar with the sim.

You are saying that with a larger scene graph causes performance problems?  On all platforms or just iPad?

[2017-03-07 17:03] pixelzoom commented on #172
The issue here is not the design of Unit Rates.  Let's assume that we have a generic sim that changes the scenegraph as the sim is exercised, and therefore needs to implement `dispose`.  Does adding PhET-iO instrumentation require disposing of additional things (e.g. buttons, other common-code components) that did not need to be disposed of before instrumentation?

[2017-03-07 17:04] pixelzoom commented on #172
... and does instrumentation potentially create memory leaks that will occur only when running the sim with PhET-iO enabled?

[2017-03-07 17:44] phet-steele opened #173 "Keypad accepts "." as a submission."
@pixelzoom not sure if this sim is using its own keypad or not, so putting the issue in this repo.

You can submit "." as a keypad value. This produces "$NaN" as an answer for the question prompts or makes the marker editors unresponsive (depending on where "." was submitted). The only way to recover the marker editors is to click the marker refresh button.

Both screenshots taken after submitting

[2017-03-07 17:49] pixelzoom commented on #173
Thanks @phet-steele. The sim is still using the old `NumberKeypad`, since the next-gen keypad is not ready.  The support for decimals in `NumberKeypad` was (quite obviously) never tested, guess I'm the guinea pig.  I'll investigate how to work around this.

[2017-03-07 17:51] pixelzoom commented on #173
This is a problem for all places where the keypad is used (marker editor and the Questions panel).

[2017-03-07 18:09] phet-steele opened #174 "It's too hard to place objects on the scale"
The scale is very unforgiving while placing items on it. It appears the entirety of an item must be above a threshold screen position (denoted by a red line in the screenshot below) to be placed on the scale. If any part of an item is below this threshold, it gets returned to the shelf.
<img width="670" alt="screen shot 2017-03-07 at 10 50 14 am" src="https://cloud.githubusercontent.com/assets/586

[2017-03-07 18:11] pixelzoom commented on #174
You are correct -- the rule is currently that the bottom of the item must be above the top surface of the scale.   Relatively easy to change if we want to change the requirement.

[2017-03-07 18:15] pixelzoom commented on #174
Btw... The current rule is optimized so that it's easy to "flick" items off of the scale.  So careful if/when we change the rule - any changes to make it easier to put items _on_ the scale will make it more difficult to take items _off_ the scale.   For this reason, I really don't recommend moving @phet-steele's "threshold line" to the bottom of the scale image.

[2017-03-07 18:17] phet-steele commented on #174
@pixelzoom Good point! It really was just a secondary thought, anyway.

[2017-03-07 18:26] pixelzoom commented on #173
Fixed in the above commit.  I rewrote the validator to reject anything that is not a well-formed number. And '0' is still rejected by the marker editor, since we don't want to create markers at the origin.

@phet-steele Would you prefer to verify dev-test issues in a new dev version, or are you set up to test with master?

[2017-03-07 18:27] pixelzoom commented on #44
@phet-steele Reminder that you may want to glance at this issue when dev testing this feature of the scale.  Then you can close this issue.

[2017-03-07 18:30] phet-steele commented on #44
Oh believe me, I have been. 😄  Still looking at it.

[2017-03-07 18:30] pixelzoom commented on #174
Note to self:  If we change this, here's what needs to be changed.

[code]

[2017-03-07 18:34] phet-steele commented on #173
@pixelzoom fixes on master look great! No need to formally verify at a later date (since I just did).

[2017-03-07 18:34] #173 closed, assigned to phet-steele

[2017-03-07 18:35] pixelzoom commented on #174
@phet-steele said:

Hmmmm... That would actually be a little difficult.  Bags and items know about their location, which corresponds to their bottom-center.  But they currently know nothing about their height.  And that height is not readily available in the model - it is based on the image file used, and the scaling applied to the image.

An easier change would be to simply move the "threshold li

[2017-03-07 19:27] pixelzoom commented on #159
@Denz1994 I added "**(N/A)**" and checked off the code review items that are not applicable to this sim.  Let me know if you have any questions on those items.

[2017-03-07 19:38] Denz1994 commented on #159
Will do. I am reviewing the implementation notes now.

[2017-03-07 22:59] Denz1994 opened #175 "Use of StopSignNode in Racing Lab Screen."
Currently, the StartStopButton in the Racing Lab Screen uses an image to render the stop sign on the button. Perhaps using the StopSignNode would be a better approach.

_Thoughts_
- Limited use of images that don't render as well in the FireFox browser
- Use of common code for consistency in code development
- Flexibility in adjusting parameters of  the stop sign in cases of future maintenance.

H

[2017-03-07 23:11] pixelzoom commented on #175
Good idea - I wasn't aware that such a node exists.  I don't see `SCENERY_PHET/StopSignNode'.  Are you by any chance using the one in masses-and-springs?

[2017-03-08 00:04] Denz1994 commented on #175
I just added it to the repo recently so you may need to do a pull.

[2017-03-08 00:11] pixelzoom commented on #175
I did a pull of scenery-phet, don't see it. Are you on a branch?

[2017-03-08 00:58] Denz1994 commented on #175
Good advice. Try now.

[2017-03-08 01:02] pixelzoom commented on #175
Got it, thanks. I'll have a look at integrating it into Unit Rates.

[2017-03-08 18:33] pixelzoom opened #176 "i18n problem with cost display on scale"
The cost display on the scale currently assumes that the currency symbol appears at the beginning of the cost, e.g. "$1.00".   But that's a bad assumption, since many countries put the currency symbol after the value, e.g. "20,50 €".

The order is controlled by this string:

[code]

If the symbol is moved to the end of the string, it is currently not shown on the scale.

@arouinfar  Design issue:

[2017-03-08 18:35] phet-steele commented on #176
@pixelzoom I was just about to make an issue about `?stringTest=rtl`. Is this screenshot what you just described?

<img width="650" alt="screen shot 2017-03-08 at 11 34 45 am" src="https://cloud.githubusercontent.com/assets/5863899/23718038/5899e37c-03f3-11e7-94cd-fb58375bd45d.png">

[2017-03-08 18:40] pixelzoom commented on #159
Memory leak testing was done in https://github.com/phetsims/unit-rates/issues/170, if you want to confirm my tests.

[2017-03-08 19:08] pixelzoom opened #177 "delete unnecessary dispose code"
Decided to do this while going over code review with @Denz1994.

The only necessary `dispose` code is in the view for Shopping and Shopping Lab screens. Everything else (model and view) exists for the lifetime of the sim.   So the only places that we should find `dispose:` are in:

[code]

We noticed that there are some `dispose` functions implemented in the model and the Racing Lab screen. Since

[2017-03-08 19:13] pixelzoom opened #178 "dispose of ShoppingSceneNode when switching categories"
Currently, each category keeps its most recent ShoppingSceneNode.  So switching between categories doesn't result in disposal of a ShoppingSceneNode.  @Denz1994 found this a bit confusing, and recommended (for consistency) to handle dispose uniformly.

[2017-03-08 19:13] pixelzoom commented on #178
https://github.com/phetsims/unit-rates/issues/159

[2017-03-08 19:13] pixelzoom commented on #177
https://github.com/phetsims/unit-rates/issues/159

[2017-03-08 19:13] pixelzoom commented on #177
Done, closing.

[2017-03-08 19:13] #177 closed, assigned to pixelzoom

[2017-03-08 19:18] pixelzoom opened #179 "Reset All results in 'random selection' of item"
Code review #159.

@Denz1994 thought it was a bit confusing that the Reset All button chooses a random fruit (as is done at startup).

To reproduce:
1. start the sim
2. go to Shopping screen
3. press Reset All button; the selected fruit is randomly changed
4. press Reset All button again; the selected fruit is randomly changed again

@arouinfar Let me know if you want to change the behavior. And t

[2017-03-08 19:21] arouinfar commented on #169
Thanks for letting me know @pixelzoom. I don't think this is anything we need to be worried about.

[2017-03-08 19:21] #169 closed, assigned to arouinfar

[2017-03-08 19:22] phet-steele commented on #179
@arouinfar my very quick two cents (maybe one cent because it's so quick?).

Have the sim startup with a random fruit? Sure.
Have subsequent Reset Alls change what fruit you are playing with? I'd say a hard no on that.

[2017-03-08 19:23] pixelzoom commented on #175
Code review #159

[2017-03-08 19:23] pixelzoom commented on #176
Code review #159

[2017-03-08 19:24] phet-steele opened #180 "iOS has an entirely different check mark..."
...with an entirely different drop shadow to boot. @arouinfar is that okay? The same thing occurs in Balancing Chemical Equations and no one seems to care, but I'm going to mention it anyway.

Expected:
<img width="512" alt="screen shot 2017-03-08 at 12 07 20 pm" src="https://cloud.githubusercontent.com/assets/5863899/23719336/32caa3d4-03f8-11e7-96e6-e6f9a19539d1.png">

iOS:
![img_0073](https://cl

[2017-03-08 19:25] pixelzoom commented on #176
@phet-steele Sounds like a related issue, but not sure - I don't grok that character set.  What was the string that you used?

[2017-03-08 19:27] pixelzoom commented on #175
@arouinfar Should the stop sign be pure red `'rgb( 255, 0, 0 )'`, or should we be using PhetColorScheme.RED_COLORBLIND, `'rgb( 255, 85, 0 )'`.

[2017-03-08 19:29] pixelzoom commented on #179
@phet-steele Are you also implying that if we're playing with Carrots (the Vegetable category), that we shouldn't reset to Fruit?

[2017-03-08 19:31] pixelzoom commented on #179
@arouinfar My 2 cents... The screen should be entirely reset, typical of the behavior for all sims.  But each category should be reset to whatever item was randomly selected at startup.

[2017-03-08 19:34] arouinfar commented on #179
@Denz1994 and @phet-steele have made some good points. I think randomization on startup is sufficient to address the goal of randomization -- a classroom full of students will work on a variety of fruits, by default. I don't see any need for Reset All to also randomize the fruit, and it does feel a bit weird.

I'm a little hesitant  about this suggestion @phet-steele. It also diverges from the beh

[2017-03-08 19:39] arouinfar commented on #176
In this situation could the currency symbol be given the right-most slot on the scale?

If the price has two decimal places, there would be a space between the number and currency symbol like so:
25,00 €

Otherwise, it would look like this:
25,125€

[2017-03-08 19:41] phet-steele commented on #179
I was going off of the procedure @pixelzoom described in https://github.com/phetsims/unit-rates/issues/179#issue-212829404, in which case Reset All should NOT be changing what you are playing with. Incidently, what @pixelzoom then wrote...

... is exactly what I was just about to type. So it seems we are all in agreement!

[2017-03-08 19:47] phet-steele commented on #176
`?stringTest=rtl` can be found in chipper's initialize-globals.js. The string it uses is:

\u202b\u062a\u0633\u062a (\u0632\u0628\u0627\u0646)\u202c

This is all I know.

[2017-03-08 19:51] arouinfar commented on #174
I think the threshold for placing items on the scale is too restrictive, and that these failed attempts make the sim feel buggy.
![shelf_sensitivity](https://cloud.githubusercontent.com/assets/8419308/23720635/71393dd4-03fc-11e7-9fd0-0842277b7b99.gif)

I also got some feedback from Susan that students using Chromebooks (which generally have poor trackpads) struggled to put items on the scale. I wo

[2017-03-08 19:55] arouinfar commented on #174
@phet-steele's suggestion is nice, but given the added complexity, I think it's fine to to keep the reference point at the bottom center of the object.

[2017-03-08 19:58] arouinfar commented on #180
@phet-steele good observation. I find it a little odd, but not bothersome.

Perhaps there could be a separate common code issue to look into the difference in appearance, and perhaps address it? I don't think it's a high priority issue, but I still think it would be good to look into it, as time allows.

@phet-steele can you create an issue about the checkmark appearance in the appropriate common

[2017-03-08 20:00] arouinfar commented on #175
Good question @pixelzoom. I'd go with pure red, as that's truer to the color of a real stop sign.

[2017-03-08 20:10] arouinfar commented on #175
In the colorblind preview modes, I think pure red has sufficient contrast.
![image](https://cloud.githubusercontent.com/assets/8419308/23721762/211ce392-0400-11e7-8e56-2c8fcfaf6551.png)  ![image](https://cloud.githubusercontent.com/assets/8419308/23721770/295435ce-0400-11e7-9399-e717de537f97.png)

[2017-03-08 20:47] pixelzoom commented on #176
@arouinfar asked:

Yes. But it's going to make a complicated implementation even more complicated.  But I can't think of any other alternative, so I'll proceed with that.

[2017-03-08 20:51] pixelzoom commented on #178
This will make the performance of switching categories the same as switching items.  And it should make Reset All slightly more responsive on iPad (where it's already under 1 sec.)

[2017-03-08 20:58] phet-steele opened #181 "Pressing two or more edit buttons at once creates multiple keypads"
Pressing multiple edit buttons at once, with multiple fingers, "creates" multiple keypads. This can be any combination of edit buttons, whether they are for a marker or in the question panel. This is only doable with a touchscreen and multitouch (so far only on iOS, haven't been successful on Win 10 Chrome).

To demonstrate:

1. It's easiest to "prime" your fingers by pressing and holding on two d

[2017-03-08 20:59] pixelzoom commented on #179
@phet-steele please verify in master.

To verify:
1. start sim
2. go to Shopping screen
3. for each category (fruit, vegetable, candy):
    • select the category
    • note the initial item selection in the combo box
    • changing the selection in the combo box
4. press Reset All button
5. for each category (fruit, vegetable, candy):
    • select the category
    • verify that the item selected i

[2017-03-08 21:02] pixelzoom commented on #181
The problem here is that buttons fire when they are released ("pointer up").  The easy resolution is to change the edit buttons to fire on press ("pointer down"), but that will mean that they are slightly non-standard.  Let me mull this over to see if I can come up with a better solution.

[2017-03-08 21:05] phet-steele commented on #181
@pixelzoom wouldn't that just mean I could change step 1 in the procedure to not begin with pressing and holding two buttons? I would instead just press the screen at the same time with two fingers.

[2017-03-08 21:11] phet-steele commented on #179
Works beautifully, thanks @pixelzoom! Everything behaves as described above.

[2017-03-08 21:11] #179 closed, assigned to phet-steele

[2017-03-08 21:12] pixelzoom commented on #180
Curious...

The checkmark is a Unicode character (`'\u2713'`, "heavy-ballot check mark") that is rendered with `scenery-scenery.ShadowText`, with font family `'Arial'`.    Here's the code in ShoppingQuestionNode:

[code]

But it appear to be rendered in a different font on iOS.

@jonathanolson Any insights?

[2017-03-08 21:14] pixelzoom commented on #179
Thanks @Denz1994 for suggesting this change. It feels much better.

[2017-03-08 21:17] pixelzoom commented on #181
@phet-steele said:

It's impossible to generate 2 scenery input events at exactly the same time. Even if you actually managed to press the screen with multiple fingers at exactly the same time, scenery input events are ordered, and 1 of the 2 events will be delivered before the other. And the first event will open the keypad, which blocks any subsequent events from being delivered to anything but

[2017-03-08 21:18] pixelzoom commented on #181
... and the first event will open the keypad, which blocks any subsequent events from being delivered to anything but the keypad.

[2017-03-08 21:19] jonathanolson commented on #180
Doesn't look like the Mac version of Arial on my MBP specifies the question mark, probably falls back to the  default "sans-serif" system font per platform.

If a consistent appearance is desired, font-awesome could be used?

[2017-03-08 21:36] pixelzoom commented on #175
I've replaced stop_button.png with StopSignNode in the above commits.

@Denz1994 Note that I also did some cleanup of StopSignNode.  Please review, then feel free to close this issue.  Note that (in general) a function (like `createStopSignPath`) that don't require access to constructor fields should be defined _outside_ of the constructor, otherwise every instance of the type gets a copy of the f

[2017-03-08 21:40] pixelzoom commented on #180
@arouinfar Is the font-awesome check marker acceptable? http://fontawesome.io/icon/check/

[2017-03-08 21:42] pixelzoom commented on #180
In context (I can investigate whether there's a version without the box):

![screenshot_171](https://cloud.githubusercontent.com/assets/3046552/23725367/7bdd3090-040d-11e7-9839-7790577b81f7.png)

[2017-03-08 21:42] phet-steele opened #182 "Clicking on a marker text area to edit becomes harder if the text area contains a value"
This is because the value string is not clickable. Users must resort to clicking on the outer part of the marker's text area. This is inconsistent with the questions panel, as the values entered there can still be clicked to allow editing.

Can't click to edit (observe the state of my cursor change from screenshot to screenshot):
<img width="230" alt="ur1" src="https://cloud.githubusercontent.com/

[2017-03-08 21:55] pixelzoom commented on #180
Here's the font-awesome check mark without the box.  I don't think it would benefit from a drop shadow. @arouinfar is this acceptable?

![screenshot_175](https://cloud.githubusercontent.com/assets/3046552/23725785/2614496c-040f-11e7-9b4b-796c703a9e88.png)

[2017-03-08 21:57] pixelzoom commented on #180
Other sims that use the Unicode check mark ('\u2713'), and should also be fixed:

balancing-chemical-equations
graphing-lines

[2017-03-08 22:04] pixelzoom commented on #182
@phet-steele Fixed in master, please verify.

[2017-03-08 22:04] arouinfar commented on #180
@pixelzoom I like the checkmark in https://github.com/phetsims/unit-rates/issues/180#issuecomment-285182113. As for the drop shadow, I could take it or leave it.

Since this will effect more than Unit Rates, I'd like to for @ariel-phet and/or @amanda-phet to also review.

[2017-03-08 22:14] amanda-phet commented on #180
I think the other sims also have an incorrect "x", so if we made a universal change we'd want to consider how that would look we well.

The default sans-serif in iOS doesn't bother me, but using fontawesome seems like a good idea.

This is the "x" that we'd probably use:
![screen shot 2017-03-08 at 3 13 29 pm](https://cloud.githubusercontent.com/assets/7852916/23726557/deebf4d8-0411-11e7-99b0-81a8

[2017-03-08 22:20] phet-steele commented on #182
👍

[2017-03-08 22:20] #182 closed, assigned to phet-steele

[2017-03-08 22:23] pixelzoom commented on #174
The threshold line has been moved as shown in the screenshot below. Run with `?dev` to display the line.  @arouinfar @phet-steele please verify in [1.0.0-dev.69](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.69/unit-rates_en.html).

![screenshot_176](https://cloud.githubusercontent.com/assets/3046552/23726886/2ebc892c-0413-11e7-9759-ab00673af1c3.png)

[2017-03-08 22:25] phet-steele commented on #180
Believe it or not, the "x" is the same on both platforms. The "x" in question is below and looks the same on iOS vs. macOS 10.12.3, maybe something else is going on here?
<img width="378" alt="screen shot 2017-03-08 at 3 21 04 pm" src="https://cloud.githubusercontent.com/assets/5863899/23726843/0b361cde-0413-11e7-9b9b-af0dccd9eec5.png">

Regardless, @amanda-phet is correct in saying that if we cha

[2017-03-08 22:26] pixelzoom commented on #180
Indeed, those other sims use Unicode "big X" (`'\u2718'`) for incorrect.  E.g.:

![screenshot_177](https://cloud.githubusercontent.com/assets/3046552/23726992/93ebc81c-0413-11e7-9e75-00caad99565f.png)

[2017-03-08 22:30] arouinfar commented on #174
Feels much better @pixelzoom! I have interviews scheduled for tomorrow, so I'll leave this open and self-assigned to watch out for any issues.

[2017-03-08 22:32] pixelzoom commented on #180
Fontawesome check marks are used in this dev version, if anyone wants to test drive:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.69/unit-rates_en.html

[2017-03-08 22:38] pixelzoom commented on #178
After investigating, I decided that I'm not going to do this. It would either (a) also involve disposing of the combo boxes, or (b) require non-trivial changes to how the top-level view is structured.  And I don't think that those changes are worth the small advantages in consistency.

[2017-03-08 22:38] #178 closed, assigned to pixelzoom

[2017-03-08 22:42] amanda-phet commented on #180
The check looks fine to me, and as long as people are OK with the x then we can plan to use those icons in future sims (and sim releases).

[2017-03-08 22:42] ariel-phet commented on #180
I would say the non-font-awesome has a bit more of a "hand drawn feel" so it is really an aesthetic choice. I am fine with either, and I think the meaning is clear with either.

Deferring that decision to @arouinfar since @amanda-phet seems fine with the look

[2017-03-08 22:44] pixelzoom commented on #181
@phet-steele I pushed a fix to master. Attempts to open a second keypad are now simply ignored. I don't have an iPad handy, so would appreciate it if you could verify.  (Make sure that the value boxes don't change color.) Thanks.

[2017-03-08 22:47] pixelzoom commented on #180
@arouinfar If you're fine with the font-awesome icons (check and X), then assign back to me. I'll create issues to use those icons in balancing-chemical-equations and graphing-lines.

[2017-03-08 22:48] arouinfar commented on #180
@ariel-phet I would agree that the original (non-iOS) check is a bit more aesthetically pleasing than the font-awesome check. However, I think the advantage of using the font-awesome icons will be that the look is consistent across platforms, which is apparently a failing of the unicode version.

@pixelzoom please proceed with the font-awesome icons.

[2017-03-08 23:00] phet-steele commented on #181
Cannot yet verify, error on attempt to cause the issue. However, looks promising.
[code]

[2017-03-08 23:00] arouinfar commented on #176
@phet-steele  FYI, the string literally says "Test (Language)" in Persian.

[2017-03-08 23:17] arouinfar commented on #176
@pixelzoom the only alternative I can think of would be to not allow localization of the ordering of the currency symbol and price. However, this seems less desirable.

[2017-03-08 23:46] pixelzoom commented on #180
Implemented for unit-rates in [1.0.0-dev.69](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.69/unit-rates_en.html).  Issues created for other sims. Closing.

[2017-03-08 23:46] #180 closed, assigned to pixelzoom

[2017-03-08 23:50] pixelzoom commented on #181
Ah, sorry @phet-steele, I forgot to check whether logging was enabled.  Fix pushed to master, please try again.

[2017-03-08 23:51] pixelzoom commented on #181
If you add `?log` query parameter, you should see a log message (in the console) like this for each attempt to open a duplicate keypad:

[2017-03-08 23:54] Denz1994 opened #183 "String test= double gives inconsistent cost readout"
The values cost readout on the scale doesn't produce the same number of decimal places when 'doubled'.
Is this a significant problem? @pixelzoom

**Shopping**
![image](https://cloud.githubusercontent.com/assets/13894380/23729518/89c3fa42-041f-11e7-8b11-1d4938846674.png)

**Shopping Lab**
![image](https://cloud.githubusercontent.com/assets/13894380/23729537/a94d328e-041f-11e7-852b-b982c28550d4.png)

[2017-03-08 23:58] pixelzoom commented on #183
This is a known problem with how `stringTest` handles patterns (strings with placeholders, like "${0}").  See https://github.com/phetsims/chipper/issues/413.  Since it's unlikely to be fixed anytime soon, PhET has been generally ignoring this problem when testing sims.  I think it's appropriate to ignore it here too, since it's not a real-world problem.    But thanks for reporting it.

Closing.

[2017-03-08 23:58] #183 closed, assigned to pixelzoom

[2017-03-08 23:58] pixelzoom commented on #183
#159

[2017-03-09 00:09] Denz1994 opened #184 "Numbers in questions accordion box typed as string."
The inputs for the question answers in the questions accordion box are numbers that are typed as strings.
I'm assuming this is specifically done for comparing correct answers with the inputted response. @pixelzoom

Using stringTest=x produces the below image.
![image](https://cloud.githubusercontent.com/assets/13894380/23729819/425a47ea-0421-11e7-818d-2d450f1a6518.png)

Reference #159

[2017-03-09 00:18] pixelzoom commented on #176
In order to fix this, I'll have to parse the cost pattern (`"${0}"`) identified in https://github.com/phetsims/unit-rates/issues/176#issue-212818202.  I'll need to extract the currency symbol, determine whether it goes before or after the number on the scale, and render it as a separate node.   In general, parsing a pattern string is something that should *never* be done.  Beyond verifying that th

[2017-03-09 00:22] pixelzoom commented on #184
The red 'x' in the screenshot above is more than just a number.  It's a number that's formatted as currency using the pattern "${0}".  That pattern is what's being replaced with 'x' by stringTest.

Make sense?

[2017-03-09 00:24] Denz1994 commented on #184
Understood. Closing.

[2017-03-09 00:24] #184 closed, assigned to Denz1994

[2017-03-09 16:59] Denz1994 commented on #175
Ahh, I see. Good to know.

[2017-03-09 16:59] #175 closed, assigned to Denz1994

[2017-03-09 17:17] phet-steele commented on #181
Looks good.

[2017-03-09 17:17] #181 closed, assigned to pixelzoom, phet-steele

[2017-03-09 17:36] pixelzoom commented on #176
@ariel-phet suggested something like this...

Have 2 strings in the string file:

[code]

If `currencySymbolRight` has a non-zero-length value, then use that currency symbol, put it on the right, and ignore `currencySymbolLeft`.   Otherwise use `currencySymbolLeft`, and put it on the left.  In pseudocode, the logic is:

[code]

My concern with this approach is that embedding `if-then-else` logic l

[2017-03-09 18:35] pixelzoom commented on #176
3/9/17 Skype call with @arouinfar and @ariel-phet:
Put currency symbol on the left for the scale.  Revisit if we get pushback from translators.

[2017-03-09 20:54] Denz1994 opened #185 "Dependencies.json breaks format for code review"
I noticed you recently added updated dependencies. It seems that other sims place their dependencies in the sim's repo at the same location.  Should the code review doc be updated to include dependencies.json in the repo structure section?

_Current documentation_
[code]

_Suggested change (with documentation that dependencies.json may be optional)_
[code]
@pixelzoom

[2017-03-09 21:13] pixelzoom commented on #185
`dependencies.json` is indeed a file that will always be in that same location. It's not generated when you create the sim via "grunt create-sim". It's generated by the build process when you "grunt deploy-dev".  So it's not there until you've deployed at least 1 version.  But it should be there by the time a code review starts.   So, yes, please revise the code-review checklist (in phet-info) to

[2017-03-09 21:36] Denz1994 commented on #185
Reference https://github.com/phetsims/phet-info/commit/1ce0a66a384cadb16d9a4cb1cc995f6d050048d4 for change in documentation.

[2017-03-09 21:36] #185 closed, assigned to Denz1994

[2017-03-10 17:25] phet-steele commented on #44
Things look to be working! Haven't noticed a discrepancy in three days.

[2017-03-10 17:25] #44 closed, assigned to phet-steele

[2017-03-10 21:36] pixelzoom commented on #176
@arouinfar please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.70/unit-rates_en.html?showAnswers&randomEnabled=false

Here are a couple of screenshots showing the behavior with the `'€'` currency symbol, placed on the right in questions and answers.  Note that `'€'` still appears to the left of cost on the scale.

![screenshot_190](https://cloud.githubusercontent.c

[2017-03-12 20:53] samreid commented on #172
Yes.  For instance, imagine an "add electron" button that disappears when the user is in Mode B.  If you go back to Mode A, then back to Mode B and create a new "add electron" button, there will be a problem if the original "add electron" button was never disposed.  PhET-iO will report a problem that two different instances cannot be assigned the same tandem.  The normal solution to this problem i

[2017-03-12 21:57] pixelzoom commented on #172
Recommended to expand the documentation on how instrumenting affects memory management, see https://github.com/phetsims/phet-io/issues/1073.

Unanswered question in https://github.com/phetsims/unit-rates/issues/172#issuecomment-284788143:

[2017-03-12 23:34] pixelzoom commented on #55
@phet-steele Since we're close to RC... what are the desired QA credits?

Current QA credits in unit-rates-main.js are:

[code]

[2017-03-12 23:35] pixelzoom commented on #55
Current QA credits in unit-rates-main.js are:

[code]

[2017-03-13 15:10] samreid commented on #172
If objects are continually created and registered with tandem and never removed from the tandem registry, it will result in a memory leak.

[2017-03-13 16:19] phet-steele commented on #55
RC testing is still testing that may add more people to the credits, so again I can't tell you the final credits until the sim passes RC. For now, you could at least add Ethan Johnson.

[2017-03-13 16:37] pixelzoom commented on #172
If I have a sim that is instrumented for PhET-iO, will potential tandem leaks show up only when running with PhET-iO enabled?  I.e., do I need to do memory leak testing with PhET-iO enabled?

[2017-03-13 16:40] samreid commented on #172
The phet-io/tandem registry only exists when PhET-iO is enabled.  When running in phet brand, this memory leak won't be possible.

[2017-03-13 16:42] pixelzoom commented on #172
Thanks, question answered. Closing.

[2017-03-13 16:42] #172 closed, assigned to samreid

[2017-03-13 16:46] pixelzoom commented on #172
Noted in https://github.com/phetsims/phet-info/issues/43 that the code-review checklist should be revised to indicate that memory leak testing must be done with PhET-iO enabled for instrumented sims.

[2017-03-13 17:43] arouinfar commented on #174
Everything was fine in iPad interviews, so I think it's safe to go ahead and close this.

[2017-03-13 17:43] #174 closed, assigned to arouinfar

[2017-03-13 17:55] arouinfar commented on #96
I didn't notice any issues in interviews. Closing.

[2017-03-13 17:55] #96 closed, assigned to arouinfar

[2017-03-13 18:30] pixelzoom opened #186 "change range and delta for hours spinners"
Requested by @arouinfar:

For the hours spinners in Racing Lab screen:

• change the range to [0.5,10]
• change delta to 0.5

OK to show integer values as (e.g.) "7.0" in the spinner.

[2017-03-13 18:32] arouinfar commented on #176
Looks good to me! Thanks @pixelzoom.

[2017-03-13 18:32] #176 closed, assigned to arouinfar

[2017-03-13 18:45] pixelzoom opened #187 "make bags and items move up a couple of pixels on startDrag"
Requested by @arouinfar:
When you click on a bag or item, make it move straight up a few pixels, so that it's obvious that it has come off the shelf or scale.

[2017-03-13 18:47] Denz1994 opened #188 "Removing functions used for debugging."
@pixelzoom Should functions used for debugging and not explicitly called be removed from the published sim or will these functions help with maintenance?

For example : common/model/rate.js

[code]

[2017-03-13 18:51] Denz1994 commented on #188
rate.equals() follows the same format
[code]

[2017-03-13 19:02] pixelzoom commented on #188
I've used `Rate.toString` repeatedly to inspect `Rate` instances in the console. And I feel that it will be useful for future maintenance, so it stays.

I've removed `Rate.equals`.  Was used in some early debugging, but unlikely to be useful in the future.

Btw... In general, `toString` and `equals` are common things to implement for types, whether they are used or not, and especially for debuggin

[2017-03-13 19:05] Denz1994 commented on #188
Makes sense. There are no references to ```Rate.equals```. Closing.

[2017-03-13 19:05] #188 closed, assigned to Denz1994

[2017-03-13 19:05] phet-steele opened #189 "Flip/edit images where necessary to keep the light source consistent"
@arouinfar there is a lot of light source mixing with the item images. All fruit are backwards, and other images scattered here and there backwards. For example:

This:
![image](https://cloud.githubusercontent.com/assets/5863899/23870844/8d752c16-07ed-11e7-858f-86fedcc9cffd.png)

Should be flipped to this (image from Proportion Playground, it's slightly different):
![image](https://cloud.githubuse

[2017-03-13 19:06] pixelzoom commented on #187
Bags and items now move up 5 pixels on pointer down.  I made it easy to change this value, and it can be changed independently for bags and items.

@arouinfar for your review:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.71/unit-rates_en.html?showAnswers&randomEnabled=false

[2017-03-13 19:11] arouinfar commented on #187
Looks great! Thanks @pixelzoom.

[2017-03-13 19:11] #187 closed, assigned to arouinfar

[2017-03-13 19:14] pixelzoom commented on #186
@arouinfar dev version for your review:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.71/unit-rates_en.html?showAnswers&randomEnabled=false

Previously, the fastest rate was 100 miles/hour.  Since the minimum hours was changed to 0.5, the fastest rate is now twice as fast (100 miles / 0.5 hour = 200 miles/hour).

This change has no affect on the relative speed that the car wil

[2017-03-13 19:16] pixelzoom commented on #186
Since it sounded like this change request wasn't a "done deal", I also made it easy to undo this change, if desired.

[2017-03-13 19:27] pixelzoom commented on #189
If this gets fixed, it needs to be fixed in the .ai files, not in the .png files or (worse) by flipping in the code.

Here's the artwork that has inconsistent lighting, these files live in https://github.com/phetsims/unit-rates/tree/master/assets:

apple.ai
apple_bag.ai
lemon.ai
lemon_bag.ai
orange.ai
orange_bag.ai
pear.ai
pear_bag.ai

After the .ai files are modified, I'll need PNG files with the

[2017-03-13 19:59] arouinfar commented on #186
Thanks @pixelzoom. Everything looks great, and the default animation speed still feels good.

A question @pixelzoom -- please feel free to shoot this down if unreasonable. Non-integer values in the denominator are most useful when less than one. Would it be possible to piecewise define the step value? For values < 1, step in 0.25 increments. For values > 1, step in increments of 1. The denominator

[2017-03-13 20:01] pixelzoom commented on #186
It's possible. But then you're going to always see _two_ decimal places in the spinner.  I.e. the denominator progression would actually be 0.25, 0.50, 0.75, 1.00, 2.00, 3.00,...  Let me know if you want me to do that.

I should also say... While that progression may hit the "useful" values, I think that a progression like that is going to be mighty confusing to the user. Spinners typically have a

[2017-03-13 20:04] pixelzoom commented on #186
I should also say... While that progression may hit the "useful" values, I think that a progression like that is going to be mighty confusing to the user.

[2017-03-13 20:05] pixelzoom commented on #186
I should also say... While that progression may hit the "useful" values, I think that a progression like that is going to be mighty confusing to the user.    Spinners typically have a consistent delta.

[2017-03-13 20:08] arouinfar commented on #189
Thanks for the suggestion @phet-steele. I think this is something that @amanda-phet has also brought up at some point. I will update the files in @pixelzoom's comment.

[2017-03-13 20:21] Denz1994 opened #190 "Query Parameters refactored into sim specific directories."
Following this bullet in the code review document:

Currently, all of the query parameters are located in a common directory. Should screen specific query parameters be located in their own directory as suggested below:

**CommonQueryParameters:**
- ?log

**ShoppingQueryParameters**
- ?showCells
- ?showAnswers
- ?randomEnabled
- ?animationSpeed

**ShoppingLabQueryParameters**
- ?showCells
- ?rando

[2017-03-13 20:26] pixelzoom commented on #190
Nope. Read the review item again.  Query parameters are encapsulated in 1 file _per sim_, not per screen.  The idea is that team members and testers should have 1 place they need to consult.

[2017-03-13 20:29] Denz1994 commented on #190
Very true. Closing because this is handled correctly.

[2017-03-13 20:29] #190 closed, assigned to Denz1994

[2017-03-13 21:21] arouinfar commented on #186
@pixelzoom you make some excellent points.  For me, it comes down to whether or not the pedagogical benefit outweighs the quirks. Frankly, I'm not sure. @amanda-phet can you review and advise?

[2017-03-13 21:33] arouinfar opened #191 "Shopping Lab: default rates"
@pixelzoom as discussed, we'd like to change the default rates of carrots and purple candy on the Shopping Lab.

Default Rates:
Apples: $1/1 Apples
Carrots: $3/4 Carrots
Purple Candy: $3/2 pounds

[2017-03-13 21:46] amanda-phet commented on #186
I think that the current spinner is a great improvement over the original and would prefer not to have the two decimal places. My vote is to keep it as-is.

[2017-03-13 21:47] arouinfar commented on #186
Thanks @amanda-phet! I'm also happy with the new spinner.

There's no need for any further changes @pixelzoom. Closing.

[2017-03-13 21:47] #186 closed, assigned to pixelzoom, amanda-phet, arouinfar

[2017-03-13 21:53] pixelzoom commented on #159
@Denz1994 I noticed some documentation changes like this one in ShoppingItem, where the documentation for a `{boolean}` has been changed from a question to a "determines..." comment:

Please don't change these.  My style for documenting booleans is to often express them as a question, and I think it's plenty clear.  The change is also technically incorrect; the option does not determine the visibi

[2017-03-13 21:54] pixelzoom commented on #159
@Denz1994 I noticed some documentation changes like this one in `ShoppingItem`, where the documentation for a `{boolean}` has been changed from a question to a "determines..." comment:

[code]

Please don't change these. My style for documenting booleans is to often express them as a question, and I think it's plenty clear. The change is also technically incorrect; the option does not determine th

[2017-03-13 21:57] Denz1994 commented on #159
Understood. Thanks for the revision.

[2017-03-13 21:59] pixelzoom commented on #191
@arouinfar please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.72/unit-rates_en.html

[2017-03-13 22:00] arouinfar commented on #191
👍

[2017-03-13 22:00] #191 closed, assigned to arouinfar

[2017-03-13 22:04] Denz1994 opened #192 "Flag introduced as common code?"
Would it be worth introducing the flags used in the racing screen as common code?

![image](https://cloud.githubusercontent.com/assets/13894380/23876648/1c19f53a-0804-11e7-8b39-39eb6b076c7a.png)
![image](https://cloud.githubusercontent.com/assets/13894380/23877053/0f185154-0806-11e7-8dd0-03dd1765ea23.png)

[2017-03-13 22:08] pixelzoom commented on #192
I think that would be premature. For something like this, we typically wait until a 2nd simulation needs it. Like you did with StopSignNode.

[2017-03-13 22:09] Denz1994 commented on #192
Sounds like a good workflow to maintain. Good input. Closing.

[2017-03-13 22:09] #192 closed, assigned to Denz1994

[2017-03-13 22:37] Denz1994 opened #193 "Should (dt) be capped?"
Sim skips ahead when switching tabs.

Steps to reproduce:
1. Start sim
2. Enter shopping screen.
3. Drag item bag to the edge of screen bounds.
4. Release item bag and before bag reaches its destination, switch tabs in the browser.
5. Wait a few seconds.
6. Switch back to sim. At this point, the bag will jump to its destination.

*Note: A similar approach can be done for the cars in the racing lab

[2017-03-13 22:50] Denz1994 commented on #188
#159

[2017-03-13 22:51] Denz1994 commented on #190
#159

[2017-03-13 22:51] Denz1994 commented on #192
#159

[2017-03-13 22:52] Denz1994 commented on #193
#159

[2017-03-13 22:57] pixelzoom commented on #193
There is no large dt in this sim. What you're seeing is that the animation pass when switching screen, and continues where it left off when you return to the screen (see https://github.com/phetsims/unit-rates/issues/155).

To convince yourself that there is no large dt:

1. Add  `console.log( 'dt=' + dt );` after line 104 in URMovable.
2. Run the sim with `?animationSpeed=100` to slow down animati

[2017-03-13 23:08] pixelzoom commented on #193
For example, here's what I see:

[code]

[2017-03-13 23:09] pixelzoom commented on #193
Similar for cars in the racing screen. There's no big dt jump, they simply resume animation when you switch back to the screen.

[2017-03-13 23:38] Denz1994 commented on #193
I agree with your explanation above and was able to reproduce similar dt values with the steps given.

If I insert a `console.log( 'dt=' + dt );` after 155 in racingLab/model/RaceCar.js. I get these results using the method described above, but instead of switching screens, I switch browser tabs. Also switching browser tabs doesn't make the animation continue from where it was left off at the time

[2017-03-13 23:50] pixelzoom commented on #193
Ah... switching browser tabs, thanks for clarifying.  Indeed, it looks like that's not being handled properly.  I'll take care of it.

[2017-03-13 23:56] Denz1994 opened #194 "Missing dispose function for derived property?"
In `common\model\DoubleNumberLine.js` at the initializaion of `this.denominatorRangeProperty` (line 84) and `this.numeratorRangeProperty` on (line 106), it is documented that these properties need disposal.

I cannot find a corresponding disposal call for these properties. Please advise if I am missing something. Thank you.

[2017-03-13 23:57] Denz1994 commented on #194
#159

[2017-03-13 23:59] pixelzoom commented on #194
`dispose` is not needed the for anything in the model, it exists for the lifetime of the sim.  The documentation was incorrect, fixed in the above commit.  Thanks for catching.

[2017-03-14 00:00] Denz1994 commented on #194
Understood. Thanks for the update. Closing.

[2017-03-14 00:00] #194 closed, assigned to Denz1994

[2017-03-14 00:03] Denz1994 commented on #159
At this time, I have gone through the code review doc as listed above and reviewed the sim's code base to the best of my ability with consistent consultation with @pixelzoom as needed. At this time all unchecked boxes have corresponding issues. When these issues are closed I will review them and check these boxes for a completed code review.

[2017-03-14 00:07] pixelzoom commented on #193
dt is capped in the above commit.  Looking at other sims (`ProportionModel`), it's best to cap it in the `step` function of the top-level of the model.  In our case, that's `ShoppingModel` and `RacingLabModel`. (`ShoppingLabModel` is a subtype of `ShoppingModel`, so inherits `step` and the dt cap.)

@Denz1994 can you please verify in master?

[2017-03-14 00:09] pixelzoom commented on #193
Btw... I chose the cap value of `0.1` by inspection of typical dt values.  They were generally in the range of `0.2`, but sometimes as high as `0.75`.  A value of `0.1` is low enough not to dampen legitimate values, but high enough to prevent any huge jumps when switching back to the sim's tab.

[2017-03-14 00:36] Denz1994 commented on #193
Understood. I tested the dt values with the repeated methodology described above and received these values.

dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.017
dt = 0.025
dt = 0.025

Similar values are also recovered in the racing lab scene. Also, tab switching doesn't interfere with animation of items/bags. Thanks for the update. Closing.

[2017-03-14 00:36] #193 closed, assigned to Denz1994

[2017-03-14 18:58] arouinfar commented on #189
Reflected artwork has been emailed to @pixelzoom.

[2017-03-14 21:30] pixelzoom commented on #189
@arouinfar @phet-steele please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.73/unit-rates_en.html

Last one to verify, please close.

[2017-03-14 21:33] pixelzoom commented on #159
The only unchecked items are:

Both of these are related to credits, and are tracked in https://github.com/phetsims/unit-rates/issues/55.

So I'm going to go ahead and close this issue.  Thanks for the review @Denz1994!

[2017-03-14 21:33] #159 closed, assigned to Denz1994

[2017-03-14 21:33] pixelzoom commented on #159
@ariel-phet code review is completed.

[2017-03-14 21:37] pixelzoom commented on #81
@arouinfar did you notice any problem with this in interviews? Did students use the eraser button?

[2017-03-14 21:39] pixelzoom commented on #1
@arouinfar Please review the check list to see if there's anything that can be checked off.

I don't know when "initial development" started, so please fill that in if you have even a rough idea.

[2017-03-14 21:56] pixelzoom commented on #189
@arouinfar noted that the Shopping Lab screen icon also needs to be fixed.

shopping_lab_screen_icon.png, 548x373

[2017-03-14 22:12] arouinfar commented on #81
@pixelzoom this batch of students didn't really leverage the DNL that much, so they didn't have a reason to use the eraser button. I learned after the fact that BVSD doesn't introduce number lines or DNL representations until middle school, and two of the students were in 5th grade and the other was in 7th grade, but a bit behind in math.

Students did use the scale refresh button, which is also g

[2017-03-14 22:15] arouinfar commented on #81
Scrubbing through the screen capture of the first interview, I quickly stumbled across use of the gray eraser button. I think we can go ahead and close this issue.

[2017-03-14 22:15] #81 closed, assigned to arouinfar

[2017-03-14 22:17] arouinfar commented on #1
Will do @pixelzoom.

[2017-03-14 22:22] arouinfar commented on #1
Found a status report from DS from 3/16/16 that says he began work on the Shopping screen, so I'll use 3/14/16 (previous Monday) as the rough start date for implementation.

[2017-03-15 07:59] pixelzoom commented on #189
Shopping Lab screen icon received from @arouinfar, integrated in above commit.

@arouinfar please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.74/unit-rates_en.html

[2017-03-15 17:05] arouinfar commented on #189
:+1:

[2017-03-15 17:05] #189 closed, assigned to arouinfar

[2017-04-03 15:36] pixelzoom opened #195 "create unit-rates-screenshot.png"
@arouinfar please send me a screenshot showing how you would like the sim's thumbnail and screenshot to appear on the PhET website.  You can use [1.0.0-dev.74](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.74/unit-rates_en.html?brand=phet). I'll handle creation of the final screenshot.

[2017-04-03 16:52] arouinfar commented on #195
Let's go with something like this @pixelzoom
<img width="1017" alt="screen shot 2017-04-03 at 9 50 44 am" src="https://cloud.githubusercontent.com/assets/8419308/24620559/0ba24112-1853-11e7-8e23-edbf70bd5e58.png">

[2017-04-03 17:08] pixelzoom commented on #195
To create the above screenshot:
1. run [1.0.0-rc.1](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.1/unit-rates_en.html)
2. go to Shopping screen
3. select Apples from combo box
4. drag left and center bags of Apples from shelf to center of scale

[2017-04-03 17:12] pixelzoom commented on #195
I don't have a retina iPad, so can't create the screenshot.  @jessegreenberg volunteered to create it, thanks!

[2017-04-03 17:13] pixelzoom commented on #195
@jessegreenberg see the steps in https://github.com/phetsims/unit-rates/issues/195#issuecomment-291208231 to configure the sim as @arouinfar specified in https://github.com/phetsims/unit-rates/issues/195#issuecomment-291203270.

Please check the file in as `unit-rates/assets/unit-rates-screenshot.png`

[2017-04-03 17:14] pixelzoom commented on #195
@phet-steele volunteered to do this, changing assignment.

[2017-04-03 17:32] pixelzoom commented on #195
@phet-steele's commits:
https://github.com/phetsims/unit-rates/commit/928bcbe4a73554972ccfa9574692c81f13c3702f
https://github.com/phetsims/unit-rates/commit/e589f16b94a9f183b5c390f85575352ba2a4c85d

[2017-04-03 17:36] pixelzoom commented on #195
@arouinfar See screenshot below. The apples on the scale are in a different position than your screenshot, but you said "something like", so I'm assuming that's OK.   If it is indeed OK, please close this issue.  Otherwise reassign to @phet-steele to change it.

![unit-rates-screenshot](https://cloud.githubusercontent.com/assets/3046552/24622238/7fc66af6-1861-11e7-8b3e-422c4b45b103.png)

[2017-04-03 17:51] phet-steele commented on #195
@arouinfar no need to check, I replaced the image with centered apples, it looks way better anyway.

The other commit I forgot to reference:
https://github.com/phetsims/unit-rates/commit/1d9ba8b93f611846521ceab03d3a7d335783404f

[2017-04-03 17:51] #195 closed, assigned to arouinfar

[2017-04-03 17:59] pixelzoom commented on #195
I confirmed the change that @phet-steele checked in.

Note that he first deleted the old screenshot, then added the new screenshot, since he was using the GitHub interface to check in the file.  So history of the old screenshot (which likely won't be needed) will be a little non-obvious to locate.

[2017-04-03 18:31] phet-steele opened #196 "1.0.0-rc.1 fails ?stringTest=xss"
You get redirected with this http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-rc.1/unit-rates_en.html?stringTest=xss

NOT an issue in the most recent dev version http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.74/unit-rates_en.html?stringTest=xss

Seen on macOS 10.12.4 browsers. For phetsims/tasks/issues/809.
Troubleshooting info from a version without the query pa

[2017-04-03 18:39] phet-steele commented on #196
@pixelzoom hold up, this is not sim specific. A recent change in a common repo must have broken this.

[2017-04-03 19:01] jessegreenberg commented on #196
Gah, sorry, a change I made is the cause of this.  This is happening because the xss string is being added as ```innerHTML``` on elements that are in the DOM for accessibility. I am about to commit a fix.

[2017-04-03 19:12] pixelzoom commented on #196
@jessegreenberg Which repository is affected?

[2017-04-03 19:13] pixelzoom commented on #196
@jessegreenberg Which repository is affected?  Is this something that can be easily patched in the release branch?

[2017-04-03 19:13] jessegreenberg commented on #196
scenery, I created an issue above.

[2017-04-03 19:15] pixelzoom commented on #196
@phet-steele Please pause this RC test.  We'll probably need to start over, because this looks like something that I can't patch in the release branch.

[2017-04-03 19:18] jessegreenberg commented on #196
This should be fixed with the above commit, ?stringTest=xss no longer redirects to another page.

[2017-04-03 19:21] pixelzoom commented on #196
Verified in master. Closing.

@phet-steele We're going to abort the 1.0.0-rc.1 and start over.  Stand by.

[2017-04-03 19:21] #196 closed, assigned to pixelzoom, jessegreenberg

[2017-04-04 16:44] phet-steele commented on #55
@pixelzoom, please add Bryce Griebenow to the QA credits while retaining last name alphabetization. Then you can close this.

[2017-04-04 17:05] pixelzoom commented on #55
Bryce Grieben added, in master and 1.0.  Final credits shown below.  Closing.

![screenshot_321](https://cloud.githubusercontent.com/assets/3046552/24669155/8cb6bf7a-1926-11e7-966d-2f02d98af873.png)

[2017-04-04 17:05] #55 closed, assigned to pixelzoom

[2017-04-04 17:07] pixelzoom commented on #1
@amanda-phet Please complete the "Mockups", "Interviews" and "Lead Designer" sections of the checklist.

[2017-04-04 17:08] arouinfar commented on #1
@pixelzoom I'll be taking care of that.

[2017-04-04 17:08] arouinfar commented on #150
I'm still working on the Teacher Tips, but this has already been documented. Closing.

[2017-04-04 17:08] #150 closed, assigned to arouinfar

[2017-04-04 17:39] arouinfar commented on #1
@ariel-phet can you take care of the Master Doc List and Gooru spreadsheet? The linked Master Doc List is deprecated, and the redirect link doesn't seem appropriate.

I've added the description, learning goals, keywords, etc. to the [Website Info](https://docs.google.com/document/d/104G3PEWgGGMw3PKWQPAMX67SL79kXoF4Bun6GTUDiUo/edit#heading=h.mv3glozfezqu) section of the design doc. @amanda-phet if

[2017-04-04 17:47] pixelzoom commented on #1
If there are bits of the checklist that are incorrect/obsolete, it's probably because the checklist has evolved.  For the latest checklist, see https://github.com/phetsims/phet-info/blob/master/checklists/sim_new_checklist.md.

[2017-04-04 17:49] arouinfar commented on #1
Thanks @pixelzoom. I'll compare this checklist to the one you've linked, and update as necessary.

[2017-04-04 17:58] amanda-phet commented on #1
Looks good, I just added a few keywords and added some suggestions for the wording of the learning goals.

[2017-04-04 18:00] arouinfar commented on #1
Thanks @amanda-phet!!

[2017-04-04 18:14] ariel-phet commented on #1
@arouinfar will take care of gooru and edmodo once live on webiste

[2017-04-04 19:34] arouinfar commented on #1
@pixelzoom @ariel-phet I've made the sim visible. I'll work on getting the Teacher Tips uploaded and the rest of the checklist completed later today or tomorrow.

@pixelzoom are there any 3rd party libraries we'll need to credit on the sim page? I didn't see any mention of Unit Rates on https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md

[2017-04-04 19:50] arouinfar opened #197 "Create sim primer"
Tracking sim primer creation in this issue so that #1 can be closed.

Target Deadlines
- [ ] Script drafted by 4/14/17
- [ ] Script reviewed by 4/28/17
- [ ] First recording by 5/12/17
- [ ] Primer live by 6/1/17

[2017-04-04 21:13] pixelzoom commented on #1
Whoops, I didn't update https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md.  Just did it now.   I'm not clear on when 3rd-party libs need to be credited on the sim's webpage, so please take a look.

[2017-04-04 21:16] arouinfar commented on #1
Thanks @pixelzoom! I'm modeling the 3rd party credits after Gravity and Orbits
https://phet.colorado.edu/en/simulation/gravity-and-orbits#credits

I will add the relevant libraries to the sim page credits.

[2017-04-04 21:18] arouinfar commented on #1
Nevermind... looks like that field has already been populated. Thanks again @pixelzoom!

[2017-04-04 21:21] pixelzoom commented on #1
According to @mattpen, running "grunt report-third-party" does 2 things:  It regenerates [third-party-licenses.md](https://github.com/phetsims/sherpa/blob/master/third-party-licenses.md).  And it updates the information in the website database, which is what is displayed under Credits on the sim's webpage.

[2017-04-04 21:22] arouinfar commented on #1
Good to know @pixelzoom!

[2017-04-05 17:07] oliver-phet opened #198 "User suggestion: metric"

[2017-04-05 17:09] oliver-phet commented on #198
Another user:

[2017-04-05 19:35] pixelzoom commented on #198
Re metric:
Dollars, pounds and miles are specific to the US English translation. You can use whatever units you want when you translate the sim.

[2017-04-05 19:37] pixelzoom commented on #198
Re:

Unlike fruits and vegetables, we're not measuring number of candies, we're measuring the weight of the candy.  @arouinfar can you please craft a response to this?

[2017-04-05 21:58] arouinfar commented on #198
@oliver-phet the currency symbol and units can be localized.

As for this request:

The candy scene deals with the cost per unit <i>weight</i>, not cost per unit item. Replacing "pounds" with "candies" would not be appropriate here. However, <i>pounds</i> could be localized to <i>kilograms</i> at the translator's discretion.

That said, it looks like we don't support en_CA or en_GB in the translat

[2017-04-05 23:39] pixelzoom commented on #198
@arouinfar said:

@jbphet Can you comment on what potential problems this might cause? I would think that en_CA and en_GB would be no different than any other country-specific locale.  And if they do cause problems, that would be a design/implementation deficiency that should be fixed.

I am very much opposed to these options because (a) they are not relevant for all locales, and (b) they will req

[2017-04-05 23:45] pixelzoom commented on #198
Btw... I'm "very much" opposed because of first-hand experience with implementing a sim that switches between English and metric units.  Glaciers (Java) has such a control.   It was a royal pain to implement. We had disagreement about what the default should be. And with the exception of US English, the English units were irrelevant, but every locale still had to see them.

[2017-04-06 00:13] pixelzoom commented on #198
One more reason why I don't like options 2 & 3...  Two very early design decisions for this sim were (1) units would be changed via translation, and (2) there there would be no way to adjust the range of values based on the units.  For example, the track is 200 units long, regardless of what those units are.  If we add the ability to switch between English and metric units inside the sim, then the

[2017-04-06 02:38] ariel-phet commented on #198
Not OK with option 2 & 3 given we cannot afford extra implementation effort in this sim at the moment. @pixelzoom is correct that is was an early and clear design decision to change by translation. Fine with option 1.

[2017-04-06 11:53] arouinfar commented on #198
Thanks for your input @pixelzoom @ariel-phet. Option 1 it is.  Looks like we should move this over to rosetta... I'm currently on mobile, so perhaps @pixelzoom or @jbphet can take care of it? Otherwise, I'll open an issue later this evening.

[2017-04-06 16:12] pixelzoom commented on #198
I created the Rosetta issue and assigned to @jbphet, see https://github.com/phetsims/rosetta/issues/149.

@oliver-phet Assigning this back to you to report to the customers.

[2017-04-06 16:29] oliver-phet commented on #198
Users have been notified.

[2017-04-06 16:31] pixelzoom commented on #198
@arouinfar Anything else to do here, or can this be closed?

[2017-04-10 16:53] kathy-phet opened #199 "User suggestion: Fractions"
At our meeting today, it was suggested to consider whether a version with fractions could be made. We should discuss at some point ... no rush. Just logging it as a question.

[2017-04-10 22:54] jbphet commented on #198
I added the capability to support additional English locales, and added a Canadian (en_CA) translation that uses metric units, please see https://phet.colorado.edu/sims/html/unit-rates/latest/unit-rates_en_CA.html.  @arouinfar - please review and, if all looks good, let @oliver-phet know about it and I think we can probably close the issue.

[2017-04-11 18:09] arouinfar commented on #198
Thanks @jbphet! Looks great.

@oliver-phet please share this link with users looking for a metric/$ version of Unit Rates:
https://phet.colorado.edu/sims/html/unit-rates/latest/unit-rates_en_CA.html

I started a translation for en_GB that uses the £ symbol for currency. Replacing "dollars" with "pounds" feels a bit strange, even though it's correct. Without comparing the DNL to the scale, a user m

[2017-04-11 18:15] arouinfar commented on #198
Other alternatives would be to use just the currency symbol on its own or "pounds sterling" which is a bit verbose.

[2017-04-11 18:20] pixelzoom commented on #198
@arouinfar asked:

I think that decision should be left up to the translators.

[2017-04-11 18:23] arouinfar commented on #198
@pixelzoom we don't have a trusted translator for en_GB, but we could wait until @oliver-phet receives a request for a metric/£ version of Unit Rates.

[2017-04-11 18:23] oliver-phet commented on #198
https://phet.colorado.edu/sims/html/unit-rates/latest/unit-rates_en_CA.html

Done.

[2017-04-11 18:28] pixelzoom commented on #198
@arouinfar said:

My point is that I can't answer your question.  Anyone's opinion other than the translator's is irrelevant.  I would leave it as is, and let the eventual trusted translator decide whether to modify it.

[2017-04-11 18:34] arouinfar commented on #198
Point taken @pixelzoom. I'll leave it be for now.

@oliver-phet if you get any requests for a metric/£ version of Unit Rates, the en_GB locale is available in the translation utility.

[2017-04-11 18:34] #198 closed, assigned to arouinfar

[2017-04-14 19:55] arouinfar commented on #199
Spoke with @kathy-phet about this briefly.

- Teachers often deal with rates of compound fractions such as $3/4 for 2/3 lb candy.
- Spinners would contain fractions, not decimals.
- Only Lab screens would be included.
- Shopping Lab would be candy-only (pricing for fractional item is not realistic), but could include a combo box for candies with different bag sizes (1/4 lb, 1/3 lb, etc.).
- Racing

[2017-04-14 22:42] ariel-phet commented on #1
@arouinfar looks like the final items on here are yours

[2017-06-12 21:07] pixelzoom commented on #1
@arouinfar can you move any remaining tasks to individual issues, then close this issue?

[2017-07-12 17:33] phet-steele opened #200 "TypeError: Cannot read property 'length' of null"
[code]

[2017-07-13 16:24] pixelzoom commented on #200
I suspect that in ShoppingNode, `visibleObserver` has been queued to be called before `dispose` is called.  And then when  `visibleObserver` is called, it attempts to perform operations on `self` post-disposal.  So the assertion in Node `getParent` (line 777) fails:

[code]

@jonathanolson Can you confirm that `_parents` is scuttled when Node is disposed?

[2017-07-13 16:27] pixelzoom commented on #200
Btw... I have been unable to reproduce this with `?ea&screens=1&fuzzMouse`.  And I'm unclear on why it would only happen infrequently.

[2017-07-13 16:38] jessegreenberg commented on #200
Is this issue related to https://github.com/phetsims/scenery/issues/647 (SimpleDragHandler disposal)?

[2017-07-13 16:40] pixelzoom commented on #200
Hmmm... could be.

[2017-07-13 16:48] jonathanolson commented on #200
That's correct (checks for things like `removeChild( disposedNode )`).

I don't see an immediate connection. This assertion failure is stemming from a step() instead of a pointer event.

[2017-07-13 17:09] pixelzoom commented on #200
Fixed in the above commit, using the same approach as in https://github.com/phetsims/graphing-lines/issues/83 (testing `this.disposed`).  Tested using `?ea&fuzzMouse`.

Since this is the second sim where I've had to do this, I'm a bit concerned that there is a general pattern to this problem. I will create a separate issue to discuss.

@phet-steele please verify.

[2017-07-13 20:07] pixelzoom commented on #200
@phet-steele is still seeing this after pulling, took ~1 hour to hit in fuzz test.

https://github.com/phetsims/scenery/issues/649 is going to make this workaround unnecessary, so let's hold off on this until that's done.

[2017-07-13 21:44] pixelzoom commented on #200
@phet-steele This has been fixed in phetsims/scenery#649, and the workaround in unit-rates has been reverted. Please pull scenery and unit-rates to verify.

[2017-07-14 20:32] phet-steele commented on #200
Fuzzed master for an hour and saw no errors, closing.

[2017-07-14 20:32] #200 closed, assigned to pixelzoom, phet-steele

[2017-07-26 19:27] pixelzoom commented on #153
In https://github.com/phetsims/projectile-motion/issues/118, the keypad workaround in unit-rates got copied to projectile-motion.

KeypadLayer and KeypadPanel are a workaround.  They are a workaround for the lack of a robust Dialog (phetsims/joist#359) and the lack of closure on the next-gen keypad (phetsims/scenery-phet#283, phetsims/scenery-phet#271).  Rather than factor out "workaround" code, K

[2017-07-27 18:53] pixelzoom commented on #153
The next-gen keypad will be used in projectile-motion 1.0.0, see https://github.com/phetsims/projectile-motion/issues/127.  Once that has been addressed, I should be able to use the next-gen keypad in unit-rates, using the same approach as projectile-motion.  Still deferred, and low priority, but self-assigning so that it's on my radar.

[2017-08-09 21:47] pixelzoom opened #201 ""Double Number Line" accordion box is messed up"
Should look like this, in published version (1.0.3):

![screenshot_337](https://user-images.githubusercontent.com/3046552/29145323-e9ee8356-7d19-11e7-94e6-22581546c035.png)

Currently looks like this in master (marker editor and collapse button partially outside box):

![screenshot_338](https://user-images.githubusercontent.com/3046552/29145351-035408de-7d1a-11e7-83b1-11ce5dbe76d6.png)

[2017-08-09 21:48] pixelzoom commented on #201
@jonathanolson suspects that this is related to recent changes that he made to AccordionBox for resizing.  Assigning to him to investigate.

[2017-08-09 21:52] jbphet commented on #201
Here is the issue that describes the recent changes to AccordionBox: https://github.com/phetsims/sun/issues/304

[2017-08-09 21:56] jonathanolson commented on #201
(looking into it).

[2017-08-09 22:26] jonathanolson commented on #201
AccordionBox has always put the content directly on the expandedBox, and I was incorrectly checking the expandedBox's bounds after modifying its rectWidth/rectHeight. Since the initial content was outside of these bounds, those bounds were incorrect and it cascaded.

Fixed by using the selfBounds of the expandedBox to lay out expanded content.

@pixelzoom can you verify?

[2017-08-09 22:32] pixelzoom commented on #201
Verified, closing, thanks!

[2017-08-09 22:32] #201 closed, assigned to pixelzoom

[2017-08-10 19:42] pixelzoom commented on #153
Integration in unit-rates can proceed after issues identified in https://github.com/phetsims/scenery-phet/issues/283#issuecomment-321404395 are addressed.

[2017-08-14 17:42] pixelzoom commented on #1
@arouinfar ping.

[2017-08-14 17:50] pixelzoom commented on #199
This is not a new "version" of the sim. This would be a huge effort, requiring a "redo" of many parts of the sim.  With the exception of the denominator (hours) in Racing Lab, nothing in this sim (model or view) is prepared to handle non-integer values for the numerator or denominator. "Spinners would contain fractions" would present serious real estate challenges in the Racing Lab screen.  And wh

[2017-08-15 21:32] arouinfar commented on #199
Thanks @pixelzoom.  And yes, the double number line and marker editor would need to handle fractions.

Math brainstorming meetings are on hold for awhile, and I don't think there's any plan to discuss Unit Rates: Fractions anytime soon. I'll mark as deferred.

[2017-09-01 19:44] pixelzoom commented on #153
Still pending completing of phetsims/scenery-phet#283.

[2017-09-25 03:03] pixelzoom commented on #1
@arouinfar ping.  This has been high priority since Apr 3.

[2017-09-25 03:04] pixelzoom commented on #197
@arouinfar status of this?  Should it be labeled "priority:2-high"?

[2017-09-25 15:03] ariel-phet commented on #197
Should not be labelled high priority, changing to medium

[2017-10-09 21:44] oliver-phet opened #202 "User reported issue: Green candy price"

[2017-10-10 17:19] amanda-phet commented on #202
This is pretty serious.. I just checked it out and indeed the challenge questions are using the values on the number line, not the scale. It is very strange that the number line values don't match the scale!

[2017-10-10 18:57] arouinfar commented on #202
I reviewed the latest, and the price **on the scale** is incorrect for some bags of candy (see below). I checked all of Questions and major tick marks on the DNL for all candy types, and everything is correct. The problem seems to be the price on the scale for these five configurations of candy.

| Item  | Price on Scale (incorrect) | Price on DNL (correct) |
| ------------- | ------------- | ----

[2017-10-11 14:03] pixelzoom commented on #202
@arouinfar

(1) Have you verified this part of the user's report?

(2) Have you verified that this is a problem only for candy?

[2017-10-11 14:13] pixelzoom commented on #202
OK, I understand (1) above.  They mean entering a value in the keypad. And the fact that it rounds up to the nearest ten cents is a symptom of the scale being off by 0.01.

Still interested if this is a problem only for candy.  I seriously doubt it, since all items use the same scale.

1.0.0-dev.59 and 1.0.0-dev.60 were both published on 2/22/17.  It looks like that was when I was adding the 3rd (

[2017-10-11 14:29] pixelzoom commented on #202
This is due to problems inherent in representing floating point (decimal) numbers in JavaScript.

Example: Green candy is $8.20/lb.  One bag of candy is 0.3lb.  And $8.20 * 0.3 = $2.46.   But not in JavaScript land, where $8.20 * 0.3 = 2.4599999999999995.   So the scale would be showing 2.459, with the '9' grayed out.  But in the Shopping screen, this isn't supposed to happen, so the 3rd decimal p

[2017-10-11 14:50] pixelzoom commented on #202
Fixed in [1.1.0-dev.1](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.1.0-dev.1/unit-rates_en.html).

@arouinfar please verify.  Look _very_ carefully at both the Shopping and Shopping Lab screens, because this affected the cost display for both screens.  The Shopping screen should now do nearest-neighbor rounding to 2 decimal places (like the DNL).  The 3rd (gray) decimal place on the

[2017-10-11 16:34] arouinfar commented on #202
Thanks @pixelzoom!

I used the following method on the Shopping screen to test all 12 items, and everything looked good.

1. Place one bag on the scale
2. Compare cost on scale to DNL
3. Repeat (1) and (2) for the rest of the bags
4. For fruits, remove items one-by-one and compare the cost on the scale to the DNL
5. Repeat (1)-(4) to double check

I also tested a few sets of Questions -- perhaps o

[2017-10-12 02:16] pixelzoom commented on #202
Let's look at the first row in the table above:

Item | Rate | Price on Scale (incorrect) | Price on DNL (correct
-- | -- | -- | --
3 bags carrots | $3/20 | $1.79 | $1.80

There are 4 carrots per bag, so 3 bags is 12 carrots.  With a calculator, $3 / 20 * 12 = $1.80.  With JavaScript, 3 / 20 * 12 = 1.7999999999999998.  And I have no way of knowing whether this is a valid computation or floating po

[2017-10-12 02:50] pixelzoom commented on #202
[1.1.0-dev.2](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.1.0-dev.2/unit-rates_en.html) changes the algorithm used to determine whether the cost displayed on the scale has a meaningful 3rd decimal place.  It first rounds the cost to 10 decimal places, in an attempt to remove floating point error.  This will work only if we don't have any results that are supposed to be numbers like

[2017-10-12 17:17] arouinfar commented on #202
Looks great @pixelzoom! Please proceed with the maintenance release.

I followed the same general procedure as in https://github.com/phetsims/unit-rates/issues/202#issuecomment-335869763, but tested several additional denominators on the Shopping Lab screen which would lead to costs that terminate at the hundredths place. I did not encounter any floating point errors.

[2017-10-12 17:18] arouinfar commented on #202
@pixelzoom once the maintenance release has been published, please assign @oliver-phet to notify the user.

[2017-10-13 01:52] pixelzoom commented on #202
@arouinfar Before I proceed... Did you also verify that Shopping Lab scenarios that should have a 3rd decimal place still do?  Since the fix involves an additional rounding (vs truncating) phase, I want to make sure that we didn't lose any 3rd decimal places.

[2017-10-13 16:47] arouinfar commented on #202
@pixelzoom I also tested many, many cases with the 3rd decimal place, and the truncation on the scale and rounding on the DNL appear to be working as intended.

[2017-10-14 02:47] pixelzoom commented on #202
Excellent, thanks @arouinfar.  I will proceed with a maintenance release.

[2017-10-14 13:01] pixelzoom opened #203 "publish 1.0.4"
1.0.4 is a maintenance release that contains the fix for https://github.com/phetsims/unit-rates/issues/202.

[2017-10-14 13:14] pixelzoom commented on #203
I’m in the middle of publishing maintenance release 1.0.4 for unit-rates, encountering failures due to phetAPIDocs.js during checkout-shas:

[code]

@jonathanolson and @jbphet have done previous maintenance releases on this sim.  @jonathanolson did 1.0.1 and 1.0.3, @jbphet did 1.0.2. So I suspect that something is wrong with dependencies.json.

Side notes:

(1) It would also be nice if “status.sh”

[2017-10-14 13:37] pixelzoom commented on #203
@jbphet @jonathanolson tell me about the maintenance releases that you did. Did you leave the 1.0 release branch in a working state?

@jonathanolson The scenery-phet error identifies 'origin/dag-movable-drag-handler'. Ring any bells?

@zepumph @samreid The chipper error identifies 'origin/phetioAPIDocs'. Ring any bells?

[2017-10-14 13:50] pixelzoom commented on #203
I originally identified the error as occurring during `grunt checkout-shas`, but that was incorrect.  `grunt` fails, and then `status.sh` indicates that chipper and scenery-phet may have problems.  I've edited https://github.com/phetsims/unit-rates/issues/203#issuecomment-336634284 accordingly.

[2017-10-15 00:04] samreid commented on #203
Here's what happened for me, then I was able to launch the requirejs and built versions with no issues.  It seems I was using the `grunt checkout-shas` from the sim repo as described in https://github.com/phetsims/phet-info/blob/master/deployment-info/sim_deployment.md whereas @pixelzoom was using perennial's grunt checkout-shas.  Could this explain the difference?

[code]

[2017-10-15 00:11] samreid commented on #203
I tried running `grunt checkout-shas --repo=unit-rates` from perennial then grunt from unit rates and saw the same problem as in https://github.com/phetsims/unit-rates/issues/203#issuecomment-336634284

The sim_deployment.md instructions say the following:

* `grunt checkout-shas` to checkout any supporting branches from other repos.
* If checkout-shas didn't already do so: `npm prune` and `npm up

[2017-10-15 13:56] pixelzoom commented on #203
@samreid said:

My understanding (from past discussions at dev meetings) is that we should be running "grunt checkout-shas" and "grunt checkout-master" from perennial, since it's supposed to handle the npm prune/update properly.

[2017-10-15 14:05] pixelzoom commented on #203
Here's what I ended up having to do:

[code]

This is the first time I've had to do the `npm` steps manually when using perennial grunt tasks.

[2017-10-15 14:08] pixelzoom commented on #202
This fix has been deployed in version 1.0.4, now available on the PhET website.  @oliver-phet please notify and thank the user.

[2017-10-15 14:10] pixelzoom commented on #203
I'll add an item to the developer meeting agenda to discuss whether (and why) we should be using the chipper vs grunt tasks for `checkout-shas` and `checkout-master`.

Unit Rates 1.0.4 is deployed.  Closing.

[2017-10-15 14:10] #203 closed, assigned to jonathanolson, pixelzoom, jbphet, zepumph

[2017-10-17 16:10] oliver-phet commented on #202
Email to user sent. Closing.

[2017-10-17 16:10] #202 closed, assigned to oliver-phet

[2017-11-06 21:34] pixelzoom commented on #153
Still blocked pending completion of phetsims/scenery-phet#283.  Unassigning for now.

[2017-11-29 18:36] arouinfar commented on #197
The Unit Rates primer has been published to the website. Progress was discussed in the #primers channel on Slack, but here are the milestones:

* 10/10/2017: AR and CW collaboratively scripted the Shopping and Shopping Lab screens
* 10/16/2017: AR and CW collaboratively scripted the Racing Lab screen
* 10/20/2017: CW uploaded draft recording for script verification
* 10/24/2017: AR reviewed draft,

[2017-11-29 18:36] #197 closed, assigned to arouinfar

[2018-01-09 19:54] pixelzoom commented on #160
Deferred until we have a way to identify production versions, see phetsims/joist#406.

[2018-01-24 17:57] #1 closed, assigned to arouinfar

[2018-03-06 17:31] samreid opened #204 "Typo in `numerationOptions`"
Discovered during https://github.com/phetsims/tasks/issues/730#issuecomment-370860967

DoubleNumberLine.js has:

[code]

Whereas elsewhere in the file it is referred to as `numeratorOptions`

[2018-03-06 17:40] pixelzoom commented on #204
Good catch. Ditto in MarkerEditorNode, MarkerNode, ShoppingScene.

[2018-03-06 17:50] pixelzoom commented on #204
The typo appeared only in the default options, in all cases: `numerationOptions: null`.   Since other usages were spelled correct, and the default value was `null`, fixing the name in the options hash had no negative side-effects.   To be certain, I tested the affected components, and compared to the published version (1.0.4).  The numerator looked correct in all cases.

Closing.

[2018-03-06 17:50] #204 closed, assigned to pixelzoom

[2018-03-15 18:43] pixelzoom opened #205 "factor out common options"
Noted by @samreid in 3/15/18 dev meeting...

Do a search for ".numeratorOptions = _.extend".  Note the default options for numeratorOptions and denominatorOptions are often identical, or at least have significant overlap.  Factor these out into constants.

Example in DoubleNumberLine, line 45:

[code]

The above would change to something like:

[code]

[2018-03-16 15:39] pixelzoom commented on #205
This occurred in 4 source files, all related to nested options `numeratorOptions` and `denominatorOptions`.  Tested and fixed in the above commit.  Closing.

[2018-03-16 15:39] #205 closed, assigned to pixelzoom

[2018-03-29 00:31] pixelzoom opened #206 "use phet.chipper.queryParameters.speed"
Replace `?animationSpeed` with phet.chipper.queryParameters.speed.

See https://github.com/phetsims/joist/issues/476#issuecomment-377078368

[2018-03-29 00:50] pixelzoom commented on #206
Removed ?animationSpeed , and phet.chipper.queryParameters.speed is working great. Closing.

[2018-03-29 00:50] #206 closed, assigned to pixelzoom

[2018-07-13 18:29] pixelzoom commented on #160
Done in master, awaiting deployment.

[2018-07-16 17:26] pixelzoom commented on #153
Still blocked as of 7/16/18 because work on next-gen keypad (https://github.com/phetsims/scenery-phet/issues/283) has not been completed.  @ariel-phet @jbphet FYI.

[2018-10-29 16:22] KatieWoe opened #207 "CT: above our memoryLimit"
[code]

[2018-10-30 18:42] pixelzoom commented on #207
Prior to publishing, this sim had extensive memory leak testing on 3/6/17, see https://github.com/phetsims/unit-rates/issues/170, and the heap size never grew past 55MB.

I looked through all commits since 3/6/17.  The only significant change in master since then was to convert from TWEEN to Animation.  So I guess I'll start there.

[2018-10-30 18:50] pixelzoom commented on #207
Commits related to conversion from TWIXT to Animation, in chronological order:

8/24/18 https://github.com/phetsims/unit-rates/commit/eb9598a927712c6d276e83c754470cad5649570d
8/24/18 https://github.com/phetsims/unit-rates/commit/a5deac3684e42b84596ba95524af8066d8c4cc58
10/27/18 https://github.com/phetsims/unit-rates/commit/a294a7fb25f39715ab9fcc9b2c71ad4174f838b9

[2018-10-30 19:42] pixelzoom commented on #207
According to @jonathanolson, CT fuzz test for requirejs is 120 seconds with query parameters:
`?brand=phet&ea&fuzz&memoryLimit=1000`.

So if I run for > 2 minutes with `?brand=phet&ea&fuzz`, then I should see a heap snapshot > 1000MB.

[2018-10-30 20:15] pixelzoom commented on #207
With Chrome 70.0.3538.77 on macOS 10.11.6, running in requirejs mode with ` ?brand=phet&ea&fuzz` for 3 minutes, the heap size was a whopping 1411 MB. It took over 30 minutes to build the snapshot.  And meanwhile, the sim "paused before potential out-of-memory crash".

[2018-10-30 20:27] pixelzoom commented on #207
I don't see anything in the 1411 MB snapshot that looks related to Animation.  But I do see a huge number of `Emitter` instances, apparently `changeEmitter` in `Color`.

I took another snapshot at startup, 76MB. (That's bigger than the 55MB size after _25 minutes_ of runtime in the original memory tests, see #170).  A second snapshot _10 seconds_ later was 123MB.  Comparing snapshots, I again see

[2018-10-30 21:43] pixelzoom commented on #168
The logical thing to do here would be to port from SimpleDragHandler to DragListener and use `interruptSubtreeInput` to interrupt drag sequences.  See advice to self in https://github.com/phetsims/graphing-quadratics/issues/66#issuecomment-430858738.

`interruptSubtreeInput` should also be called on the ScreenView when Reset All button is pressed.

[2018-10-30 21:44] pixelzoom commented on #168
Self-assigning since I recently did a port from SimpleDragHandler to DragListener, and this one should be relatively straightforward.

[2018-10-30 21:47] pixelzoom commented on #207
This issue most definitely blocks publication of this (and possibly other) sims.

[2018-11-01 02:21] jonathanolson commented on #207
Hmm, this looks related to https://github.com/phetsims/sun/issues/362.

At least one case in unit-rates is:

- KeypadLayer results in creating a lot of NumberKeypads
- NumberKeypad creates a lot of buttons with createKey() that won't get disposed when things get disposed (even if unit-rates disposes them)
- The buttons create PaintColorProperties to listen to Color objects (whose listeners would g

[2018-11-01 08:37] jonathanolson commented on #207
I've had two CT browser tabs crash as part of https://github.com/phetsims/aqua/issues/54 while testing this. I'm bumping priority to high so we ensure it is talked about in dev meeting.

[2018-11-01 19:11] jonathanolson commented on #207
I'll create an issue for immutable colors.

[2018-11-01 19:11] pixelzoom commented on #207
11/1/18 dev meeting notes:
* create a scenery issue for longterm fix, assigned to @jonathanolson
* in the meantime, @pixelzoom will apply a workaround -- add `KeyPanel.dispose` that calls `dispose` on any buttons that are created.

[2018-11-01 19:21] pixelzoom commented on #207
This isn't isolated to sim-specific code. I'll need to add dispose to `SCENERY_PHET/NumberKeypad` too.

[2018-11-01 22:24] jbphet commented on #153
Assigning to @Denz1994 for followup once https://github.com/phetsims/scenery-phet/issues/283 has been addressed.

[2018-11-01 23:06] pixelzoom commented on #153
@Denz1994 I'd like to pair with you on this one.  Let me know when you're ready to work on it.

[2018-11-02 04:47] pixelzoom commented on #207
In the above commit, I added `dispose` calls for all buttons, and a call to `disposeSubtree` for SCENERY/NumberKeypad.  Tested with Chrome 70.0.3538.77 on macOS 10.11.6, running in requirejs mode with `?brand=phet&ea&fuzz`.

The good news is that I can now take a heap snapshot without waiting 20 minutes, and CT shouldn't be complaining.  Startup heap size was 86MB.  After 1 minute, heaps size was

[2018-11-02 05:01] pixelzoom commented on #207
Note to self: Each line of code that I added as a workaround for this issue has a TODO next to it.

[2018-11-02 05:34] pixelzoom opened #208 "use BooleanProperty, NumberProperty, StringProperty"
Related to phetsims/axon#196.

[2018-11-02 06:33] pixelzoom commented on #208
Done, closing.

[2018-11-02 06:33] #208 closed, assigned to nobody

[2018-11-07 18:43] pixelzoom commented on #207
Adding dev meeting label to discuss timeframe for addressing this.  Since we have a number of sims being published with new release branches (graphing-quadratics, graphing-lines, resistance-in-a-wire,...) it would be good to get to the bottom of this.

[2018-11-07 22:06] jonathanolson commented on #207
I made the change for color listeners, so I'll retest for memory leaks right now.

[2018-11-07 22:10] jonathanolson commented on #207
2 minutes of fuzzing and the sim is still <100MB, so the "major" memory leak was resolved by changes made.

[2018-11-07 22:14] pixelzoom commented on #207
@jonathanolson said:

@jonathanolson At what heap size value did it stabilize? As noted above, this sim previously stabilized at ~55MB and never grew larger after 25 minutes of testing.   So < 100 after only 2 minutes is not what I'd consider conclusive.

[2018-11-08 00:38] jonathanolson commented on #207
I need to close the testing for now, but here's what I found:

3:07pm: ~85MB (shortly after launching)
3:18pm: ~144MB
3:40pm: ~112MB
4:21pm: ~110MB
5:36pm: ~135MB

The amount of a11y/phet-io and internal properties (for things like color tracking or other things) has definitely taken a hit on the memory usage, so I would expect it unfortunately to be higher than we had previously.

[2018-11-08 17:46] pixelzoom commented on #207
The increase in this case is > 100%.   If a11y/phet-io and internal properties are responsible for that increase (which I doubt), then we have a serous problem with how those things have been implemented.

[2018-11-08 17:52] jonathanolson commented on #207
I'll build compare the 1.0 and master branches to see if I can identify (based on heap snapshots) the major differences.

[2018-11-08 19:29] pixelzoom commented on #207
@jonathanolson Can I remove the disposal of buttons that I added in https://github.com/phetsims/unit-rates/commit/5a8bf05533e25f13c1b6082c97bb853fede1a699?

[2018-11-08 20:39] jonathanolson commented on #207
I think that disposal might be good long-term.

Chart of initial memory usage by date (in master from approximate maintenance release to now)
<img width="685" alt="screen shot 2018-11-08 at 1 37 32 pm" src="https://user-images.githubusercontent.com/480878/48225923-8f451b00-e35b-11e8-80d6-3e11f6e89a4a.png">

I'm zeroing in on the exact series of commits that triggered the issues.

[2018-11-09 01:18] samreid commented on #207
The preceding commit reduces requirejs phet-brand Unit Rates memory from 77.2MB to 55.4MB.

[2018-11-09 01:56] samreid commented on #207
The preceding commit reduces requirejs phet-brand Unit Rates memory from 52.4MB to 43.6MB.

[2018-11-09 02:07] samreid commented on #207
After above commits, we are down to 43.0MB.

[2018-11-09 02:13] samreid commented on #207
Down to 42.6 MB

[2018-11-09 02:56] pixelzoom commented on #207
@samreid looks like the source of the memory increase was identified. Can you summarize here in a comment, for posterity?

[2018-11-09 04:41] samreid commented on #207
The changes I made were predominantly about factoring out instantiated parametric types.  For instance, https://github.com/phetsims/axon/commit/4a9762e882ea9862af96fdf0e736754e6e6c35d8 factors out `EmitterIO( [] )` instead of creating an equivalent but different one for each `Emitter`.  I cannot say for certain that this was "the source of the memory increase", but it seemed like a safe and straig

[2018-11-09 05:14] zepumph commented on #207
For clarity, @jonathanolson and I (and mainly @jonathanolson) worked out that the source of the memory leak came from the commit when I moved `phetioInherit` from the phet-io repo into tandem. This consequently made it so that phetioInherit was not just "stubbing" out TypeIOs and returning no-op functions like `function(){}`, but instead it was actually creating TypeIOs. This exposed the memory le

[2018-11-09 05:25] zepumph commented on #207
In the above commits, I found that unit rates phet brand went down another .3 MB for `DragListener.draggedEmitter` and not much for `Checkbox.toggledEmitter` but that likely effected other sims (with a lot of checkboxes maybe?).

I then looked at all usages of `EmitterIO(` and didn't see any others that looked like they were being used systemically. I'm now a bit more unsure about where the other

[2018-11-09 15:31] pixelzoom commented on #207
Somehow we went from @jonathanolson saying:

To this email from @zepumph:

I asked:

Then @samreid described specific commits, which was not what I'm looking for

So to clarify....  What was the general problem, and what is the general solution that you're pursuing?

Also highly recommended to create a general issue somewhere to be dealing with this, not deal with it in this sim-specific issue.

[2018-11-09 15:32] pixelzoom commented on #207
And yes, I've read https://github.com/phetsims/unit-rates/issues/207#issuecomment-437248201 and https://github.com/phetsims/unit-rates/issues/207#issuecomment-437252582, but I don't understand.

[2018-11-09 15:38] samreid commented on #207
Perhaps a short call would be very helpful?  I'll be on slack.

[2018-11-09 15:38] pixelzoom commented on #207
@samreid and I discussed on Slack.

The cause of this issue is now moved to https://github.com/phetsims/tandem/issues/71.   Please comment and commit there.

[2018-11-09 16:01] pixelzoom commented on #207
I tested and got startup heap size of 45MB on Chrome + macOS, so that correlates with what @samreid is seeing.  Closing this issue.  Further memory improvements related to IO types will continue in phetsims/tandem#71.

[2018-11-09 16:01] #207 closed, assigned to jonathanolson, pixelzoom

[2018-11-30 21:11] pixelzoom commented on #168
`endDrag( null )` workaround should be replaced with `interruptSubtreeInput` on the target Node.

`interruptSubtreeInput` should be called on the ScreenView when the Reset All button is pressed.

[2018-11-30 21:12] pixelzoom commented on #168
`interruptSubtreeInput` should also be called on the ScreenView when Reset All button is pressed.

[2018-12-04 01:10] pixelzoom commented on #168
Well, I didn't get around to this, so deferring again.

[2019-01-15 19:29] pixelzoom commented on #168
In the above commit, I replaced `endDrag( null )` with `interruptSubtreeInput` on the target node.   No need to convert to `DragListener` at this time, maybe when this sim gets PhET-iO instrumentation.

Tested with `?ea&fuzz` on desktop, tested manually with multi-touch on iOS 12.1.1.

Closing.

[2019-01-15 19:29] #168 closed, assigned to nobody

[2019-02-26 17:20] pixelzoom commented on #199
I highly recommend moving this issue to wherever ideas for new sims are being tracked.  Leaving it here is a recurring cost, since I review all open issues for my sims on a regular basis.

[2019-02-27 17:38] arouinfar commented on #199
@amanda-phet @kathy-phet do you have a doc where you keep track of ideas for math sims, where this may be more appropriate?

[2019-02-27 18:31] amanda-phet commented on #199
I can put it in a doc where math sim ideas for the DRK12 grant are listed, but this repo was the appropriate place to have this information discussed. However since the sim is not equipped to handle fractions, and it would be an entirely new sim, I am doubtful that it will ever happen. There are many other sim ideas that are more fleshed out that would be higher priority.

[2019-02-27 18:31] #199 closed, assigned to amanda-phet

[2019-02-28 23:48] pixelzoom opened #209 "missing placeholder in format: {{value}}"
Error at startup with `?ea&showAnwers`:

[code]

[2019-02-28 23:57] pixelzoom commented on #209
Fixed in above commit.

[2019-02-28 23:57] #209 closed, assigned to pixelzoom

[2019-03-07 20:23] pixelzoom commented on #160
In https://github.com/phetsims/special-ops/issues/129, `showAnswers` is now available in all built and requirejs versions, and we implemented a new way to enable/disable it.  I'll inform the QA team when it's time to test.

[2019-03-29 16:32] pixelzoom opened #210 "CT: assertion failure in Easing.polynomialEaseInOutValue"
This popped up once in CT yesterday.  Haven't seen it previously or since, and there have been no changes to unit-rates or twixt.   Over in https://github.com/phetsims/twixt/issues/22, I've added a message to the failed assertion in TWIXT/Easing, so we'll get more info if it happens again.

Stack trace:
[code]

The failing assertion in Easing was:

[code]

[2019-03-29 16:33] pixelzoom commented on #210
@KatieWoe if you happen to see this error again in CT and I miss it, please paste the stack trace here. The new-and-improved assertion message will provide more info.

[2019-04-08 20:09] pixelzoom opened #211 "remove Tween preload"
TWEEN was replaced by twixt over in https://github.com/phetsims/twixt/issues/18.  But I still see this in package.json, which I suspect should be removed:

[code]

[2019-04-08 20:21] pixelzoom commented on #211
Tween preload was removed, tested requirejs and built versions.  Closing.

[2019-04-08 20:21] #211 closed, assigned to pixelzoom

[2019-04-16 18:03] KatieWoe opened #212 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Using the +/- buttons on the accordion boxes could be difficult

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.

[2019-04-16 19:39] pixelzoom commented on #212
I assume you mean accordion boxes?

[2019-04-16 19:40] KatieWoe commented on #212
Yes

[2019-04-16 20:06] pixelzoom commented on #212
I don't see any good/quick options for improve this.

The API for AccordionBox only supports symmetric dilation of the pointer areas.  I.e., pointer areas expand the same amount above/below and left/right of the button.

AccordionBox's button is `ExpandCollapseButton`, whose superclass is sun's `RectangularButtonView`.  So if we want to support shifting pointer areas, that will require adding the

[2019-04-16 20:07] KatieWoe commented on #212
I'm not sure it is.  Up to @kathy-phet and @amanda-phet

[2019-04-16 20:09] pixelzoom commented on #212
Actually, this doesn't look that difficult.  In RectangularButtonView, add the options shown above. Then change this:

[code]

to this:

[code]

[2019-04-16 20:19] pixelzoom commented on #212
A better API for `RectangularButtonView` might be:

[code]

This doesn't support arbitrary shifting, but makes it easier to specify the typical cases.

[2019-04-16 20:28] pixelzoom commented on #212
I've created https://github.com/phetsims/sun/issues/500 to track the general enhancement that would be required in RectangularButtonView.

@arouinfar Let me know whether you think we need to address this issue, because it will affect the priority of the more general issue.

[2019-04-16 20:47] arouinfar commented on #212
The solution you've proposed seems pretty straightforward @pixelzoom. Generally, I think it would be a worthy investment to add support for asymmetric dilation of touch areas to `RectangularButtonView`, as the `ExpandCollapseButton`'s are a bit hard to use on my phone.

The reality is that many teachers do have students pull up sims on their phones. Given that we have iOS and Android apps, it seem

[2019-04-18 02:13] ariel-phet commented on #212
@pixelzoom @arouinfar I agree worth the time, especially since it seems like a generally good improvement to the flexibility of `RectangularButtonView`

[2019-04-28 17:33] pixelzoom commented on #212
Blocked by phetsims/sun#500.

[2019-05-02 18:20] pixelzoom commented on #212
Touch areas for all expand/collapse buttons in this sim are now shifted up, see sample screenshot below. @arouinfar could you please review?

<img width="909" alt="screenshot_1175" src="https://user-images.githubusercontent.com/3046552/57097327-b52cf600-6cd4-11e9-8579-851d210723d2.png">

[2019-05-02 22:08] arouinfar commented on #212
👍

[2019-05-02 22:08] #212 closed, assigned to arouinfar

[2019-06-18 01:16] pixelzoom commented on #210
This hasn't recurred in almost 3 months, so closing.

[2019-06-18 01:16] #210 closed, assigned to nobody

[2019-07-15 19:44] zepumph opened #213 "Unused option ValuePanel.titleMaxWidth"
While working on https://github.com/phetsims/gravity-force-lab/issues/165 I noticed, via a global search of `titleMaxWidth`, that this option doesn't appear to be used. @pixelzoom sorry if I just don't understand, but over to you to fix or clarify.

[2019-07-15 20:41] pixelzoom commented on #213
I inherited this sim from another developer, and commit history for `ValuePanel` indicates that it was "a rewrite of scale and timer display".  So I'm guessing that `titleMaxWidth` is a vestigial option from some code that I inherited and rewrote.    The title's `maxWidth` appears to be properly computed, and I see no `titleMaxWidth` option in the superclass (Panel), so I'll go ahead and remove it

[2019-07-15 20:43] #213 closed, assigned to pixelzoom

[2019-09-07 23:39] pixelzoom opened #214 "CT: Tried to insert a disposed Node"
[code]

[2019-10-29 18:19] pixelzoom commented on #214
This should be fixed by the above commit.  I haven't been able to reproduce manually, and it occurs rarely in CT, so I'll give it a couple of weeks to see if it occurs again.

This has no negative consequences in the production version, so there's no need to cherry-pick to the release branch, and no need to regression test in the next QA cycle.

[2019-12-22 04:53] pixelzoom commented on #214
Hmm.... Still happening, albeit very rarely.

[code]

[2020-01-03 20:22] pixelzoom commented on #214
The guard that I added in https://github.com/phetsims/unit-rates/commit/b7da895cd395f263a776ff510e85316aa588eb1f prevents an animation from being started for a disposed item.  But it doesn't work if item is disposed while the animation is in progress, which appears to be what is happening here.  I spent 15 minutes looking at ways to address this, and it's not straightforward.  I could not reproduc

[2020-01-08 17:45] pixelzoom opened #215 "Assertion failed: invalid t: NaN"
Steps to reproduce:

1. Start sim with ?ea
2. Go to Shopping screen
3. Open denominator keypad, enter "333"
4. Open denominator keypad, enter "334"

[code]

[2020-01-08 17:48] pixelzoom commented on #215
I thought this might be related to changes made for phetsims/phet-info#126, but I rolled back to 84fbf5bc6f4fb1783bb99649ca365cb0d51401e9 and that's not the case.

I'm guessing this is failing because the distance to animate is zero.  So that probably results in a divide-by-zero error somewhere.

[2020-01-08 18:02] pixelzoom commented on #215
Here's the divide-by-zero problem, in Animation.js:

[code]

`this.length` is the computed duration of the animation (in seconds), and it's 0 because the start and end positions are the same.

[2020-01-08 18:22] pixelzoom commented on #215
This is a general problem with Animation, which I've reported in https://github.com/phetsims/twixt/issues/27.   If the marker doesn't need to move, then the Animation has `duration: 0`, and that will fail with a divide-by-zero (`NaN`) error.

This problem was introduced in this sim when `MoveTo` was replaced by `Animation` on 8/24/18.  I'm going to work around it by adding logic to create the Anim

[2020-01-08 18:36] pixelzoom commented on #215
Fixed in the above commit.  Since this issue never appeared in a released version, I'm going to go ahead and close it.

[2020-01-08 18:36] #215 closed, assigned to pixelzoom

[2020-01-09 18:08] pixelzoom commented on #215
Since phetsims/twixt#27 has been fixed, I removed the workaround that was added in https://github.com/phetsims/unit-rates/commit/b66d080e503e261c0b4ea610cae7c61a5a6bec5c.

[2020-02-27 19:49] pixelzoom opened #216 "Uncaught Error: reentry detected, value=null, oldValue=9"
Noted by @KatieWoe during ES6 module migration testing.  Unknown whether this is related to ES6 module migration.

Steps to reproduced:
1. Start the sim with `?ea`
2. Go to _Shopping Lab_ screen
3. Enter '9' in the Double Number Line numerator
4. Enter '9' in the Double Number Line denominator

This Error occurs:

[code]

The numerator value gets cleared and the sim looks like this:

<img width="3

[2020-02-27 20:06] pixelzoom commented on #216
This may be an ES6 module issue.  @samreid tested on a pre-migration copy on his machine, and it was not a problem.

[2020-02-27 20:48] pixelzoom commented on #216
Using the shas that were recorded just before ES6 module migration (see https://github.com/phetsims/chipper/issues/875#issuecomment-592105084), I demonstrated that this problem occurred before migration, and is therefore unrelated to migration.

[2020-03-04 03:02] pixelzoom commented on #216
Also fails on the _Shopping_ screen with denominator 5 and numerator 2, which happens to be a "correct" answer.

[code]

<img width="1039" alt="screenshot_164" src="https://user-images.githubusercontent.com/3046552/75841004-e6a99e80-5d89-11ea-88c8-b8e7bb4e8e61.png">

[2020-03-10 16:31] pixelzoom commented on #216
Fixed, closing.

[2020-03-10 16:31] #216 closed, assigned to pixelzoom

[2020-03-12 21:52] pixelzoom commented on #214
As of 3/12/2020, I haven't seen this Error for many weeks.

[2020-04-07 19:25] pixelzoom commented on #214
Still no sign of this Error as of 4/7/20. Closing.

[2020-07-23 15:47] pixelzoom commented on #214
Reopening.  This hadn't occurred for a long long time, then occurred once on 7/22/2020 @ 10:44:49 PM.

[code]

[2020-09-08 23:32] pixelzoom opened #217 "replace deprecated input listeners"
Related to https://github.com/phetsims/scenery/issues/1078.

- [x] KeypadLayer: DownUpListener > PressListener
- [x] MarkerEditorNode: DownUpListener > FireListener
- [x] ShoppingQuestionNode: DownUpListener > PressListener
- [x] RaceTrackNode: SimpleDragHandler > DragListener
- [x] BagDragHandler: SimpleDragHandler > DragListener
- [x] ShoppingItemDragHandler: SimpleDragHandler > DragListener

[2020-09-09 01:48] pixelzoom commented on #217
Done, closing.

[2020-09-09 01:48] #217 closed, assigned to nobody

[2020-11-09 05:11] pixelzoom commented on #214
Next occurrence was ~4 months later, on 11/7/2020, see below.

[code]

[2021-02-05 19:00] jbphet commented on #153
@zepumph is going to take this on, assigning to him.

[2021-02-08 16:44] KatieWoe commented on #214
2/8/21
[code]

[2021-02-08 18:04] pixelzoom commented on #214
Fixed in the above commit.  Any attempt to animate a disposed item Node is now ignored.    I alos reverted https://github.com/phetsims/unit-rates/commit/b7da895cd395f263a776ff510e85316aa588eb1f, because it was not the proper place to be addressing the problem.

Since this happens rarely in CT, I'm going to close this issue immediately.  If it resurfaces, we can reopen.

[2021-02-08 18:04] #214 closed, assigned to nobody

[2021-04-29 20:43] pixelzoom commented on #160
`showAnswers` has been private for almost 2 years now, and is working fine. So I'm just going to close this issue.

[2021-04-29 20:43] #160 closed, assigned to nobody

[2021-07-13 20:09] pixelzoom commented on #153
It's been 4.5+ years since the next-gen Keypad was started, and it's still not completed. And it's been 4+ years since this issue was opened to replace NumberKeypad with Keypad in this sim.  Other sims are using Keypad, so I decided to go ahead and use it in this sim.

Closing.

[2021-07-13 20:09] #153 closed, assigned to zepumph