[2016-02-18 21:30] pixelzoom opened #1 "Unit Rates master checklist"
# Unit Rates master checklist
## Design
- [x] **Sim folder and design doc created** (Date: 09/22/2015)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Learning goals and standards identified** (Date: 12/08/2015)
- [x] **Design concept complete**  (Da

[2016-02-19 22:13] ariel-phet opened #2 "Apply standard label set"
@mattpen can you apply the standard label set to this repo?

Also, if this is something easy to show how to do, I am happy to the run the script myself in the future.

[2016-02-19 22:21] ariel-phet commented on #2
Part of #1

[2016-02-19 22:40] ariel-phet commented on #2
And please assign back to me when finished

[2016-02-22 17:12] mattpen commented on #2
@ariel-phet - I've added the labels for unit-rates.

I added a [readme](https://github.com/phetsims/phet-info/blob/master/github-labels/README.md) with instructions on how to run these scripts yourself if you want to, let me know if you have any questions about it.

[2016-02-22 17:28] ariel-phet commented on #2
Thanks @mattpen - perhaps we can look together on Thursday to make sure I have what I need to do it myself.

[2016-02-22 17:28] #2 closed, assigned to ariel-phet

[2016-03-17 19:23] phet-steele opened #3 "Automated Testing Errors"
Hello @schmitzware, welcome to automated testing! fuzztesting requirejs:

[code]

[2016-03-17 19:24] phet-steele opened #4 "Lint Errors"
[code]

[2016-03-17 21:50] #4 closed, assigned to schmitzware

[2016-03-17 21:56] #3 closed, assigned to schmitzware

[2016-03-22 18:52] phet-steele opened #5 "Automated Testing Build Errors (3/22/2016 10:00 AM)"
[code]

[2016-03-22 21:09] #5 closed, assigned to schmitzware

[2016-03-29 04:59] samreid opened #6 "Typo in "Challanges""
It should read "Challenges".  I noticed 6 occurrences across the repo, including but not limited to the filename ChallangesNode.js

[2016-03-29 05:09] samreid opened #7 "Factor out logic in Scale.js?"
I noticed the current implementation of `addItem` in Scale.js is like so:

[code]

I wondered if it would be sensible to factor out some of the duplicate logic like so:

[code]

If you want to pursue an implementation strategy like the latter, it may also make sense to move the types map to ItemData (or factored out somewhere else like that).

[2016-03-29 05:13] samreid opened #8 "Minor updates for annotations"
I am glad to see the visibility modifiers, such as `// @public (readonly)`, but wanted to point out that the convention is for the modifiers to be hyphenated like `// @public (read-only)`, etc.  The details are listed in the "Coding Style Guidelines" of bit.ly/phet-development-overview

[2016-03-29 15:48] schmitzware commented on #8
Thanks Sam -

Just to point out, At this point, I’m focused on getting functionally complete, not on comments and documentation.  I’ll do (several) more passes on comments and code clean up later.

Cheers,

-Dave

[2016-03-29 15:50] schmitzware commented on #7
Yes, that's a better way to do it. Thanks. I just got this working yesterday. I like to work in passes, so I will refactor it again. Thanks for the suggestions, that looks great.

[2016-03-29 15:50] samreid commented on #8
Sounds great, there is no need to address these issues now.

[2016-03-29 15:51] schmitzware commented on #6
I'm not working on 'Challanges' at the moment, it's all just a place holder for now. But thanks for pointing that out. It will be fixed..

[2016-03-29 17:48] phet-steele opened #9 "Automated Testing Build Errors (3/29/2016 10:00 AM)"
[code]

[2016-03-29 18:34] #9 closed, assigned to schmitzware

[2016-07-21 18:20] phet-steele opened #10 "Exceeding max bag count"
This issue happens with either fruit, veggies, or candy. The below steps will assume fruits are being used:
1. Put all of one type of fruit on the scale
2. Switch to another fruit (or to veggies, or to candy)
3. Press the Remove button
4. Switch back to your fruit in step 1

The fruit you had put on the scale will remain, but you will additionally have new bags on the shelf to use.
<img width="118

[2016-07-21 19:07] arouinfar opened #11 "Update touch/mouse areas for scale"
Currently, the behavior of dragging items on/off the scale is a bit too sensitive.

Let's increase the touch/click area around the scale like so:
![image](https://cloud.githubusercontent.com/assets/8419308/17035123/f4b65c24-4f42-11e6-9b50-901a0ca00616.png)

If the center of the bag is in this region when the bag is released, the bag will land on the scale. To place items back on the shelf, it need

[2016-07-21 19:19] schmitzware opened #12 "Number line marker: rounding error with carrots 9/$1.35"
A rounding error keeps it from being correct.

[2016-07-21 19:28] arouinfar opened #13 "Increase maximum number of major tick marks to 16"
Originally, the double number lined had been designed to fit 15 major tick marks. However, it looks like there is room to add a 16th line while maintaining the current spacing and font size.

The extra line has been mocked up in red over a screenshot of the sim.
![image](https://cloud.githubusercontent.com/assets/8419308/17035541/1b36e272-4f45-11e6-84cc-ec91429d8fba.png)

Having 16 major tick line

[2016-07-21 19:32] phet-steele opened #14 "No line appearing for an answered challenge"
1. Answer a challenge correctly. A line will appear on the number line
2. Reset All
3. Answer a challenge correctly, from the SAME food selection in step 1 (or Apples). No line will appear on the number line
4. Press Erase. A line will appear for the challenge in step 3.

<img width="1539" alt="screen shot 2016-07-21 at 1 31 30 pm" src="https://cloud.githubusercontent.com/assets/5863899/17036004/8

[2016-07-21 19:33] phet-steele commented on #12
Found for phetsims/tasks/issues/657 😄

[2016-07-21 19:38] arouinfar commented on #14
Good catch @phet-steele. At one point we had decided that correctly answering challenge prompts (other than the unit rate) should not populate the double number line, which is contrary to the behavior here. I'm going to tag this issue for design meeting, so we can discuss the desired behavior.

[2016-07-21 21:25] arouinfar commented on #11
As discussed in the 7/21 design meeting, let's move forward with this proposed change.

[2016-07-21 21:52] phet-steele opened #15 "4th challenge prompt issues"
Both of these were after sim load, no fancy procedure necessary These issues may be indicative of a larger problem.

1) This 4th challenge for Apples is a little wrong, it _should_ read $5.00/ 10 Apples, not 10/ 10 Apples. The user input for this challenge happened to be "10", which looks to have just been placed in the numerator (or $5.00 was just rounded up):

<img width="280" alt="screen shot 2

[2016-07-22 16:58] phet-steele opened #16 "iPad button discoloration"
The Edit buttons and Return button are not one solid color (unlike the desktop version).
![img_0001](https://cloud.githubusercontent.com/assets/5863899/17064627/a678158a-4ffa-11e6-9268-c0f22a732837.PNG)
![img_0001](https://cloud.githubusercontent.com/assets/5863899/17064641/bb6b5b6e-4ffa-11e6-826c-1ea5e8eeaae4.PNG)

Seen on Dalton (iPad Air 2, iOS 10 Beta 2). For phetsims/tasks#657.

Troubleshooti

[2016-07-22 17:14] phet-steele opened #17 "Update the scale readout when removing objects"
@arouinfar @schmitzware It would make more sense if the scale readout updated based on what is visually on it. Grabbing food from the scale would decrease the scale's displayed value instantly. In the video below, the scale should read $0.00 as soon as I grab the tomatoes (instead it stays as $1.20 until they are returned to the shelf):

![ur01](https://cloud.githubusercontent.com/assets/5863899/1

[2016-07-22 19:59] phet-steele opened #18 "Incomplete drags result in floating food"
1. Use finger A to grab some food
2. Use finger B to switch sim state (to a new food in the combo box, or to a new food in the scene select). Note switching screens does not cause an issue.
3. Switch back to step one's state

Here you can release finger A and the food will remain, or you can try to drag the food and it will refuse to move. Here's what it looks like after multiple runs of the proce

[2016-07-22 20:20] brroberts1231 commented on #16
Not seen on Tycho, iPad 2, iOS 9.3.3

[2016-07-22 21:03] arouinfar commented on #17
Great suggestion @phet-steele! Please make this change @schmitzware.

[2016-07-24 05:23] samreid opened #19 "Should this repo be in active-runnables?"
I was surprised to discover that this simulation wasn't listed in active-runnables. Is it ready for that?

[2016-07-25 16:29] phet-steele commented on #19
@schmitzware this sim is in dev testing, so as part of that please put it in active-runnables (preferably in the next 24 hrs).

[2016-07-25 16:45] schmitzware commented on #19
183dcea48529851c6321fa9e43616ce541b7ede2

[2016-07-25 16:45] #19 closed, assigned to schmitzware

[2016-07-25 16:52] schmitzware commented on #16
https://github.com/phetsims/unit-rates/commit/29e3827fdaf0f39c05f80f33efb94e5f1b10b672

[2016-07-25 16:59] schmitzware commented on #6
Sam, I'm not sure where I got around to fixing these 3 early on issues that you put in. They are all fixed though if you want to take a look. (#6, #7, #8)

[2016-07-25 17:01] samreid commented on #6
Looks great, thanks! Closing.

[2016-07-25 17:01] #6 closed, assigned to samreid

[2016-07-25 17:03] samreid commented on #7
OK it looks like the duplicate logic is factored out, thanks!  Closing.

[2016-07-25 17:03] #7 closed, assigned to samreid

[2016-07-25 17:05] samreid commented on #8
Looks much better, thanks!  The only thing I'm still seeing for this issue is one occurrence of "read-write" and two occurrences of "readwrite", I think all 3 should be the former.

[2016-07-25 17:33] schmitzware opened #20 "Implement final Challenge prompts with design doc data"
There is still no decisions on candy rates & challenge questions so everything is still being randomly generated until that is finalized.

[2016-07-25 17:38] schmitzware commented on #8
Done
https://github.com/phetsims/unit-rates/commit/8db9a4a071abffd097381d69b3bc25d3bf446c15

[2016-07-25 17:43] samreid commented on #8
Looks good, thanks! Closing.

[2016-07-25 17:43] #8 closed, assigned to samreid

[2016-07-25 21:15] schmitzware commented on #15
https://github.com/phetsims/unit-rates/commit/9b9bd8621b9d4ab9dc81fd156c097aec3007d9ec

[2016-07-25 21:21] phet-steele commented on #10
Fixed in 1.0.0-dev.11, closing.

[2016-07-25 21:21] #10 closed, assigned to phet-steele

[2016-07-25 21:22] phet-steele commented on #14
Fixed in 1.0.0-dev.11, closing.

[2016-07-25 21:22] #14 closed, assigned to phet-steele

[2016-07-25 21:29] phet-steele commented on #12
@schmitzware if I enter the denominator first (9), then the numerator (1.35), I get a line placed correctly. However, if I flip that order and enter the numerator then denominator, I get a smaller gray line. Here they are stacked on top of each other, in 1.0.0-dev.11:
<img width="206" alt="screen shot 2016-07-25 at 3 26 27 pm" src="https://cloud.githubusercontent.com/assets/5863899/17118100/849806

[2016-07-25 21:35] phet-steele commented on #15
Fixed in 1.0.0-dev.11, closing.

[2016-07-25 21:35] #15 closed, assigned to phet-steele

[2016-07-25 22:25] schmitzware commented on #12
https://github.com/phetsims/unit-rates/commit/d34f35e0d0950c6e2206c865324208f3c8357735

Slightly different issue/solution.  Good catch!

[2016-07-25 22:37] schmitzware commented on #13
https://github.com/phetsims/unit-rates/commit/35fab776f5c51d11450237e22bb1d4eeff069735

[2016-07-26 19:41] alynne-phet opened #21 "Objects from the shelf and the scale get stuck in mid air"
For phetsims/tasks#657
Test Device: Dalton
Operating System: iOS 10 Beta 2
Browser: Safari

Problem Description: When making quick and small drags on one object, the object will get stuck in mid air. It's most likely that the animation to return the object is getting interrupted.

Steps to Reproduce:
1. Drag an object from the shelf with quick and short motions
2. Place an object on the scale and

[2016-07-27 18:01] schmitzware commented on #11
https://github.com/phetsims/unit-rates/commit/19c07842cc8818a6a8efe880b525a6515583a1dd

[2016-07-27 18:01] schmitzware commented on #21
https://github.com/phetsims/unit-rates/commit/19c07842cc8818a6a8efe880b525a6515583a1dd

[2016-07-27 18:02] schmitzware commented on #18
https://github.com/phetsims/unit-rates/commit/19c07842cc8818a6a8efe880b525a6515583a1dd

[2016-07-27 19:43] schmitzware commented on #21
Fixed in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.12/

[2016-07-27 19:44] schmitzware commented on #18
Fixed in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.12/

[2016-07-27 19:44] schmitzware commented on #13
Fixed in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.12/

[2016-07-27 19:45] schmitzware commented on #11
Fixed in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.12/

[2016-07-27 19:47] schmitzware opened #22 "Color code number line/challenge prompt"
Make the challenge prompt lines a different color.

Keep challenge prompt titles black, answers color code.

Unit rate [green] and other challenges [blue].

Scale state stays on numberline (black).

[2016-07-27 19:48] schmitzware opened #23 "Add refresh/reset button to challenge prompts"
Make challenge panel larger to fit refresh button.

Refresh only applies to prompts following unit rate… unit rate stays (whether right or wrong).

Color-coordinated challenge prompt lines turn to black, no longer special (see above).

[2016-07-27 19:58] arouinfar commented on #13
@schmitzware the arrow heads on the horizontal lines look too close to the 16th line, and I think it's because the lines themselves are more spaced out than they were in earlier dev versions.

Compare dev.11 (top), dev.12 (middle), and the overlay of the two (bottom)
![image](https://cloud.githubusercontent.com/assets/8419308/17190031/725d64f2-5401-11e6-9c7f-1870e272fbab.png)
![image](https://clou

[2016-07-27 20:41] arouinfar opened #24 "Add refresh button the challenge prompt panel"
For the Shopping screen, there are four sets of challenge prompts for each item, and the set of prompts should be randomly chosen at startup.  Teachers may want students to all work on the same set of prompts, or students may want additional practice with a given item, so we're adding a refresh button to allow this access.

I don't think the refresh button needs to do anything pseudo-randomly. If

[2016-07-27 20:43] arouinfar commented on #24
Looks like this is a duplicate of #23. Sorry about that @schmitzware. Closing!

[2016-07-27 20:43] #24 closed, assigned to schmitzware

[2016-07-27 20:45] schmitzware commented on #23
![59174b3e-4f47-11e6-8cfe-1b5f358d35da](https://cloud.githubusercontent.com/assets/694045/17191752/4e861a70-5400-11e6-88c3-e7ad3e92f1c1.png)

[2016-07-27 20:49] schmitzware commented on #13
https://github.com/phetsims/unit-rates/commit/f4fdcd3e19d0692b3edd1f541ef407fa6706cf02

[2016-07-27 20:49] schmitzware commented on #13
![screen shot 2016-07-27 at 1 49 31 pm](https://cloud.githubusercontent.com/assets/694045/17191877/f666c79e-5400-11e6-9908-de54a79cae70.png)

[2016-07-27 20:53] phet-steele commented on #12
👍 in 1.0.0-dev.12

[2016-07-27 20:53] #12 closed, assigned to phet-steele

[2016-07-27 21:01] schmitzware opened #25 "Layout shelf/scale items on a grid on DnD."
bottom row of 8 items, top row of 7 items.

[2016-07-28 06:28] arouinfar commented on #13
It looks like you put the 16th tick mark where the 15 was located in dev.11, so the lines are now closer together than they were in dev.11. This is not quite was I asked for @schmitzware, sorry if I was unclear! What I meant to ask for is for the 1-15 lines to stay located as they were in dev.11, and then the 16 gets added to the end (like the first screenshot in this issue).

[2016-07-28 07:30] arouinfar commented on #22
@schmitzware here's a mockup of the color-coordinated challenge prompts and double number line.

Green: 00a551
Blue: 0040ff

![image](https://cloud.githubusercontent.com/assets/8419308/17205444/577c0f96-5468-11e6-89db-f7835fd4dbd3.png)

![image](https://cloud.githubusercontent.com/assets/8419308/17204430/b97f5a5a-5462-11e6-97d1-39491ff593fc.png)
(Please disregard the scaling of the double number l

[2016-07-28 08:05] arouinfar commented on #11
Feels good to me! Closing.

[2016-07-28 08:05] #11 closed, assigned to arouinfar

[2016-07-28 20:58] schmitzware commented on #13
No worries, Amy.. Have a look now.
https://github.com/phetsims/unit-rates/commit/1a41b4b2fc41cc81796770be6a45857ef6149d0a

[2016-07-28 20:59] schmitzware commented on #22
https://github.com/phetsims/unit-rates/commit/1a41b4b2fc41cc81796770be6a45857ef6149d0a

[2016-07-29 03:12] arouinfar commented on #13
Looks great! Thanks @schmitzware

[2016-07-29 03:12] #13 closed, assigned to arouinfar

[2016-07-29 03:12] arouinfar commented on #22
👍

[2016-07-29 03:12] #22 closed, assigned to arouinfar

[2016-08-01 15:47] phet-steele opened #26 "Cannot take items off the scale and place them directly on the shelf"
From the changes in #11, an object returned directly to the shelf (released in the white area) will visibly remain on the shelf while the sim still treats it as being on the scale. See how the value on the scale never changes, and when I add something to the scale the other objects "correct" themselves:

![ur02](https://cloud.githubusercontent.com/assets/5863899/17299681/91d8bd9e-57cc-11e6-9f64-73

[2016-08-01 16:08] ariel-phet opened #27 "Code review of first screen"
# PhET code-review checklist

**Build and Run Checks**
- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there any unused st

[2016-08-01 16:16] andrewadare commented on #27
@schmitzware in case you have anything to do before I have a look, you have some time, because I can't get to it today.

[2016-08-01 16:27] schmitzware commented on #27
Hey Andrew -

Yeah, I have a few things I'd like to finish up. Give em a shout when you're ready to review and I'll make sure it's all pushed/current.

[2016-08-01 16:31] andrewadare commented on #27
Let's shoot for reviewing Wednesday, does that work?

[2016-08-01 16:57] schmitzware commented on #27
Sounds good to me. Thanks Andrew.

[2016-08-01 19:33] schmitzware commented on #26
https://github.com/phetsims/unit-rates/commit/6c05e604cfff72fd511a97f6bbe89e866a57bcb7

[2016-08-01 19:35] schmitzware commented on #23
https://github.com/phetsims/unit-rates/commit/6c05e604cfff72fd511a97f6bbe89e866a57bcb7

[2016-08-01 19:36] schmitzware commented on #23
This re-populates the Challenges with new data (still random at this point). It will also remove all the corresponding number line markers..

[2016-08-01 19:48] arouinfar commented on #23
Took a look at master, and the behavior is working except for the unit rate.

Refresh should clear prompts 2-4 and the associated ticks on the double number line. The only exception would be if the tick mark corresponds to the number of items on the scale.

For example, a challenge prompt asks for the cost of 4 apples. I place a bag of apples on the scale, and then remove one apple, leaving 4 on t

[2016-08-01 20:43] schmitzware commented on #23
Gotcha.. thanks!  I'll tweak that this afternoon..

[2016-08-01 23:06] schmitzware commented on #23
https://github.com/phetsims/unit-rates/commit/5a588323bc38b3af22da0eadecb86729ccc8cdab
Try that out when you get a chance, Amy.

[2016-08-01 23:43] arouinfar commented on #23
The unit rate prompt appears to be fixed, but the tick mark issue is still present @schmitzware

In this situation, the tick mark at 5 apples should remain on the double number line pressing the challenge reset button because there are five apples still on the scale. However, the tick mark would no longer be color-coordinated to the challenge prompts, so it would go back to black.

![promptrefresh

[2016-08-02 16:21] phet-steele commented on #16
@schmitzware it looks like this is going to be an iOS 10 Beta problem not specific to this sim, tracked here phetsims/scenery/issues/556.

[2016-08-02 16:21] #16 closed, assigned to phet-steele

[2016-08-02 17:10] phet-steele opened #28 "Automated Testing Build Error (8/2/2016 10:13 AM)"
[code]

[2016-08-02 18:01] schmitzware commented on #23
They say the 3rd time's a charm.  Give that a whirl when you get a chance.
https://github.com/phetsims/unit-rates/commit/7514213ec4b2c11f271bd562cfba70e483492800

[2016-08-02 18:02] schmitzware commented on #28
Added license info.
https://github.com/phetsims/unit-rates/commit/7514213ec4b2c11f271bd562cfba70e483492800

[2016-08-02 18:04] arouinfar commented on #23
Evidently the 3rd time really is the charm @schmitzware! Looks great. Closing.

[2016-08-02 18:04] #23 closed, assigned to arouinfar

[2016-08-03 14:46] andrewadare opened #29 "AI file for scale.png missing"

[2016-08-03 15:13] andrewadare opened #30 "Unconventional use of return"
In QuestionAnswer.js, `return` is used with function (rather than keyword) syntax:

[code]

Also appearing in Item.js. I don't think this follows PhET conventions. Just a minor issue; `return(` -> `return (` should fix it.

[2016-08-03 15:40] andrewadare opened #31 "assert( true )"
Are these correct? I would think you want assert(false) inside these conditions:

Searching 38 files for "assert( true"

/Users/adare/phetsims/unit-rates/js/common/view/EditNumberDisplayNode.js:
  106      }
  107      else {
  108:       assert && assert( true, 'invalid buttonPosition for EditNumberDisplayNode' );
  109      }
  110

/Users/adare/phetsims/unit-rates/js/shopping/model/Challenges.j

[2016-08-03 15:42] andrewadare opened #32 "Minor formatting issues"
70 occurrences of `if(` (should be `if (`)

[2016-08-03 16:15] andrewadare opened #33 "Chained methods with a trailing dot?"
`setPosition` in Item.js contains this chained method call:

[code]

I'm not sure about this (hence the question tag), but I think it's more idiomatic to start new methods in the chain with the dot. Didn't see anything in the dev guide on this, but the examples in the [online scenery docs](http://phetsims.github.io/scenery/doc/) follow that pattern.

[2016-08-03 16:19] andrewadare opened #34 "Unused code"
In Item.js:

[code]

[2016-08-03 16:28] andrewadare commented on #34
Also in ShoppingConstants.js:

 `//var PhetFont = require( 'SCENERY_PHET/PhetFont' );`

[2016-08-03 16:39] andrewadare opened #35 "Use of math.round"
getCountPrecision in NumberLineItem.js uses math.round where it should use `dot.Util.roundSymmetric`.

[2016-08-03 17:00] andrewadare commented on #27
@schmitzware Looks great overall!

As you see, most of the issues are minor, perhaps with the exception of #31. Memory consumption and performance are very reasonable (unsurprising since not much (de)allocation is taking place). Code architecture looks good to my not-yet-expert eye.

Back over to you to look at the issues.

[2016-08-03 17:50] schmitzware commented on #27
Hey Andrew -

Thanks a bunch! That's great to have another set of eyes look over things..  I'll start taking a look at those.  Cheers.

[2016-08-04 00:45] schmitzware commented on #27
Hey Andrew - do you want me to reassign these to you to check when I address them or should I just close them as I go?

[2016-08-04 00:47] schmitzware commented on #25
https://github.com/phetsims/unit-rates/commit/96a362d4ad5b811d3f20f8d2fcad69e01010833f

[2016-08-04 00:47] schmitzware commented on #29
https://github.com/phetsims/unit-rates/commit/96a362d4ad5b811d3f20f8d2fcad69e01010833f

[2016-08-04 02:52] andrewadare commented on #27
Since every single issue involves a straightforward fix this time, I think it's fine if you just close them as they get addressed.

[2016-08-04 20:53] schmitzware commented on #35
https://github.com/phetsims/unit-rates/commit/13aed8456f19c600988b40186056c2e2dec5b844

[2016-08-04 20:53] #35 closed, assigned to schmitzware

[2016-08-04 20:55] schmitzware commented on #34
https://github.com/phetsims/unit-rates/commit/25f64d89e42c23445fa338d6eccfed1af0265a26

[2016-08-04 20:55] #34 closed, assigned to schmitzware

[2016-08-04 20:57] schmitzware commented on #33
https://github.com/phetsims/unit-rates/commit/ff520e91870a0bf2074afff3a02de7bb46d2eb23

[2016-08-04 20:57] #33 closed, assigned to schmitzware

[2016-08-04 21:02] schmitzware commented on #32
https://github.com/phetsims/unit-rates/commit/d2a6be1f2e9f6aeb9a3e94ed62138d6dc98baafe

[2016-08-04 21:02] #32 closed, assigned to schmitzware

[2016-08-04 21:04] schmitzware commented on #30
https://github.com/phetsims/unit-rates/commit/ba4ce1dd6942a06e279a0e5336dd90d4c718a82c

[2016-08-04 21:04] #30 closed, assigned to schmitzware

[2016-08-04 21:04] #29 closed, assigned to schmitzware

[2016-08-04 21:09] schmitzware commented on #31
https://github.com/phetsims/unit-rates/commit/22446793a68ae9efd1930932ec8077b7cdf768be
great catch - thanks!

[2016-08-04 21:10] #31 closed, assigned to schmitzware

[2016-08-04 21:15] schmitzware commented on #27
I just completed a dev pass, addressing all the issues from the initial code review. I've also gone ahead and checked off those items off in the checklist above. However, I left the things like README's, credits, FIXME's unchecked that will need to get address a bit further down the line.

[2016-08-08 15:04] #28 closed, assigned to phet-steele

[2016-08-10 00:03] schmitzware commented on #25
https://github.com/phetsims/unit-rates/commit/9736b8fafd25244cc10bafc284bb12489c7128bd

[2016-08-10 00:03] #25 closed, assigned to schmitzware

[2016-08-10 00:04] schmitzware commented on #17
The scale readout now updates immediately on an item drag.
https://github.com/phetsims/unit-rates/commit/9736b8fafd25244cc10bafc284bb12489c7128bd

[2016-08-10 17:01] arouinfar commented on #17
Looks good!

[2016-08-10 17:01] #17 closed, assigned to arouinfar

[2016-08-15 21:02] schmitzware opened #36 "Stacked fruit sometimes does not fall"
Occasionally when you remove a bottom fruit from the scale the fruit item stacked on top of it fails to slide down to take a bottom position.

This seems random, I haven't been able to reproduce it consistently.

[2016-08-15 21:31] arouinfar commented on #20
Self-assigning to finalize the candy prompts.

[2016-08-16 00:34] arouinfar opened #37 "Dismiss number pad after submission"
When manually adding lines to the double number line, I often catch myself overwriting the first number entered because I expect the focus to automatically move to the 2nd box. For example, I'll manually add a line at 6 apples, and then I'll immediately enter a 3 (meant to be $3.00) without clicking on the appropriate edit button, and the line shifts to to 3 apples.  If I expect this behavior (des

[2016-08-16 21:40] schmitzware commented on #37
Good idea, Amy. I just added this.
https://github.com/phetsims/unit-rates/commit/eaa4733210754b5c3a01079442e2ca574e57c535

[2016-08-16 22:34] arouinfar commented on #37
Looks great! Thanks @schmitzware

[2016-08-16 22:34] #37 closed, assigned to arouinfar

[2016-08-18 17:35] arouinfar opened #38 "Minor tick marks broken"
In the latest dev, minor tick marks corresponding to a fractional number of items are no longer inset and gray.

Compare dev.15 (top) and dev.14 (bottom). The desired behavior is dev.14.
![image](https://cloud.githubusercontent.com/assets/8419308/17783578/e4494ab4-6535-11e6-89bb-9a5c8339e9a5.png)
![image](https://cloud.githubusercontent.com/assets/8419308/17783599/facaed88-6535-11e6-88a4-42c7a88d1

[2016-08-18 17:40] arouinfar opened #39 "Suppress decimal on major tick marks for fruits and vegetables"
From @kathy-phet

@schmitzware can you please remove the decimal on the major tick marks for the fruit and vegetables? This would affect the Shopping and Shopping Lab screens.

All of the tick marks on the bottom would be 1, 2, 3...
![image](https://cloud.githubusercontent.com/assets/8419308/17784078/4bc47914-6538-11e6-9d42-888473e88f1d.png)

Any manually added tick marks at fractional values of i

[2016-08-18 20:55] schmitzware commented on #38
Fixed rounding error when getting the precision of a float. (i.e. 1.0000003)
https://github.com/phetsims/unit-rates/commit/fb194170c32ed06335e7ce5d9222843559d1c871

[2016-08-18 21:10] schmitzware commented on #39
This turns out to be a little more complicated that it appears. I'm using a common PHET UI component which doesn't allow for dynamically changing the number of decimal places to show. This is set once at creation time - for fruit/produce it's 1, for candy it's 2.

Seems it would be best to add this functionality there, rather than doing a custom UI component just for Unit Rates, however doing so w

[2016-08-19 19:57] arouinfar commented on #38
👍

[2016-08-19 19:57] #38 closed, assigned to arouinfar

[2016-08-23 18:30] phet-steele opened #40 "Automated Testing Build Error (8/23/2016 10:00 AM)"
[code]

[2016-08-23 21:34] schmitzware commented on #40
Addressed in:
https://github.com/phetsims/unit-rates/commit/cb14a1b78cfdfdf159e52446f169c5b8cfcf929d

[2016-08-23 21:34] #40 closed, assigned to schmitzware

[2016-08-24 16:30] arouinfar commented on #39
Let's discuss this at design meeting @schmitzware.

[2016-08-24 16:33] kathy-phet commented on #39
It's desirable but lower priority than other progress, so I would vote for putting as low priority for know.
K

Sent from my iPhone

On Aug 24, 2016, at 10:30 AM, Amy Rouinfar <notifications@github.com<mailto:notifications@github.com>> wrote:

Let's discuss this at design meeting @schmitzwarehttps://github.com/schmitzware.

##

You are receiving this because you were mentioned.
Reply to this email

[2016-08-25 17:18] pixelzoom opened #41 "bad type expressions for @param"
ShoppingScreenView line 131:

[code]

IntelliJ IDEA is flagging all of the above type expressions as invalid.  The correct general format is `{Property.<type>}`, e.g. `{Property.<SceneMode>}`.

I did not check to see if this is a problem in other source files.

[2016-08-25 17:22] pixelzoom opened #42 "bad visibility annotation"
ShoppingScreenView line 142:

[code]

IntelliJ IDEA is flagging this as "Private member is not accessible".

You can fix this by changing the visibility annotation for `URShoppingScreenView.removeAllItems` from `@private` to `@protected`.

[2016-08-25 23:44] pixelzoom opened #43 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:37] pixelzoom commented on #43
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:37] #43 closed, assigned to schmitzware

[2016-08-26 20:59] schmitzware commented on #27
Issues have been addressed closing this as a 1st round code review.

[2016-08-26 20:59] #27 closed, assigned to schmitzware

[2016-08-26 21:06] schmitzware commented on #42
https://github.com/phetsims/unit-rates/commit/c42b171db68c1563dd4a4d862704ddd883f15ba2

[2016-08-26 21:06] schmitzware commented on #41
https://github.com/phetsims/unit-rates/commit/c42b171db68c1563dd4a4d862704ddd883f15ba2

[2016-08-26 21:09] pixelzoom commented on #41
👍 Closing.

[2016-08-26 21:09] #41 closed, assigned to pixelzoom

[2016-08-26 21:09] pixelzoom commented on #42
👍 Closing.

[2016-08-26 21:09] #42 closed, assigned to pixelzoom

[2016-08-26 21:12] schmitzware opened #44 "Add 3rd decimal for Scale cost display"
From the design doc:
On the scale, a third decimal place will appear in gray when the price does not terminate at 2 decimal places. (see mockups in the design doc)

[2016-09-02 06:21] kathy-phet opened #45 "open keypad if the user click on an editable field"
Consider making a click on the box of an unanswered challenge equivalent to hitting the official edit button. And either behavior pulls up the numberpad entry for that challenge. In playing with the sim, I was inclined to hit the empty box with my mouse.

Amy R - what do you think?

[2016-09-02 06:29] kathy-phet opened #46 "Unit Rate Challenge in Candy doesn't populate Double Number Line"
When I answer the Unit Rate challenge on the Candy scene, it is not putting the green line on the double number line for some reason. It does on the other scenes. If I refresh the challenges, it does at it.

Please check out this behavior.

[2016-09-02 06:34] kathy-phet opened #47 "Location of objects on the shelf not saved in state"
Consider whether location of objects on the shelf should be saved. Right now, the objects can shift from when you leave a particular type of fruit and then return back to it later. Seems like a bug, but not particularly high priority.

[2016-09-02 06:41] kathy-phet opened #48 "Correctly entered Unit rate should include the "1" in the denominator"
I had recalled that we were going to be explicit about the 1 unit in the denominator of the unit rate, either before it was entered, after, or both? So box on top then "1 Apple" on bottom?

![image](https://cloud.githubusercontent.com/assets/5096804/18194860/c802887c-70a5-11e6-85d6-0864ac9475cb.png)

Amy, am I correct in thinking this should have a 1? Can you elaborate on what decision was for thi

[2016-09-02 15:15] arouinfar commented on #48
@kathy-phet there should not be a 1 in the denominator while the question is unanswered/incorrect , so your screenshot is correct. However, once the unit rate has been correctly answered, the denominator should read "1 Apple" to help emphasize that the unit rate is the cost for one item. We chose not to include the 1 in the denominator for the question itself because we thought that gave away too

[2016-09-02 15:17] arouinfar commented on #47
Good idea @kathy-phet. I agree that this is not a particularly high priority bug to fix, but it should be addressed before publication. Assigning to @schmitzware.

[2016-09-02 15:19] arouinfar commented on #45
Great idea @kathy-phet! I agree that this would be a nice change to make. Assigning to @schmitzware.

[2016-09-02 18:17] schmitzware commented on #46
f98ddcb

[2016-09-02 18:18] schmitzware commented on #46
https://github.com/phetsims/unit-rates/commit/f98ddcb9c2f2c877829a0bec586aec4498f65a74

[2016-09-05 18:41] amanda-phet commented on #48
Why would it be harmful to have 1 in the denominator before answer a question? If anything, it seems like it might make the challenge prompt clearer.

[2016-09-05 18:43] amanda-phet commented on #45
Just throwing this out there- the reason we don't have this behavior is because a lot of HTML5 sims have readouts in white rectangles that you _can not_ edit (while in java sims you _can_ click the rectangle to edit), so it would be more consistent in this sim to have the same behavior. If users can click on a rectangle in this sim they might try to do it in other sims and get frustrated.

[2016-09-06 05:46] arouinfar commented on #48
@amanda-phet it's not harmful, per se. However, including a one in a denominator while the prompt is unanswered/incorrect reveals that the unit rate is per item. If we want students to discover this information, it's probably better not to include the one in the denominator.

[2016-09-06 05:52] kathy-phet commented on #45
My suggestion was based on what my natural action was, so I think it will help will flow. I was cuing off of the edit button for sure, so I think that it won't necessarily create expectations when an edit button is not there. I think the edit button could signify that you can enter something into this box and not confuse users when there is no edit button available.

I think the ease of use of thi

[2016-09-06 05:55] kathy-phet commented on #48
I do remember this conversation and reasoning as Amy R is describing it, about not showing the 1 in the denominator until they submit their answers.

[2016-09-06 06:02] arouinfar commented on #45
While I understand your point @amanda-phet, I tend to agree more with what @kathy-phet has said. However, I think this issue could wait until after the first round of interviews. If we find students attempt to click/touch the boxes to edit them, then I think we should support that interaction. Otherwise, we may not need to support clicking/touching the box to edit, which would preserve the behavio

[2016-09-06 14:14] amanda-phet commented on #45
I wasn't disagreeing, just sharing the discussion that led to having an edit button at all. I don't think we need to wait for interviews, but if we think the larger touch area will increase usability (I agree that it will) we should consider doing the same in other sims that use edit buttons (Make-a-ten, AMM, Projectile Motion).

[2016-09-06 15:58] amanda-phet commented on #48
I didn't know you wanted them to discover what a unit rate was (it's not in the learning goals and there are no meeting notes about it). If that's the case, I don't think showing the 1 after entering the correct answer will help them _discover_ it, because they need to correctly calculate the unit rate first in order to see the 1 in the ratio...

[2016-09-06 19:58] phet-steele commented on #26
Fixed, closing.

[2016-09-06 19:58] #26 closed, assigned to phet-steele

[2016-09-06 20:03] phet-steele commented on #18
Still an issue in master.

[2016-09-07 04:39] arouinfar commented on #48
@amanda-phet I wouldn't say that it was an explicit learning goal, but I do remember having a conversation about this particular behavior when Susan first suggested we display the correct answers in a fraction like "$X.XX/Y items". I found the discussion summarized in the meeting notes from <a href="https://docs.google.com/document/d/1D4FBgMwvvQvo_jITN5a675KWMxseWiMZ-oN0rd7nG9A/edit#heading=h.fxe1

[2016-09-07 04:52] arouinfar commented on #45
Ah, got it @amanda-phet. I agree that we should keep the behavior consistent across sims with edit buttons. I'll remove the on-hold tag, but will still look out for this in interviews.

Ian has also reported that clicking the textboxes would be a useful change.

[2016-09-07 16:19] schmitzware commented on #45
The easiest way to handle this is as Kathy said - "expanding the touch area to include the answer box"

I'll just throw my 0.02 in - I would pick one way to edit for all sims and stick with it. Having said that,  seems like most other applications (mobile, web, desktop) just use 'clickable text boxes' to set focus and make edits.

[2016-09-07 16:33] amanda-phet commented on #48
Thanks for pointing out the conversation in the meeting notes. I guess I agree with Susan then that the 1 should be explicit because students don't often make that connection themselves, and I still think that if they need to correctly calculate the unit rate before seeing the 1 in the ratio, they already know that the unit rate is price for 1 apple. I will add this as something to look for in int

[2016-09-07 16:37] arouinfar commented on #48
Self-assigning to look out for this in interviews. @schmitzware please implement as described earlier.

[2016-09-07 17:53] arouinfar commented on #45
Sounds good @schmitzware. The change should also apply to click areas as well.

In general, that's the goal. However, we often have readouts in boxes that are not editable with a keypad, like these:
![image](https://cloud.githubusercontent.com/assets/8419308/18320646/f678c89c-74e7-11e6-85bb-d14d19592d4a.png)

We want to avoid training students to think that clicking on these sorts of readouts will

[2016-09-15 02:46] arouinfar commented on #20
@schmitzware all prompts are in the design doc. Please make this your top priority, and publish a new dev version once you've updated the prompts.

[2016-09-15 19:15] arouinfar opened #49 "Create Screen/Navbar Icons"
We need icons! Self-assigning.

[2016-09-22 03:47] kathy-phet opened #50 "Manual entry should override existing line"
Amanda was demoing the Unit Rate sim, and it seemed odd when she entered a value in one of the boxes and the whole line entry disappeared (because it happened to be an existing line). I think perhaps it would have seemed more natural for it to just jump to that spot (even though there was already a line there). You can always get rid of it, or enter another number that will jump it to another spot

[2016-09-22 17:09] arouinfar commented on #50
@kathy-phet during the interview, the student attempted to manually add a line that already existed, but I don't remember the outcome. I'll review the screen capture, and then make a recommendation.

[2016-09-23 19:09] pixelzoom opened #51 "tomato is not a vegetable"
The "Shopping" screen has 3 categories of items: fruits, vegetables and candy.   Tomato is a _fruit_, and it's currently in the vegetable category.  Admittedly not a big deal for STEM, but wrong nonetheless.  Perhaps you should avoid the issue altogether by replacing tomato with a vegetable.

[2016-09-23 19:12] arouinfar commented on #51
@pixelzoom I am aware that a tomato is a fruit. However, we do not explicitly call the screen "vegetables" other than in internal documentation.

[2016-09-23 19:13] ariel-phet commented on #51
Could change the internal documentation to "produce" for the vegetables :)

[2016-09-23 19:16] arouinfar commented on #51
We could @ariel-phet. However, "Fruit" and "Produce" seems more confusing, since fruit is produce, after all.

We wanted to choose items of produce that had a variety of different colors, and would be recognizable around the world. That is why tomatoes made it into the "vegetable" scene, despite not being a vegetable.

[2016-09-23 19:16] pixelzoom commented on #51
@arouinfar wrote:

Oh come on... There's an obvious attempt to put things in categories here, and users will pick up on it immediately.  There's clearly a "vegetables" category.  If there's not, then why have 3 different scene buttons?

According to https://en.oxforddictionaries.com/explore/is-a-tomato-a-fruit-or-a-vegetable:

[2016-09-23 19:42] arouinfar commented on #51
@pixelzoom sure, there are categories, but cucumbers are also technically a fruit. A lot of what we might consider "vegetables" (used in savory applications) are botanically fruits like peppers, eggplant, green beans, and squash. Tomatoes are just the most widely known fruit that gets lumped in with vegetables.

If we want to make the options botanically accurate to match the implicit "vegetable"

[2016-09-23 19:48] pixelzoom commented on #51
OK. Closing as "won't fix".

[2016-09-23 19:48] #51 closed, assigned to arouinfar

[2016-09-23 19:55] arouinfar commented on #51
So it's on the record, I'll answer this as well:

The scenes are scaffolded. Fruit bags open up so that individual items can be removed from the scale, and the challenge prompts are much simpler. "Vegetable" bags do not open, and the challenge prompts have added difficulty. The candy scene is used to approximate a more continuous scenario ($/lb rather than $/item).

@pixelzoom I have made a note i

[2016-09-23 21:37] pixelzoom opened #52 "code review"
@ariel-phet asked me to code review unit-rates. OK if this happens after @schmitzware has finished his contract.  The idea is that I will review and just make any changes that need to be done, rather than creating issues and having @schmitzware address them.

@schmitzware please assign back to me if the sim is ready for review before your contract ends.

[2016-09-24 00:17] arouinfar commented on #49
I've created some tentative icons. I chose purple candy for the Shopping screen because it feels the most fun/inviting. For the Shopping Lab, the only options would be apples, carrots, or purple candy. To avoid two like (or like-colored) icons, I chose carrots. For the home screen icon, I think the the spinner would look odd if the units weren't somehow displayed. We want to avoid strings (dollars

[2016-09-26 22:40] schmitzware commented on #52
# PhET code-review checklist

**Build and Run Checks**
- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')

**Strings**
- [x] Are there any unused st

[2016-09-26 22:43] schmitzware commented on #20
https://github.com/phetsims/unit-rates/commit/8513bb99cffafc932b48d3de9f5176ab53cb24c7

Also, fixed a typo made by me in the carrot data

[2016-09-26 23:01] schmitzware commented on #48
Just adding this for the next developer benefit. This functionality is not implemented (as it was a late to the game as far as design changes).  All the other Challenge prompts are set up at creation time, then just made invisible. They're then made visible once a correct answer is entered. This one will be a bit different as it will always be visible, then the text changed when a correct answer i

[2016-09-26 23:08] schmitzware commented on #47
For the next developer, this is not implemented in any way as it wasn't mentioned in the design doc. Currently items on the shelf/scale will populated across the of the node, then stacked on top on one another. This is done in the 'adjustItemPositions' function in both the ShelfNode & ScaleNode. This gets called from 'populate' which in turn gets called when the item type (i.e. apples, carrots, et

[2016-09-26 23:11] schmitzware commented on #45
For the next developer, as mentioned above, the easiest way to handle this is to extend the touch area from the edit buttons to cover the text box.  This can be done in common/view/EditNumberDisplayNode.js

A EditNumberDisplayNode is just a button and a NumberDisplay.

[2016-09-26 23:14] schmitzware commented on #44
For the next developer, you're on your own on this one. :)  Start looking at common/shopping/view/ScaleNode.js.  This has a Text node ("valueText") which may need to either be extended to support multiple colors (yuck!) or maybe paired with a second Text node which only appears when needed (my suggestion).

[2016-09-26 23:18] schmitzware commented on #39
For the next developer, the place to start is in common/model/QuestionAnswer & /common/view/EditNumberDisplayNode.js.  The node is using SCENERY_PHET/NumberDisplay which, I'm guessing, will need to be expanded to allow for changing the number of decimal places (see note above).

[2016-09-26 23:24] schmitzware commented on #36
For the next developer, best place to start is in common/shopping/view/ScaleNode.js, in the function 'adjustItemPositions'. This does the layout/stacking and initiates the moving of stacked items to the bottom of the shelf. The positioning/animating code is down in common/model/Movable.js. This uses Tween which may be the culprit. I just haven't had a chance to look deeper. Also, worth mentioning

[2016-09-26 23:27] schmitzware commented on #18
For the developer,  this has something to do with the animation tweens (see. common/model/Movable.js) not completing when the item type changes. Not sure what the proper way to handle it is. One solution, would be to call the ShelfNode/ScaleNode "adjustItemPositions" either before or after an item type change. It's a bit of a sledgehammer-like approach though.

[2016-09-27 17:58] arouinfar commented on #49
@ariel-phet can you take a look at these when you have a moment?

[2016-09-27 18:24] ariel-phet commented on #49
@arouinfar here are my thoughts
1. Shopping screen just go with the bag of purple candy
2. Perhaps for the lab just have some individual items on the scale (I think not having a bag for this screen would be good to differentiate.) A few carrots on the scale or shelf?
3. Racing Lab looks great

[2016-09-27 18:32] arouinfar commented on #49
Thanks for the feedback @ariel-phet! In response to your comments
1. Agreed.
2. Apple bags open; carrots do not. If we go with individual items on the scale or shelf, it should be apples. I'll mock up a few options.
3. Great!

[2016-09-28 17:30] schmitzware opened #54 "Outstanding issues"
In addition to the existing GitHub issues that are assigned to me

https://github.com/phetsims/unit-rates/issues/assigned/schmitzware

some of these are design doc changes which I never got around to implementing & some of these are internal things which I would like to have done differently or cleaned up a bit more.

Shopping
- First challenge question should have visible 1 in denominator (https:

[2016-09-28 20:22] pixelzoom commented on #54
Other things I noticed:

All screens:
• Dilate touchArea for accordion box expand/collapse buttons
• Dilate touchArea for 'edit' buttons
• Dilate touchArea for 'erase' button
• Disable 'erase' button when there's nothing to erase
• Numeric values on double number line are incredibly small, I almost can't read them on my MacBook. Have these been vetted on iPad or iPad Mini?
• Test multitouch scenar

[2016-09-28 20:37] pixelzoom commented on #46
This is assigned to @kathy-phet for review, but there's no dev version indicated for review.  I'll label as "ready for review".

[2016-09-28 20:38] pixelzoom commented on #46
@kathy-phet Since this was fixed 26 days ago, you should be able to verify in [1.0.0-dev.20](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.20/unit-rates_en.html).  If it looks good, please close this issue. Otherwise report what is still wrong.

[2016-09-28 20:40] pixelzoom commented on #49
@arouinfar Are these icons checked into GitHub? What is the filename or filenames?

[2016-09-28 20:54] arouinfar commented on #49
@pixelzoom the icons are still going through the design process. I'll send them to you once they're ready to be checked in.

[2016-09-29 19:08] arouinfar commented on #54
To address some of @pixelzoom's comments

I've also noticed this. Perhaps the four sets of challenge prompts for each item could be randomly ordered on startup (rather than randomly pulling one set on Challenges.refresh). That way, the challenge refresh button would never repeat the same sets of prompts. For example, on startup the apple prompts are randomly ordered as set D, B, A, C (using the na

[2016-09-29 19:11] arouinfar commented on #50
We discussed this in the 9/22 meeting. If a student manually enters line that already exists on the double number line, it will simply replace the previous line. While the student will lose a little work, it is far more frustrating if nothing appears to happen.

[2016-09-29 21:46] schmitzware commented on #54
Fixed:
- The finish flag needs cursor:'pointer', there's no cursor until you start to drag it.
- When rate is 200 miles / 1 hour, the car finishes in 1.02 hours, that doesn't seem correct. Similar error with other values.
- Reset All button is in a different place than other screens
- Fixed Racing Lab spinner ranges

Additional Notes:
- Height of the combo box changes depending on which scene is s

[2016-10-03 15:39] pixelzoom opened #55 "sim credits"
@amyh-phet Please provide the desired credits for this sim.

Here's what we currently have:

[code]

[2016-10-03 15:50] pixelzoom opened #56 "layout issues with stringTest=double|long"
Noted in code review #52, related to these checklist items:

There are some layout issues with `stringTest=double`:

(1) Shopping screen, needs more horizontal space between "Purple Candy" label and icon in combo box. Ditto for some of the vegetables.

![screenshot_23](https://cloud.githubusercontent.com/assets/3046552/19043712/8e6074dc-894e-11e6-9bb0-2f2f00082641.png)

(2) Racing Lab screen, need

[2016-10-03 15:51] arouinfar commented on #55
Here you go @pixelzoom:

Team: Amy Hanson, Amanda McGarry, Susan Miller, Ariel Paul, Kathy Perkins
QA: Steele Dalton, Amanda Davis
Graphic Arts: Mariah Hermsmeyer

@phet-steele can you please confirm the QA credits?

[2016-10-03 15:55] pixelzoom commented on #56
Same issues as above with `stringTest=long`, overlap in (3) is more severe.

[2016-10-03 15:58] pixelzoom commented on #55
@phet-steele Also OK to leave QA credits open until we get into testing.

[2016-10-03 16:08] pixelzoom opened #57 "is it necessary to have both uppercase and lowercase versions for words?"
Related to code review #52, related to this checklist item:

In addition to singular and plural versions of some words, the sim also has uppercase and lowercase versions.  For some objects, this means 4 variations that need to be translated for 1 word. For example, here are the string file entries for "apple":

[code]

And there are many others that have this similar condition, see below.  I'm not

[2016-10-03 16:11] pixelzoom commented on #57
Note that for "miles", we also have abbreviates and non-abbreviated versions:

[code]

[2016-10-03 16:13] pixelzoom commented on #57
Moving the "miles" issue to a separate issue.

[2016-10-03 16:15] pixelzoom opened #58 "do we need "miles" and "mi"?"
Related to code review #52.

For "miles", we also have abbreviated and non-abbreviated strings:

[code]

The abbreviation "mi" is used exclusively below the finish line flag in "Racing Lab", and it looks like there's plenty of room to use "miles" there.  Screenshot:

![screenshot_26](https://cloud.githubusercontent.com/assets/3046552/19044595/3b956b1e-8952-11e6-8e1b-fec17bbe87e4.png)

[2016-10-03 16:23] arouinfar commented on #58
@pixelzoom good suggestion. Let's change the mile marker label from "mi" to "miles".

[2016-10-03 16:24] arouinfar commented on #58
@pixelzoom should I be reassigning you issues like this, or leave them unassigned?

[2016-10-03 16:29] pixelzoom commented on #58
@arouinfar Feel free to assign to me.

[2016-10-03 16:34] pixelzoom opened #59 "bad i18n of value and units"
Related to code review #52, noted while working on https://github.com/phetsims/unit-rates/issues/58.

Mileage appears below the finish flag, like this:

![screenshot_27](https://cloud.githubusercontent.com/assets/3046552/19045202/c1f11efe-8954-11e6-8b63-df1669c4c6fb.png)

There's an i18n problem, the order of value and units is hardcoded in TrackNode.js:

[code]

[2016-10-03 16:37] pixelzoom commented on #59
Searching for "+ ' ' +", I see a total of 10 sites where this problem occurs:

![screenshot_28](https://cloud.githubusercontent.com/assets/3046552/19045319/63943e4e-8955-11e6-9b01-182914d23422.png)

[2016-10-03 16:38] pixelzoom commented on #58
Done, closed.

[2016-10-03 16:38] #58 closed, assigned to pixelzoom

[2016-10-03 16:41] pixelzoom commented on #57
Note to self: If we use the same case everywhere, drop the "Cap" key suffix. If we need to have both uppercase and lowercase, then replace "Cap" key suffix with something that will be more meaningful to translators ("Cap" == capital may not be obvious).

[2016-10-03 16:51] pixelzoom opened #60 "scale png files"
Related to code review #52.

The PNG files are currently huge, and the scaling is extreme.  For example, green_candy_bag.png is 516K, and it is scaled by 0.025 (ItemNodeFactory, line 179).

This causes 2 problems:

(1) The built html file is huge, currently 7.1M. For comparison, balancing-act (which also has 3 screens and many PNG files) is 2M.  Longer download time, longer startup time, and more

[2016-10-03 16:55] pixelzoom opened #61 "fix copyright headers"
Code review #52.

Copyright headers in all files are currently:

[code]

Since this sim is not a port from Java, and all source files were created in 2016, the copyright should be:

[code]

[2016-10-03 16:56] arouinfar commented on #57
@pixelzoom having both lowercase and uppercase versions of these strings isn't strictly necessary.  If we get rid of the redundancy, I would suggest we keep the uppercase strings. This means that challenge prompts would read like "Cost of 5 Apples?" instead of "Cost of 5 apples?". The question itself is already a bit of a caveman sentence (to minimize string length), so I don't think making the it

[2016-10-03 16:56] #61 closed, assigned to pixelzoom

[2016-10-03 16:57] arouinfar commented on #57
@pixelzoom let's keep the uppercase version of these strings. As you've pointed out, the singular and plural versions are necessary in this context.

[2016-10-03 17:03] pixelzoom commented on #57
OK - keep uppercase, delete lowercase.

[2016-10-03 17:04] arouinfar commented on #57
👍

[2016-10-03 17:05] pixelzoom commented on #52
Dev version published prior to making any significant changes:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.21/unit-rates_en.html

[2016-10-03 17:08] pixelzoom opened #62 "missing doc/ files"
Code review #52.

Sim fails this item:

because:

(1) implementation-notes.md is at the top level (instead of in doc/)
(2) there is no model.md

[2016-10-03 17:09] arouinfar commented on #60
@pixelzoom the .png files were exported using Illustrator's default settings. Would you like me to re-export them at a more appropriate resolution?

[2016-10-03 17:13] pixelzoom commented on #60
@arouinfar Let me determine what an appropriate resolution is, and I'll get back to you.

[2016-10-03 17:14] arouinfar commented on #56
@pixelzoom I'll take a look at this and make recommendations for i18n.

The combo box overlaps the remove button even before lengthening the strings, so we'll need to make a few tweaks to the layout regardless. I'll do a more thorough review and report back.
<img width="275" alt="screen shot 2016-10-03 at 11 11 53 am" src="https://cloud.githubusercontent.com/assets/8419308/19046359/37cfcca6-895a-1

[2016-10-03 17:15] arouinfar commented on #60
Sounds good @pixelzoom!

[2016-10-03 17:28] pixelzoom commented on #56
@arouinfar How would you feel about putting the icons to the left of the labels?  Putting icons to the right is always problematic because (1) if unnaturally separates labels from icons, especially when one of the labels is much longer than the others, and (2) there's no support for this is common-code so it requires computing and inserting an explicit spacer, which cause i18n problems like this.

[2016-10-03 17:38] arouinfar commented on #56
That's a good suggestion @pixelzoom. Let's move the icons to the left of the strings.  Let's also reduce the size of the icons by ~20%, as they're quite a bit smaller in the mockups.

![image](https://cloud.githubusercontent.com/assets/8419308/19047105/ab43a484-895d-11e6-909a-01e4226870df.png)

[2016-10-03 18:08] pixelzoom commented on #56
@arouinfar You mean move the icons to the _left_ of the strings, correct?

[2016-10-03 18:21] pixelzoom opened #63 "missing visibility annotations"
Code review #52.

Use of visibility annotations doesn't meet PhET Code Guidelines.  A quick review indicates that visibility annotations (`@public`, `@protected`, `@private`) are missing for many public fields.  Annotations for functions looks OK.

[2016-10-03 18:26] pixelzoom opened #64 "missing documentation"
Code review #52.

Missing top-level documentation for TrackGroup and ItemComboBox.

[2016-10-03 18:41] pixelzoom commented on #63
Found some missing annotations for functions, fixed in above commit.

[2016-10-03 18:43] pixelzoom opened #65 "missing model.md"
Code review #52, factored out of https://github.com/phetsims/unit-rates/issues/62.

model.md (model description) is missing

[2016-10-03 18:43] pixelzoom commented on #62
Tracking missing model.md in #65. Closing.

[2016-10-03 18:43] #62 closed, assigned to pixelzoom

[2016-10-03 18:50] pixelzoom opened #66 "revise implementation-notes.md"
Code review #52.

Deficiencies in implementation-notes.md:

(1) Some of the entries would be more appropriate as GitHub issues, since they describe unresolved issues (e.g. potential memory leaks)

(2) There is a heading for the "Racing Lab" screen, but no information.

(3) Not much of an "overview" is gleaned by reading this, which is the main purpose of the file.

Whoever finishes off this sim sh

[2016-10-03 18:54] pixelzoom commented on #64
Also some missing function documentation. Search for TODO items with this issue number.

[2016-10-03 19:02] pixelzoom opened #67 "odd pattern for extending options"
Code review #52.

I see this in many places (e.g. Movable):

[code]

Providing an empty object to `_.extend` is unnecessary, it does the correct thing if `options` is `null`.   The recommended pattern is:

[code]

[2016-10-03 19:05] pixelzoom opened #68 "items on shelf and scale don't have a pointer cursor"
Code review #52.

Three's no indication that the items on the shelf or scale are draggable, because they don't show the pointer cursor when you mouse over them.   It's not until you actually start dragging that the cursor changes.

@arouinfar Is this a bug or intended behavior?

[2016-10-03 19:07] arouinfar commented on #68
@pixelzoom this is a bug. The pointer cursor should be visible when hovering over draggable objects.

[2016-10-03 19:12] pixelzoom commented on #63
I added a TODO item for every file that's missing one or more visibility annotations for fields. The TODO typically appears immediately before the first field in the constructor that's missing a visibility annotation, and the reset of the constructor after that needs to be examined.

[2016-10-03 19:16] pixelzoom opened #69 "erroneous uses of @protected"
Code review #52.

Some uses of `@protected` visibility annotations look suspect.  For example, in `QuestionAnswer`:

[code]

There is no subtype of `QuestionAnswer`, and `onCorrectAnswerCallback` should in fact be marked as `@private`.

I would expect `@protected` to appear only for fields and functions that are accessible only by a subtype.

There are 76 occurrences of `@protected` in the sim.

[2016-10-03 19:22] pixelzoom opened #70 "create GitHub issues from implementation-notes.md"
Code review #52.

As noted in https://github.com/phetsims/unit-rates/issues/66, implementation-notes.md describes some potential problems that should be tracked as GitHub issues.

[2016-10-03 19:30] arouinfar commented on #56
Yes, @pixelzoom. I meant <i>left</i>, but it appears I am directionally challenged...

[2016-10-03 19:31] pixelzoom opened #71 "rename some types"
Code review #52.

Names in this sim are generally well chosen, and I was able to find my way around easily.

There are a few names that I may change if I take over development of this sim.

ItemRateNode -> PriceRateAccordionBox
SpeedRateNode -> SpeedRateAccordionBox
SceneButtonGroupNode -> ShoppingSceneControl
ChallengeQuestionAnswerNode -> QuestionAnswerNode

EditNumberDisplayNode -> ?
TrackGroup

[2016-10-03 19:45] pixelzoom opened #72 "investigate duplication identified by jsinspect"
Code review #52, checklist item:

jsinspect (with default config) identified 42 items.  Some of these look like they warrant closer inspection.  E.g. ItemRateNode contains duplication that should be factored out in options to NumberPicker.

[2016-10-03 20:00] pixelzoom opened #73 "unfiltered for-in loops"
Code review #52.

IntelliJ IDEA flags unfiltered `for-in` loops as a potential error.  These loops should typically have a `hasOwnProperty` check.

For example, in ItemCollection, line 42:

[code]

The token 'key' in `ItemData[ key ]` is flagged. Here's the message shown in IDEA:

![screenshot_32](https://cloud.githubusercontent.com/assets/3046552/19051879/cc65d7fe-8971-11e6-80e7-e9ed7de1b378.png)

[2016-10-03 20:08] pixelzoom opened #74 "optimize touchAreas"
Code review #52, checklist item:

No, touchAreas have not been optimized.  The touchAreas for edit buttons, erase button and accordion box expand/collapse buttons are particularly small:

![screenshot_33](https://cloud.githubusercontent.com/assets/3046552/19052069/a8a637b8-8972-11e6-94e6-08a78404d4de.png)

And it probably wouldn't hurt to expand the touchArea for:
- return to shelf button
- new ch

[2016-10-03 20:15] pixelzoom opened #75 "dispose or doc for common UI components"
Code review #52:

This does not appear to be the case.

[2016-10-03 20:18] pixelzoom opened #76 "follow guidelines for registering observers"
Code review #52:

A quick inspection shows registration with no corresponding de-registration, and no documentation about why de-registration is necessary.   Will need to inspect these cases, and either document or call corresponding de-registration function.

[2016-10-03 20:18] pixelzoom commented on #76
implementation-notes.md also notes:

[2016-10-03 20:20] pixelzoom commented on #76
This checklist item:

... is impossible to verify since it's not clear if all observers are being properly de-registered.

[2016-10-03 20:30] pixelzoom opened #77 "problematic to adjust touchArea of movable objects"
Code review #52, from implementation-notes.md

[2016-10-03 20:31] pixelzoom opened #78 "URNumberLineMarkers memory leak?"
Code review #52, from implementation-notes.md:

[2016-10-03 20:32] pixelzoom commented on #70
Issues #77 and #78 factored out of implementation-notes.md, closing.

[2016-10-03 20:32] #70 closed, assigned to pixelzoom

[2016-10-03 20:33] pixelzoom commented on #54
Next step is to create individual issues for the things above (my list and @schmitzware's).

[2016-10-03 20:36] pixelzoom opened #79 "check for memory leaks"
Code review #52, checklist item:

In implementation-notes.md, @schmitzware indicated:

So it sounds like heap companions have been done, but more investigation may be needed.

I'm not going to do this as part of code review, since I think that it makes sense only after the sim is feature complete (which it's not yet).

[2016-10-03 20:40] pixelzoom opened #80 "is performance acceptable?"
Code review #52, item:

I don't see any open GitHub issues that indicate performance problems.  And it doesn't make sense to consider this issue "close" until the sim is feature complete (which it's not yet.)

@arouinfar @phet-steele Are you aware of any performance issues for this sim? If so, please describe.

[2016-10-03 21:04] pixelzoom opened #81 "eraser button looks disabled"
The color used for the eraser button is ''#f2f2f2'' (gray), and it sure looks like it's grayed out:

![screenshot_36](https://cloud.githubusercontent.com/assets/3046552/19053773/8f47ec88-8979-11e6-9d5b-e2d2fba56a32.png)

Compared to how it will look when the eraser button is disabled (when there's nothing to erase):

![screenshot_37](https://cloud.githubusercontent.com/assets/3046552/19053795/b1e8

[2016-10-03 21:06] pixelzoom opened #82 "make some UI elements larger"
From #54 (Outstanding issues):

I said:

This is also true of outer UI elements (buttons, etc.) It seems like there is plenty of whitespace to enlarge some of these.

[2016-10-03 21:08] pixelzoom opened #83 "test multitouch scenarios"
From #54 (Outstanding issues):

I said:

@schmitzware said:

[2016-10-03 21:09] pixelzoom opened #84 "prevent challenges from appearing twice in a row"
From #54 (Outstanding issues):

I said:

@schmitzware said:

@arouinfar said:

[2016-10-03 21:11] pixelzoom opened #85 "Height of the combo box changes depending on which scene is selected"
From #54 (Outstanding issues):

I said:

@schmitzware said:

[2016-10-03 21:11] pixelzoom opened #86 "Disable "reset shelf" button when shelf is in it's initial state"
From #54 (Outstanding issues):

I said:

[2016-10-03 21:12] pixelzoom opened #87 "test algorithm for arranging objects on scale"
From #54 (Outstanding issues):

I said:

[2016-10-03 21:13] pixelzoom opened #88 "fade between scenes?"
From #54 (Outstanding issues):

I said:

Your call @arouinfar.

[2016-10-03 21:14] phet-steele commented on #55
Just before publication, yes. Unassigning until then.

[2016-10-03 21:15] pixelzoom opened #89 "constrain car to be left of finish flag"
From #54 (Outstanding issues):

I said:

@arouinfar said:

[2016-10-03 21:16] pixelzoom opened #90 "disable "return to start" button, rather than making it invisible"
From #54 (Outstanding issues):

I said:

@arouinfar said:

@schmitzware added:

[2016-10-03 21:17] phet-steele commented on #80
@pixelzoom I haven't looked at this sim in a long time to be able to know for sure. Would you prefer I look at the sim now for performance issues, or wait until a test cycle?

[2016-10-03 21:17] pixelzoom commented on #87
Related to https://github.com/phetsims/unit-rates/issues/36, https://github.com/phetsims/unit-rates/issues/47

[2016-10-03 21:18] pixelzoom commented on #54
My list has been split out into the above issues.

[2016-10-03 21:20] pixelzoom opened #91 "review generateQuestionsAnswersForItem"
From #54 (Outstanding issues):

@schmitzware said:

[2016-10-03 21:20] pixelzoom opened #92 "fix behavior of "start race" button"
From #54 (Outstanding issues):

I said:

@arouinfar said:

[2016-10-03 21:22] pixelzoom opened #93 "enabled/disable UI controls based on state of race"
From #54 (Outstanding issues):

@schmitzware said:

... and possibly other UI controls.

[2016-10-03 21:23] pixelzoom opened #94 "issues with keypad on Racing Lab screen"
From #54 (Outstanding issues):

@schmitzware said:

@arouinfar Please specify, or point me to the relevant section of the design doc.

[2016-10-03 21:24] pixelzoom commented on #74
Comment relevant to finish line flag in #54:

[2016-10-03 21:25] pixelzoom opened #95 "calibrate car speed"
From #54 (Outstanding issues):

@schmitzware said:

[2016-10-03 21:26] pixelzoom opened #96 "unique set of markers for each rate (mile/hour) combination"
From #54 (Outstanding issues):

@schmitzware said:

@arouinfar Can you point me to the specification for this?

[2016-10-03 21:27] pixelzoom opened #97 "review URNumberLineNode"
From #54 (Outstanding issues):

@schmitzware said:

[2016-10-03 21:31] pixelzoom commented on #54
@schmitzware's list has been split out into the issues above.

Closing.

[2016-10-03 21:31] #54 closed, assigned to pixelzoom

[2016-10-03 21:32] pixelzoom commented on #80
@phet-steele No need to test yet, let's wait until the sim is closer to feature-complete.

[2016-10-03 21:33] pixelzoom commented on #46
@arouinfar Can you please verify this?

[2016-10-03 21:37] pixelzoom commented on #95
@ariel-phet What do you know about this issue?

[2016-10-03 21:40] pixelzoom commented on #52
I skipped 2 of the checklist items, which didn't seem worth devoting the time until the sim is feature complete.  Instead, I created issues for these:

#80 - is performance acceptable?

#79 - check for memory leaks

Code review completed, all issues created are linked to this issue above.  Assigning to @ariel-phet so he can take a quick "survey" of the state of things before closing.  An item in t

[2016-10-03 21:41] pixelzoom commented on #52
I also should note that the sim is in overall good shape, and @schmitzware did a nice job of identifying the work that's still to be done.

[2016-10-03 21:45] pixelzoom commented on #20
@arouinfar Looks like this was addressed. Can you confirm?  Latest dev version is http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.21/unit-rates_en.html

[2016-10-03 21:46] pixelzoom commented on #21
@alynne-phet or @arouinfar Can you please confirm? The latest dev version is http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.21/unit-rates_en.html.

[2016-10-03 22:02] pixelzoom opened #98 "bad i18n of number line axis labels"
NumberLineNode:

[code]

This type of string concatenation doesn't work for i18n. Make these separate entries in the string file, i.e.: `"Cost ($)"` and `"Weight (lb)"`.

[2016-10-03 22:05] pixelzoom opened #99 "bad i18n of value and units"
ScaleNode:

[code]

The order of value and units is hardcoded here.  The clue that tipped it off was referring to these things as "pre" and "post" text.

[2016-10-03 22:06] pixelzoom commented on #99
Duplicate of https://github.com/phetsims/unit-rates/issues/59.

[2016-10-03 22:06] #99 closed, assigned to nobody

[2016-10-03 22:12] #98 closed, assigned to pixelzoom

[2016-10-03 22:27] pixelzoom opened #100 "units for weight?"
I see these entries in the string file:

[code]

Two related questions for @arouinfar:

(1) The strings "lbs" and "pound" are used in the Shopping screen challenges when "Candy" scene is selected, screenshot below. Issue https://github.com/phetsims/unit-rates/issues/48 says to put a "1" in the denominator for the "Unit Rate?" part of the challenge.  Would it make more sense to use "1 lb" instead o

[2016-10-03 22:30] pixelzoom opened #101 "add query parameter to show challenge answers"
... because my mind doesn't like to switch between resolving programming issues and answering Units Rates questions.

[2016-10-03 22:47] pixelzoom commented on #90
@arouinfar Please review in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.22/unit-rates_en.html

[2016-10-03 22:47] pixelzoom commented on #57
It seemed appropriate to use uppercase for object names (Apple, Tomato, etc.), and lowercase for units (hours, miles). @arouinfar Please review in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.22/unit-rates_en.html

[2016-10-03 22:59] #67 closed, assigned to pixelzoom

[2016-10-03 23:39] ariel-phet commented on #95
@pixelzoom basically we wanted the slowest and fastest speeds to look decent. I believe @arouinfar has some powerpoint animations to help calbirate

[2016-10-03 23:57] arouinfar commented on #95
@pixelzoom here's a comparison of the maximum (100 mi/1 hr) and minimum (20 mi/10 hr) speeds. The .gif compression makes things look a little jumpier than the original powerpoint.

![car_speed](https://cloud.githubusercontent.com/assets/8419308/19058138/30a5b8cc-8992-11e6-88a2-153dec420ee4.gif)

If we make the 100 mph car take much longer (0.3 s or 0.5 s, for example) the slowest car gets dragged

[2016-10-04 00:10] arouinfar commented on #96
@pixelzoom this was discussed in the 9/1/16 design meeting notes, but isn't (yet) described in the main body of the doc.

The idea is that students may spend a decent amount of time building up their double number line, and we don't want them to lose their work if they change the rate or track length. Essentially, we want the state to be saved for each unique rate.

For example, assume the sim is

[2016-10-04 00:23] arouinfar commented on #94
@pixelzoom, for now the number pad location in dev.22 is okay, which is similar to this screenshot (sizing of the number pad in the mockup is a little off -- dev.22 size is good). The background color of the number pad should be made an opaque gray since it's being layered over other components.
![image](https://cloud.githubusercontent.com/assets/8419308/19058553/762f2bb4-8995-11e6-88b1-02c534b2b7

[2016-10-04 00:25] arouinfar commented on #90
@pixelzoom the "return to start" button should activate as soon as "go" is pressed. It allows users to send the car back to the starting line, even without finishing the race.

[2016-10-04 00:26] arouinfar commented on #88
Yes, please do this @pixelzoom. I think it would be a nice touch.

[2016-10-04 00:32] arouinfar commented on #81
@pixelzoom I agree that the difference between the active and disabled eraser button is subtle. We don't want to draw too much attention to the eraser button because it has a rather drastic effect, and students could accidentally lose a lot of work. I didn't notice any usability issues during interviews.

However, I'm not opposed to giving the active eraser button some color, so long as it's not t

[2016-10-04 00:37] arouinfar commented on #80
@pixelzoom I haven't been actively looking for performance issues, but I also don't recall running into any issues on my Mac or the iPad Air.

[2016-10-04 00:41] arouinfar commented on #57
Looks good!

[2016-10-04 00:41] #57 closed, assigned to arouinfar

[2016-10-04 00:43] arouinfar commented on #21
@pixelzoom haven't been able to reproduce with a mouse. I'll test this on an iPad when I'm in the office tomorrow.

[2016-10-04 00:49] arouinfar commented on #101
👍

Now I won't have to cheat from the design doc anymore. 😄

[2016-10-04 01:03] ariel-phet commented on #81
I could go for something in the light blue domain, but I trust your and @pixelzoom judgement

[2016-10-04 01:05] arouinfar commented on #81
Thanks @ariel-phet.

@pixelzoom can you make the active eraser button color match the active "return to start" button color? I'd like to see what it looks like.

[2016-10-04 01:10] arouinfar commented on #45
During interviews, students definitely tried clicking on the boxes to pull up the keypad. We should extend the click and touch areas of the edit buttons to include the corresponding boxes.

[2016-10-04 01:14] arouinfar commented on #46
This appears to have been addressed @pixelzoom. However, challenge prompts corresponding to off-scale values should not be added to the double number line (eg. 22 carrots). I think this is a separate issue, so I'll go ahead and close this one and open a new one.

[2016-10-04 01:14] #46 closed, assigned to kathy-phet, arouinfar

[2016-10-04 02:04] amanda-phet commented on #81
I've been wondering too if we could revisit this color. What about a white button? I've seen both yellow and white erase buttons in different sims, so we wouldn't be breaking with convention.

[2016-10-04 02:28] pixelzoom commented on #90
OK, will do.  FYI, previously the button didn't become visible until the race finished.  So I implemented the same behavior with enabled instead of visible.  So this is going to be a little more involved for me to fix.

[2016-10-04 02:31] pixelzoom opened #102 "values entered on keypad don't fit in boxes"
It's possible to enter numbers on the keypad that don't fit in the boxes used to display those values. Examples:

Shopping screen, value entered is "9999":

![screenshot_35](https://cloud.githubusercontent.com/assets/3046552/19053590/cc9725fa-8978-11e6-97a6-bc31bc0ce71f.png)

Shopping screen, value entered is "5555":

![screenshot_34](https://cloud.githubusercontent.com/assets/3046552/19053564/b45

[2016-10-04 02:31] pixelzoom commented on #102
@arouinfar said:

[2016-10-04 02:53] pixelzoom commented on #95
@arouinfar more questions:

(1) So there's a 50x difference between the slowest and fastest speeds, but you don't want there to be a 50x difference in the animation time, is that correct?

(2) Are you concerned that some students may compare N mph and 2N mph (where N could be any value between 2 and 50) and notice that 2N mph is not twice as fast in wall time?

(3) What is the desired function tha

[2016-10-04 02:56] pixelzoom commented on #48
@arouinfar Related to #100... Should the denominator be "1 pound" or "1 lb" for the "candy" scene?

[2016-10-04 03:05] pixelzoom commented on #66
Also recommended to add a Terminology section to implementation-notes.md.

[2016-10-04 03:46] pixelzoom commented on #81
@amanda-phet I looked through all usages of EraserButton in all sims, I don't see any that have a white button background.

@arouinfar Here's a dev version that uses the same blue (#A9D8FD) as the "restart race" button, let me know if this is acceptable.
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.23/unit-rates_en.html

[2016-10-04 03:46] pixelzoom commented on #81
Screenshot with blue eraser button:

![screenshot_201](https://cloud.githubusercontent.com/assets/3046552/19061989/e4f2741c-89b2-11e6-8e99-3b104b1795c3.png)

[2016-10-04 03:52] pixelzoom commented on #94
Re the horizontal keypad - to be blunt, bad idea. The keypad should look the same throughout the sim (and preferably throughout all sims).  Flipping it on its side is a bandaid for bigger design issues.

Have you considered making the keypad non-modal and movable?

[2016-10-04 03:54] pixelzoom commented on #94
@arouinfar said:

I highly recommend using this same background color (opaque gray) for the keypad in _all_ screens, so that the keypad looks the same everywhere.  Would that be OK?

[2016-10-04 04:50] pixelzoom opened #103 "remove use of PropertySet"
... to make this sim easier to instrument for PhET-iO.

[2016-10-04 16:36] pixelzoom opened #104 "fix horizontal alignment of challenges"
In the Shopping screen, challenges are not horizontally centered in the accordion box. Everything is slightly to the right.

![screenshot_04](https://cloud.githubusercontent.com/assets/3046552/19083178/643cb91a-8a1e-11e6-9ac9-9a07401c1e7e.png)

[2016-10-04 16:38] pixelzoom commented on #104
And before answering the challenges, the alignment issue is less noticeable, but the questions are all a bit right of center.

![screenshot_05](https://cloud.githubusercontent.com/assets/3046552/19083235/93850e20-8a1e-11e6-8b7a-4644c5cfa803.png)

The problem here is that the edit buttons and the smiley faces need to have the same effective width, so that the questions/answers are horizontally cent

[2016-10-04 16:39] arouinfar commented on #94
The discussion around a horizontal keypad was very brief, and quickly tabled because DS was on his way out. We also hadn't yet had the discussion around a global dialog component. I think a non-modal, movable keypad would be ideal.

Agreed @pixelzoom. Let's use an opaque gray background on all screens.

Reassigning to @pixelzoom to take care of the background color. We'll likely need to discuss th

[2016-10-04 16:42] pixelzoom opened #105 "add query parameter to show unit rate of items"
Add query parameter to show unit rate of each item in the combo box on the Shopping screen.

Here:
![screenshot_06](https://cloud.githubusercontent.com/assets/3046552/19083431/48e442f4-8a1f-11e6-92b0-edbd1f69113c.png)

Or a Text node below the combo box, if that's easier.

[2016-10-04 16:47] pixelzoom commented on #94
Keypad background change to RGB=230,230,230, as in mockup above.

Back to @arouinfar to address design issues.

[2016-10-04 16:52] arouinfar commented on #95
@pixelzoom  I think my previous comment was a bit unclear, perhaps because I wrote the max/min speeds in terms of spinner values (100/1, 20/10).

No, we definitely want the animation speed to scale with the speed. Max speed = 100 mph, scaled to 0.25s. Min speed = 2mph, scaled to 12.5s. There is a factor of 50 difference between the speeds and the times.

Absolutely. That's why we want the animatio

[2016-10-04 17:10] arouinfar commented on #100
@pixelzoom In general, we have spelled out all units (eg. miles, hours, dollars) because this sim targets a younger audience. Currently "lbs" is the only unit abbreviation. I think it would be better to replace "lbs" with "pounds".

@amanda-phet can you take a look at this? What do you think? It's also a good idea to reduce the total number of strings (where feasible) because there's a character l

[2016-10-04 17:11] arouinfar commented on #81
Thanks @pixelzoom. I think the eraser button has too much visual weight. I'm going to play with the color a bit in Illustrator and get back to you.

[2016-10-04 17:29] pixelzoom commented on #100
I'd be fine with using either "lbs" or "pounds" consistently. I don't think we should mix them - it could be confusing to the student and translators.

[2016-10-04 17:38] phet-steele opened #106 "URNumberLineMarkerNode: Cannot read property 'dispose' of undefined"
[code]

[2016-10-04 17:41] pixelzoom commented on #106
There are definitely bugs in this sim that cause it to crash. This is one of them.  I've experienced it when switching between scenes in the Shopping screen.   It seems to be related to saving/restoring state of the number line.

[2016-10-04 17:56] pixelzoom commented on #106
The error occurs at line 225 of URNumberLineMarkerNode, where `this.qnaMultilink` is apparently undefined.

[code]

`this.qnaMultilink` is defined in the constructor:

[code]

... but there's no visibility annotation, so I'll need to investigate whether something else is setting it to `null`.

[2016-10-04 17:59] pixelzoom commented on #106
`qnaMultilink` is not referenced outside of URNumberLineMarkerNode, so I'll annotate it as `@private`. And it's a mystery to me how its ending up `null`, so I'll add an assertion in the constructor to verify that `Property.multilink` is not returning `null`.

[2016-10-04 18:18] pixelzoom opened #107 "URNumberLineMarkerNode: A Multilink cannot be disposed twice."
With assertions enabled (?ea), when using this tool in the Shopping screen:

![screenshot_07](https://cloud.githubusercontent.com/assets/3046552/19086660/39aabeaa-8a2c-11e6-9053-de5904c3fc8d.png)

I hit this assertion failure in `Multilink.dispose`:

[code]

The only call to `Multilink.dispose` in this sim is in `URNumberLineMarkerNode.dispose`:

[code]

Unable to determine steps to reproduce. Pro

[2016-10-04 18:26] pixelzoom opened #108 "put numbers on cars?"
Racing Lab screen refers to "Double Number Line 1", "Double Number Line 2", "Rate 1" and "Rate 2".
To clearly tie the cars into this numbering scheme, how about putting a "1" on the blue car and a "2" on the red car?  E.g.:

![screenshot_09](https://cloud.githubusercontent.com/assets/3046552/19087027/d1b34c16-8a2d-11e6-907e-d910e15a751e.png)

[2016-10-04 18:31] pixelzoom commented on #105
On second thought... This is would be redundant, because the unit rate is shown in the challenge accordion box.  And #101 is adding a query parameter to show the "answers" there.

Closing.

[2016-10-04 18:31] #105 closed, assigned to nobody

[2016-10-04 18:35] pixelzoom commented on #96
@arouinfar said:

What is a "unique rate"?  Is it a specific rate value? Or is it a specific pair of numerator and denominator values?  In the former case, 80/2 and 40/1 (both the same rate of 40mph) would share state.  In the latter case, 80/2 and 40/1 would each have their own state.

[2016-10-04 18:39] pixelzoom commented on #88
Sure would be nice if this scene animation behaved like the first screen of Hooke's Law. That is, the 1-car scene had the track vertically centered on the screen. Then switching to 2-car scene would move the track 1 up, and fade in track 2 below.  Switching back to 1-car would face track 2 out, then move track 1 down.  But there doesn't appear to be screen real estate to do this, because of where

[2016-10-04 18:43] arouinfar commented on #96
@pixelzoom

A "unique rate" is a specific pair of numerator and denominator values, which does not consider equivalent rates. Thus, 80/2 and 40/1 would have their own independent states. Every spinner combination has its own state.

[2016-10-04 18:47] pixelzoom commented on #95
Got it, thanks for the clarification.

[2016-10-04 18:52] pixelzoom opened #109 "hide decimal key on keypad when entering integers?"
When entering a value for an integer field, should we hide the decimal key on the keypad?  For example, when entering the value for "Apples for $4.50" in this challenge on the Shopping screen:

![screenshot_10](https://cloud.githubusercontent.com/assets/3046552/19087978/5fb16f36-8a31-11e6-9ba4-73cac47494fc.png)

Or do you want the student to be able to enter non-integers?

[2016-10-04 18:53] arouinfar commented on #108
@pixelzoom the numbers are a great idea. In previous iterations of the racing screen we'd discussed putting numbers on the cars, but I'm not sure why we didn't think to keep them in the current design. Should I update the artwork, or would the number be added in code?

By the way, the blue and the red cars are flipped (red Charger should be car 1). I can't remember if I have raised that issue alre

[2016-10-04 19:01] pixelzoom opened #110 "keypad lets you enter syntactically-incorrect cost values"
I find it odd that the keypad lets you enter syntactically-incorrect cost values.

The 2 most glaring examples:

(1) Enter nothing for the numerator on the double number line, then press Enter.  The value gets set to '0.00'.  (Recommendation: Enter key should be disabled, or should do nothing, until something has been entered.)

(2) Enter '2.555', then press Enter. The values is (confusingly) roun

[2016-10-04 19:05] pixelzoom commented on #88
Changing the title of this issue to "fade between scenes", since fading may also be desirable on the first 2 screens.

On the Shopping and Shopping Lab screens, each scene has its own state, and each item in a scene has its own state.  Should we fade between fruits/vegetables/candy scenes? Should we fade between items?

[2016-10-04 19:07] pixelzoom opened #111 "swap locations of blue and red cars"
In https://github.com/phetsims/unit-rates/issues/108#issuecomment-251479175, @arouinfar said

[2016-10-04 19:08] pixelzoom commented on #108
Probably more cost-effective at this point to add the numbers in the artwork.

Issue #111 created to swap the cars.

[2016-10-04 19:09] arouinfar commented on #111
Thanks @pixelzoom.

[2016-10-04 19:15] pixelzoom opened #112 "marker appears at wrong position when numerator value is entered"
Positioning of markers on the number line seems buggy. When I enter a value for the numerator, it never appears at the expected (i.e., correct) location on the number line. (Entering a denominator value works as expected.)

Example:
- start sim
- go to Shopping screen
- choose Lemons from combo box
- put 2 bags of lemons on the scale
- press Edit button for numerator of double number line
- enter

[2016-10-04 19:16] arouinfar commented on #108
Sounds good @pixelzoom. I'll make this change in Illustrator, and send you updated artwork.

[2016-10-04 19:20] pixelzoom opened #113 "markers don't look the same when their state is restored"
Each item saves the state of its number line.  But when I switch back to an item, it's markers look different - some of them have been scaled down and grayed out.

Example:
- start sim
- go to Shopping screen
- select Lemons from combo box
- put 2 bags of lemons on the scale
- the markers look like this:

![screenshot_12](https://cloud.githubusercontent.com/assets/3046552/19088815/27a7bcae-8a35-11

[2016-10-04 19:22] arouinfar commented on #112
Definitely a bug @pixelzoom. Looks like things were still working in dev.19, with the exception of the desired behavior for overwriting lines (see #50) which had not yet been addressed.

[2016-10-04 19:24] arouinfar commented on #113
This is a bug @pixelzoom. Looks like things were working properly in dev.19.

[2016-10-04 19:25] pixelzoom commented on #113
What is supposed to happen? When (if ever) are markers supposed to be scaled down?

[2016-10-04 19:32] pixelzoom opened #114 "state of number line is not reliably restored"
Each item is supposed to save the state of its number line.  This feature seems to be very flakey, and state is not reliably being saved/restored.

Example:
- start sim
- go to Shopping screen
- put 3 bags of Apples on the scale, number line looks like this:

![screenshot_14](https://cloud.githubusercontent.com/assets/3046552/19089240/b8939d0e-8a36-11e6-93da-3aced6023050.png)
- switch to vegetable

[2016-10-04 19:33] arouinfar commented on #114
Definitely another bug @pixelzoom. The number line should be fully restored when switching between items/scenes.

[2016-10-04 19:37] pixelzoom opened #115 "overlapping markers on number line"
Multiple markers appear at the same location on the number line, and this looks especially bad when the markers have different sizes.

Example:
- start sim
- go to Shopping screen
- put 2 bags of lemons on the scale
- remove lemons from scale until there's 1 remaining on scale
- select vegetables scene
- select fruits scene (to make some markers change scale, see #113)
- enter '7' for "Lemons for

[2016-10-04 19:41] arouinfar commented on #113
Markers are scaled down if they are not major tick marks. Major tick marks depend on the type of item.

Fruit & "Veggies": major tick marks are an integer number of items (1-16 items)
Candy: major tick marks are 0.1 lbs (0.1-1.6 lbs)
Cars: major tick marks are integer number of hours (max depends on the rate of the car)

Any manually-added line that does not correspond to a major tick would be the

[2016-10-04 19:46] pixelzoom commented on #113
@arouinfar said:

By "line", I assume you mean markers on the number line. (This sim _desperately_ needs some standardization on terminology.)

What is a "manually-added" line?  I haven't seen any line appear that is the not the result of some user action (entering a value or adding/removing items from scale).

And for lines that are not "manually-added", do they appear as major tick marks regardl

[2016-10-04 20:11] pixelzoom opened #116 "define terminology for user interface"
This sim desperately needs to give names to the components of its user interface.  Lack of agreement on what to name things makes it difficult for the team to communicate clearly, and (based my 3 days of working on this sim) has resulted in:

• confusion in GitHub issues (multiple names for the same thing, or the same name for different things)
• confusion in Skype discussions (no words to refer t

[2016-10-04 20:29] arouinfar commented on #21
Looks good! Closing.

[2016-10-04 20:29] #21 closed, assigned to arouinfar

[2016-10-04 22:14] pixelzoom opened #117 "challenge data specification?"
The design document has a table titled "Unit Rates & Challenge Prompts".   Questions for @arouinfar:

(1) What are the values shown in red?  E.g.:

![screenshot_30](https://cloud.githubusercontent.com/assets/3046552/19094413/42add21e-8a4d-11e6-814d-7e5ac6d95899.png)

(2) The implementation of this table ([ChallengeData.js](https://github.com/phetsims/unit-rates/blob/master/js/shopping/model/Challe

[2016-10-04 22:19] pixelzoom opened #118 "replace SceneModes with Property.<string>"
SceneMode is a JS-style enum, which is a clunky pattern.

In URShoppingScreenView, consider replacing this:

[code]

with something like this:

[code]

[2016-10-04 22:24] pixelzoom opened #119 "odd directory structure for common/"
Code review  #52.

Organization of the common directory is sort of odd.  The Shopping and Shopping Lab screens undoubtedly share some stuff, but there's likely a better way to organize this.

[code]

[2016-10-04 22:51] pixelzoom opened #120 "fundamental architectural issues"
As I dig deep into this sim, I'm seeing several fundamental architectural issues.  And I believe they are symptomatic of not having the design sufficiently completed before beginning implementation - the developer obviously had to adapt to evolving requirements.

These issues are all somewhat related, so I'm going to try to summarize them all here.

(1) Logic that involves testing the item type

[2016-10-04 22:52] pixelzoom commented on #120
How (or whether) to address these issues is going to have a dramatic impact on the cost to complete this sim, and the cost of future maintenance.   Assigning to @arouinfar and @ariel-phet so that they are aware of this, and so that we can discuss further.

[2016-10-04 23:41] pixelzoom commented on #111
Cars and NumberPicker colors swapped, screenshot below, @arouinfar please verify.

![screenshot_31](https://cloud.githubusercontent.com/assets/3046552/19096451/bcde57a0-8a59-11e6-9b5f-670c037bba57.png)

[2016-10-05 00:09] arouinfar commented on #49
@ariel-phet what about these? I swapped carrots for apples, since apple bags open.

<img width="839" alt="screen shot 2016-10-04 at 6 05 23 pm" src="https://cloud.githubusercontent.com/assets/8419308/19096870/4e83b468-8a5d-11e6-95da-f559a0e88d2a.png">

<img width="1024" alt="screen shot 2016-10-04 at 6 06 18 pm" src="https://cloud.githubusercontent.com/assets/8419308/19096871/4e96bb6c-8a5d-11e6-8c

[2016-10-05 00:30] arouinfar commented on #81
I think @amanda-phet may have been thinking of the eraser button in Charges and Fields, which is a light gray. However, the eraser button is always active in CAF.

I've tried a few different colors, and I think a pale yellow eraser button looks pretty good. It's clearly active, but not as eye catching as the bright yellow edit buttons. @pixelzoom can you please change the active eraser button to (

[2016-10-05 00:31] arouinfar commented on #111
Looks great! Thanks @pixelzoom.

[2016-10-05 00:31] #111 closed, assigned to arouinfar

[2016-10-05 01:01] arouinfar commented on #108
I've added the numbers to the cars, and have emailed the updated asset files to @pixelzoom.

![image](https://cloud.githubusercontent.com/assets/8419308/19097808/cdf4561a-8a64-11e6-853d-ff8c54d81795.png)

[2016-10-05 02:12] arouinfar commented on #110
These are great suggestions @pixelzoom.

We should:
- Disable the enter key until something has been entered.

<s>Disable the number keys after two decimals have been entered.</s> (See https://github.com/phetsims/unit-rates/issues/110#issuecomment-256998464)
- Allow "syntactically incorrect" values such as '2', '2.', and '2.5' to be entered.

On a somewhat related note, we currently are able to en

[2016-10-05 02:12] arouinfar commented on #110
Ack, accidentally submitted the comment... working on editing my previous post.

[2016-10-05 02:22] arouinfar commented on #109
@pixelzoom I don't think we need to disable the decimal point. In interviews, students did not attempt to enter non-integer values, though it's certainly possible that others may try. I don't think it's particularly harmful if students attempt to enter non-integer values, though.

[2016-10-05 04:15] arouinfar commented on #88
@pixelzoom could we center-align the top track with the "start race" and "return to start" buttons in the 1-car scene, and then scoot it up a bit for the two-car scene?
<img width="1023" alt="screen shot 2016-10-04 at 9 45 14 pm" src="https://cloud.githubusercontent.com/assets/8419308/19100438/0442a66a-8a7c-11e6-87a8-b15f0458e224.png">

<img width="1025" alt="screen shot 2016-10-04 at 9 45 26 pm"

[2016-10-05 04:36] arouinfar commented on #113
Yes, though we've never referred to them as "markers" in any of the brainstorming or design meetings. It's a useful term, so we can keep using it, however.

There are three ways to add markers to the double number line.
- Interaction with the scale -- place bags onto the scale (or remove individual fruits from the scale)
- Correctly answer a challenge prompt
- Add a marker using the marker editor

[2016-10-05 04:50] arouinfar commented on #115
This is also a bug @pixelzoom, and it's likely related to the other double number line bugs you found this afternoon. As previously noted in #113, the markers shouldn't stagger since they all correspond to an integer number of lemons.

If a marker corresponding to a challenge prompt answer is already on the double number line (like 7 lemons for $1.75), its color should change from black to green (

[2016-10-05 04:50] arouinfar commented on #50
For clarification of the desired behavior, consider this example.
- Start sim
- Go to Shopping screen
- Put 3 bags of apples on the scale, the double number line will look like this:
  ![image](https://cloud.githubusercontent.com/assets/8419308/19101329/a0e3f246-8a84-11e6-952b-6c69b28cdf86.png)
- Use maker editor to place a marker at 15 apples. The marker at (15, $7.50) will be replaced, and the s

[2016-10-05 05:29] arouinfar commented on #116
@pixelzoom thank you for these suggestions. Everything looks good to me, so no changes on my end.

I have started using this terminology while responding to Git Hub issues, and I will work on updating the design doc tomorrow.

[2016-10-05 05:41] arouinfar commented on #104
@pixelzoom would it be helpful to reduce the width of the edit buttons? They aren't quite as wide in the mockups. Here's a comparison of the latest dev (top) and the mockups (bottom). The edit icon is identically sized. The only difference is the physical size of the button.
![image](https://cloud.githubusercontent.com/assets/8419308/19102240/ec8dec22-8a8b-11e6-8fb1-f242a2c4483c.png)

[2016-10-05 05:58] arouinfar commented on #20
@pixelzoom close but not quite.  I found a few values that needed to be updated -- two were outright typos (one in the code; one in the doc) and four that didn't conform to the guidelines described in the design doc and needed to changed. These are the red values from #117. Additionally, the fourth candy prompt needs to be inverted.

Edits to make:
- [ ] Invert fourth candy prompts to read "Candy

[2016-10-05 06:00] arouinfar commented on #117
@pixelzoom this is being handled in #20. Closing.

[2016-10-05 06:00] #117 closed, assigned to arouinfar

[2016-10-05 13:49] pixelzoom commented on #20
As I asked in #117... The design document has a table titled "Unit Rates & Challenge Prompts". What are the values shown in red?  E.g.:

![screenshot_30](https://cloud.githubusercontent.com/assets/3046552/19094413/42add21e-8a4d-11e6-814d-7e5ac6d95899.png)

Are these the "Edits to make" that are indicated in https://github.com/phetsims/unit-rates/issues/20#issuecomment-251588782?

[2016-10-05 14:12] pixelzoom commented on #109
Roger. Closing.

[2016-10-05 14:12] #109 closed, assigned to nobody

[2016-10-05 14:13] pixelzoom commented on #113
@arouinfar said:

FYI, "marker" is used throughout the implementation.

[2016-10-05 14:16] pixelzoom commented on #104
I am going to fix the alignment issue independently of the edit button size (or smile/frown face size), so that we still have the flexibility to resize UI elements without affecting the alignment.

[2016-10-05 14:18] arouinfar commented on #20
Yes, @pixelzoom the red values from the aforementioned table are included in the "Edits to make" list.

[2016-10-05 14:20] pixelzoom commented on #49
These look good. My only nits:

• There's little too much 'red' with the apples and car. Perhaps use the blue car?
• The car needs a number (see #108) on the home screen icon. If you want to leave it out on the navigation bar icon, we'll need separate artwork. (Navigation bar icons default to scaled down versions of home screen icons.)

[2016-10-05 14:27] pixelzoom commented on #108
@arouinfar Updated files received via email. They look good.

In addition to the files that you sent, there are 2 other assets in GitHub that contain cars: one_car_scene.ai, two_car_scene.ai. These are the icons on the scene-selection radio buttons in the “Racing Lab” screen.

Options:

(1) Update these 2 additional assets. Requires no code changes, but increases size of the sim and requires keepi

[2016-10-05 14:38] arouinfar commented on #108
@pixelzoom I forgot about the scene selection icons, my apologies.

I also think (2) is a better long-term solution, so let's go with that.

[2016-10-05 14:39] arouinfar commented on #104
Sounds good @pixelzoom.

[2016-10-05 14:58] arouinfar commented on #49
I agree @pixelzoom. I originally went with carrots for this very reason. I've mocked up a sheared version of the blue car. I don't think it shears quite as well as the red car, but it still looks pretty good.

![image](https://cloud.githubusercontent.com/assets/8419308/19118110/9bf17bc4-8ad8-11e6-8216-b5792bf9276f.png)

If we add the number, we should probably shear it with the body of the car. Ot

[2016-10-05 15:13] ariel-phet commented on #49
These are all looking good to me, and nice color differentiation

[2016-10-05 15:14] ariel-phet commented on #49
And my 2 cents, I would do the sheared number on the car (as you said, it still works as an icon)

[2016-10-05 15:16] ariel-phet commented on #120
Discussed over email. Current plan is to have @pixelzoom do about ~20 hours of work in addressing these issues, and then re-discuss.

[2016-10-05 15:19] arouinfar commented on #49
Thanks @ariel-phet! We'll go with these icons, and I'll email the assets to @pixelzoom.
![image](https://cloud.githubusercontent.com/assets/8419308/19119319/9fe600ca-8adc-11e6-8046-d51190331328.png)
![image](https://cloud.githubusercontent.com/assets/8419308/19119341/b09149de-8adc-11e6-9c7e-323f1b0e3121.png)

[2016-10-05 15:27] arouinfar commented on #49
Asset files have been emailed to @pixelzoom for implementation.

[2016-10-05 15:33] pixelzoom commented on #49
Asset files have been received by @pixelzoom for implementation :)

[2016-10-05 15:34] arouinfar commented on #49
👍

[2016-10-05 15:36] arouinfar commented on #100
When I made the recommendation to go with "pounds" I considered the weight readout on the scale and the challenge prompts -- both can accommodate a longer string. However, I previously overlooked the label on the double number line. The lower axis label reads "Weight (lbs)". There isn't enough space to switch it to "Weight (pounds)".  We can't remove the unit from the label and go with "Weight" be

[2016-10-05 17:05] pixelzoom commented on #100
Then I'd be concerned about translation.  Are "lbs" and "pounds" likely to be converted to the same string in other languages? If so, then the bottom axis label is going to get awfully tiny.

[2016-10-05 17:10] pixelzoom commented on #100
... my point being, if we need to substitute "lbs" for "pounds" in English to make this work, is that a viable solution for other languages?

[2016-10-05 17:17] pixelzoom opened #121 "create scene selection icons programmatically in Racing Lab screen"
Factored this issue out of https://github.com/phetsims/unit-rates/issues/108#issuecomment-251690702:

There are 2 other assets [with cars] in GitHub that contain cars: one_car_scene.ai, two_car_scene.ai. These are the icons on the scene-selection radio buttons in the “Racing Lab” screen.

Options:

(1) Update these 2 additional assets [to have numbers on the cars]. Requires no code changes, but in

[2016-10-05 17:18] pixelzoom commented on #121
In https://github.com/phetsims/unit-rates/issues/108#issuecomment-251693939, @arouinfar said:

[2016-10-05 17:21] pixelzoom commented on #121
TODO:
- [x] Factor out the code at RacingScreenView line 155 that creates the radio buttons (begins with `this.trackCountButtons = new RadioButtonGroup`) into RacingLabSceneControl.
- [x] In RacingLabSceneControl, create the scene icons using blue_car.png and red_car.png.
- [x] Delete one_car_scene.ai and two_car_scene.ai
- [x] Delete one_car_scene.png and two_car_scene.png, and remove their licen

[2016-10-05 17:37] pixelzoom commented on #108
New cars are integrated. Scene selection icons moved to #121. Closing.

[2016-10-05 17:37] #108 closed, assigned to pixelzoom

[2016-10-05 17:58] arouinfar commented on #100
I think our translators will recognize that that these strings correspond to an abbreviation and a spelled-out unit. Our translators don't always localize units, but when they do, abbreviated units tend to stay abbreviated (I couldn't find any exceptions to this). I imagine that "lbs" will remain an abbreviation, though it may become something like "kg".

For example, a translator can choose to us

[2016-10-05 18:18] pixelzoom commented on #121
Done, screenshot below, closing.

![screenshot_33](https://cloud.githubusercontent.com/assets/3046552/19125898/05553138-8af6-11e6-8cc9-10a803a9ca4a.png)

[2016-10-05 18:18] #121 closed, assigned to pixelzoom

[2016-10-05 18:20] pixelzoom commented on #121
Whoopsie, red car should be on top in 2-cars icon. Fixed screenshot above.

[2016-10-05 18:25] pixelzoom commented on #88
Let's discuss scene transitions in person. How/whether we do it has big implications for whether each scene has its own UI components, or whether there's one set of UI components that changes based on the scene (the current implementation).

[2016-10-05 18:27] arouinfar commented on #88
Sounds good @pixelzoom. I believe we'll be on the schedule for design meeting tomorrow, so we can discuss then.

[2016-10-05 18:28] pixelzoom commented on #81
With 'rgb(255, 255, 219)' (muted yellow), it might be mistaken for a disabled edit button. But I've made the change in master.  It looks like your mockup above.

[2016-10-05 18:30] arouinfar commented on #81
Good point @pixelzoom. I'll look out for this in the next round of interviews.

[2016-10-05 18:31] arouinfar commented on #81
Marking as on-hold until we're ready for the next round of interviews.

[2016-10-05 18:38] pixelzoom opened #122 "fix images/license.json"
images/license.json contains multiple entries like this:

[code]

[2016-10-05 18:42] pixelzoom commented on #122
While we're at it... It's helpful if the entries are in alphabetical order (they're not), to make it easy to compare with the images/ directory contents.

[2016-10-05 18:45] pixelzoom commented on #49
Icons have been integrated. They look great. Closing.

[2016-10-05 18:45] #49 closed, assigned to pixelzoom

[2016-10-05 18:46] arouinfar commented on #49
They do indeed look great in master. Thanks @pixelzoom!

[2016-10-05 19:00] pixelzoom commented on #122
Looks like all of the entries in license.json are missing the name of the person who created the artwork.  @arouinfar can you please look through [license.json](https://github.com/phetsims/unit-rates/blob/master/images/license.json) and let me know who to credit?

[2016-10-05 19:07] pixelzoom commented on #60
Published [1.0.0-dev.24](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.24/unit-rates_en.html) before I started scaling image files. Size of unit-rates_en.html is 7282206 bytes. Download and start time is unacceptably long.

[2016-10-05 19:52] arouinfar commented on #122
@pixelzoom I've credited myself and our graphic artist where applicable (see below).

There are four items that come from FontAwesome, which is open source.
- edit-button.png
- refresh-button.png
- remove-button.png
- undo-button.png

I did not change the license.json text for these items. We've used FontAwesome icons on the website and in other sims (reveal button in CCK: Black Box Study, edit bu

[2016-10-05 19:57] pixelzoom commented on #122
Thanks, I'll add the credits.

@arouinfar said:

Any reason why we're reproducing these as PNG files, instead of using the support for FontAwesome that's in scenery?

[2016-10-05 19:59] arouinfar commented on #122
@pixelzoom I didn't know we have support for FontAwesome in scenery. I believe at one point DS asked for the assets, so I sent them to him.

[2016-10-05 20:00] pixelzoom opened #123 "use FontAwesomeNode"
In https://github.com/phetsims/unit-rates/issues/122#issuecomment-251780449, @arouinfar said:

We should use FontAwesomeNode for these, not duplicate them as PNG files.

[2016-10-05 20:01] pixelzoom commented on #122
Handling FontAwesome icons properly will be tracked in https://github.com/phetsims/unit-rates/issues/123.

[2016-10-05 20:16] pixelzoom opened #124 "replace double_arrow.png with ArrowNode"
No reason to have a png file for this (double_arrow.png), use 2 instances of ArrowNode.

![screenshot_54](https://cloud.githubusercontent.com/assets/3046552/19503764/0c7acb9e-9573-11e6-9909-764314bf7916.png)

[2016-10-05 20:26] pixelzoom opened #125 "fix images on play toggle button in Racing Lab screen"
Discovered while working on #60.

The play button in "Racing Lab" screen has 2 states:

![screenshot_34](https://cloud.githubusercontent.com/assets/3046552/19130196/72012006-8b07-11e6-86e3-273b6c461c18.png)
![screenshot_35](https://cloud.githubusercontent.com/assets/3046552/19130198/74316c0a-8b07-11e6-95de-ddbdc9c173a1.png)

Apparently the 2 images files (go_button.png, stop_button.png) must have

[2016-10-05 20:35] pixelzoom opened #126 "suspicious padding around checkered flag"
Here's what checkered_flag.png looks like:

![screenshot_37](https://cloud.githubusercontent.com/assets/3046552/19130548/d6a92cc8-8b08-11e6-8a01-55f23cb5c13f.png)

When the transparent padding around this image is removed, the flag doesn't appear at the correct location. There's no reason for this.

[2016-10-05 20:36] pixelzoom commented on #126
For comparison, the green flag has no such padding around it and (presumably) manages to appear at the correct location.

![screenshot_38](https://cloud.githubusercontent.com/assets/3046552/19130611/172bf488-8b09-11e6-99f2-4445efc3acf7.png)

[2016-10-05 20:37] pixelzoom commented on #126
And both of these should probably be drawn programmatically, rather than requiring image files with wonky padding.

[2016-10-05 20:49] pixelzoom commented on #60
PNG files related to FontAwesome icons have been ignored, since they are going away in #123.
All other PNG files have been scales so that they are scaled by 50% or less in code.

Dev version [1.0.0-dev.25](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.25/unit-rates_en.html) contains the scaled files. Size of unit-rates_en.html is 2015998, a reduction of 72%.  Download and star

[2016-10-05 20:52] #122 closed, assigned to pixelzoom

[2016-10-05 20:53] pixelzoom commented on #123
TODO: Replace with a FontAwesomeNode, remove PNG file and license.json entry for:
- [x] edit-button.png
- [x] refresh-button.png
- [x] remove-button.png
- [x] undo-button.png

[2016-10-05 21:15] pixelzoom commented on #123
@arouinfar The fontawesome icon for 'undo' looks significantly different than undo-button.png.

fontawesome 'undo':
![screenshot_41](https://cloud.githubusercontent.com/assets/3046552/19131903/880c93ec-8b0e-11e6-91bf-896a4dd97d88.png)

undo-button.png:
![screenshot_42](https://cloud.githubusercontent.com/assets/3046552/19131910/90c3d5d6-8b0e-11e6-8af5-d70e6202d30c.png)

Recommended to use the font

[2016-10-05 21:19] pixelzoom commented on #123
I should have been able to use scenery-phet.RefreshButton for refresh, but it has problems, see https://github.com/phetsims/scenery-phet/issues/269. I also discovered that sun.FontAwesomeNode doesn't  yet support 'refresh'. So I will investigate fixing that, and/or importing the fontawesome 'refresh' icon data into FontAwesomeNode.

[2016-10-05 21:22] pixelzoom commented on #123
@arouinfar fontawesome 'remove' is an alias for 'times' (see http://fontawesome.io/icon/times/) and looks like this:

![screenshot_43](https://cloud.githubusercontent.com/assets/3046552/19132116/603db426-8b0f-11e6-8bba-336471973f70.png)

Nothing like remove-button.png:

![screenshot_44](https://cloud.githubusercontent.com/assets/3046552/19132133/6fa1aac6-8b0f-11e6-99e2-46b6e3b28e97.png)

Do you re

[2016-10-05 21:31] pixelzoom commented on #123
fontawesome 'left-down' might be a nice alternative to remove-button.png.  See http://fontawesome.io/icon/level-down/, it looks like this:

![screenshot_45](https://cloud.githubusercontent.com/assets/3046552/19132447/ae0da1e2-8b10-11e6-83ee-960cbc7abc39.png)

... and could be easily reflected about the y-axis so that the button can stay on the left of the scale.

[2016-10-05 21:42] pixelzoom commented on #123
@arouinfar To summarize, here's what I need from you to complete this issue:

(1) Is the fontawesome 'undo' icon acceptable or do you want to use the fontawesome 'reply' icon? (see https://github.com/phetsims/unit-rates/issues/123#issuecomment-251801929)

(2) What fontawesome icon corresponds to remove-button.png? Or would you like to use an alternative like 'left-down'? (see https://github.com/ph

[2016-10-05 21:43] arouinfar commented on #123
@pixelzoom the FontAwesome environment in Illustrator doesn't have any alt-text to show what the names of these icons are, which is why there discrepancies between what I've used as an "undo" button and fa-undo. It's just a big seemingly-unorganized menu I scroll through until I find something that looks good.
![image](https://cloud.githubusercontent.com/assets/8419308/19132688/06b2e32e-8b12-11e6-

[2016-10-05 21:48] arouinfar commented on #123
Ah, I think I've found it. The remove-button isn't from FontAwesome (my bad). I found it in our common component .ai file, which means it's probably in scenery (or sun?).

![image](https://cloud.githubusercontent.com/assets/8419308/19132904/fc69c940-8b12-11e6-963b-e73712d94235.png)

[2016-10-05 21:49] pixelzoom commented on #123
When you hover over a character in the Glyphs panel, its Unicode value appears to the right of the "Show:" combo box.  In your screenshot it's 'U+f0c4':

![screenshot_47](https://cloud.githubusercontent.com/assets/3046552/19132948/328a46c6-8b13-11e6-92f4-d7f3f6777b30.png)

If you locate the icon, provide me with the Unicode value, and I should be able to locate it.

[2016-10-05 21:51] pixelzoom commented on #123
@arouinfar said:

Where does this file live in GitHub? And if it's not in GitHub, it should be.

[2016-10-05 21:52] pixelzoom commented on #123
I would expect to find this .ai file, or a corresponding png file or button, in scenery-phet. No sign of them.

[2016-10-05 21:56] arouinfar commented on #123
@pixelzoom it's an ever-evolving .ai file where the designers dump components that are used across sims. There are some general controls like buttons, but also some more specific items like the bike pump. The idea is that AH, AM, and I don't want to have to constantly ask one another for .ai assets, so they live in a common .ai file on Google Drive under PhET Ai Files > Design Assets > Common Comp

[2016-10-05 21:56] pixelzoom commented on #123
The closest thing to the "common component .ai file" is the scenery-phet demo application, which is supposed to serve as a visual guide to PhET-specific UI components.  Run version [1.0.0-dev.15](http://www.colorado.edu/physics/phet/dev/html/scenery-phet/1.0.0-dev.15/scenery-phet_en.html) and navigate to the "Buttons" screen. You'll see this, with the "remove" button notably missing:

![screenshot

[2016-10-05 21:59] arouinfar commented on #123
I guess the remove button was designed for something many, many moons ago and it never made its way into a published sim, but it ended up in the common components .ai file. We can continue to use remove-button.png as is, but I don't know who should get the credit for it. Possibly AM, possibly Bryce. All I know is that it predates me.

[2016-10-05 22:04] arouinfar commented on #123
To summarize
- Swap undo-button.png for fa-undo
  ![image](https://cloud.githubusercontent.com/assets/8419308/19133375/2ce42ca8-8b15-11e6-9184-fe7013aadbc6.png)
- Keep remove-button.png as is, but find the appropriate person to credit.
  ![image](https://cloud.githubusercontent.com/assets/8419308/19133386/354a0d0e-8b15-11e6-8995-fef0a7d49b4f.png)

[2016-10-05 22:05] pixelzoom commented on #123
Since this icon is not currently used in any sims, we have options:

(1) Choose a fontawesome icon as a suitable replacement, so we don't have to develop and maintain this icon.

(2) Implement scenery-phet.RemoveButton, put remove-button.ai and remove-button.png in scenery-phet, use RemoveButton in unit-rates.

Sounds like you want to do (2).

[2016-10-05 22:12] arouinfar commented on #123
Affirmative, @pixelzoom. I believe (2) is the better option, but before you get started on that I want to confirm that other designers are using it. If it's not being used elsewhere, then (1) is probably the way to go.

@amanda-phet @amyh-phet we currently have this button in the common components .ai file, but it is not actually a scenery component. Do either of you use this button in your mockup

[2016-10-05 22:14] ariel-phet commented on #123
@arouinfar that button comes from the "undo" button in build a fraction I believe

[2016-10-05 22:14] amanda-phet commented on #123
There is a similar remove button in Build a Fraction, so perhaps it was a component in java sims that turned into an HTML5 version during a sim design that never made it to development.

Also, it is possible for us to check in ai files to github, but as @arouinfar said, it would be a nightmare for a file that we are constantly editing. The intention is to have a file with illustrator versions of c

[2016-10-05 22:17] pixelzoom commented on #123
An undo button next to the scale might also serve the same purpose.

[2016-10-05 22:21] amyh-phet commented on #123
@arouinfar  I do not have plans for the button in any of the sims I'm currently working on, but I would imagine it could be useful in future sim design.  I don't see  a similar fa icon.

[2016-10-05 22:28] arouinfar commented on #123
Thanks @ariel-phet @amanda-phet @amyh-phet.

@pixelzoom We originally wanted to keep the undo button and "clear scale"/remove button distinct from one another, since they function differently. The remove button clears the items from the scale, but doesn't really behave like an undo button. For example, if I place three bags on the scale, I would expect an undo button to remove one bag at a time. T

[2016-10-06 03:46] ariel-phet commented on #100
@arouinfar my personal opinion (and this is just an opinion) is that "lbs" would be fine everywhere for American students. I feel like the target age for this sim is not super young, and there are just so many examples of this abbreviation in our culture, from shopping, to sports, to getting weighed for a physical, I just don't think it will be confusing.

[2016-10-06 05:18] ariel-phet commented on #52
@pixelzoom thanks for marking the checklist and giving the overview. Agreed on the two skipped items.

Closing

[2016-10-06 05:18] #52 closed, assigned to ariel-phet

[2016-10-06 05:34] ariel-phet commented on #123
@arouinfar - if you want to use a different button in unit rates that is fine with me. What you are calling the "remove" button was certainly thought of as an "undo" button in Build a Fraction, and I would like the look we have when we get to Build a Fraction (which will...ehemmm....be a while). So in the meantime, if there is a fontawesome button you think does that trick here, that is fine with

[2016-10-06 14:51] amanda-phet commented on #100
Sorry to chime in late... I think using both pounds and lbs is fine. Students learning about unit rates are also learning about units, so this seems like a great way to help them understand it. Teachers often talk about units of measurement before jumping in to unit rates, so it is unlikely that this will confuse any students.

[2016-10-06 17:44] arouinfar commented on #123
Thanks @ariel-phet. Let's reserve the so-called "remove" button for undo applications in future sims. @pixelzoom let's move forward with a FontAwesome icon.  We could either reflect level-down (left) about the y-axis or rotate level-up (right) by 180 degrees. Your call @pixelzoom.
![image](https://cloud.githubusercontent.com/assets/8419308/19163463/4d841ae6-8bb9-11e6-949c-cc28a881955b.png)  ![imag

[2016-10-06 18:07] arouinfar commented on #60
Looks good in Chrome and Firefox @pixelzoom. Closing.

[2016-10-06 18:07] #60 closed, assigned to arouinfar

[2016-10-06 18:12] arouinfar commented on #126
@pixelzoom I believe DS defined the touch area by using the image bounds. The checkered flag has extra padding to accommodate the cueing arrows (which are part of the touch area). I agree that programmatically drawing the flags would make more sense, but this was not initially possible due to the constraints on DS's time.

[2016-10-06 19:22] pixelzoom commented on #123
Notes to self about remove-from-scale button:

• use fontawesome 'level-down' icon, f149, http://fontawesome.io/icon/level-down/
• reflect about the y-axis
• 'level-down' icon is apparently newer than sherpa/lib/fontawesome-webfont-3.0.2.svg, so I'll need to upgrade that

[2016-10-06 19:23] pixelzoom commented on #123
Another note to self: 'level-down' icon is apparently newer than sherpa/lib/fontawesome-webfont-3.0.2.svg, so I'll need to upgrade that.

[2016-10-06 19:36] pixelzoom opened #127 "clarify where state is saved/restored"
I think I have a handle on where state is saved/restored  -- each item has its own state.  But wanted to clarify.

[2016-10-06 19:42] pixelzoom commented on #127
Also... For each setting of miles/hours, save what's on the number line, and position of the finish flag (see #96). Erase button on number line erases the number line markers for just that miles/hours setting.

Erase in first 2 screens: Removes only the markers that don't correspond to completed challenges or what's on the scale.

[2016-10-06 19:52] arouinfar commented on #88
Discussed in 10/6/16 design meeting. No animated transitions are necessary. Closing.

[2016-10-06 19:52] #88 closed, assigned to pixelzoom, arouinfar

[2016-10-06 20:06] arouinfar commented on #100
Discussed in 10/6/16 meeting. The consensus is:
- lbs in the scale
- pounds everywhere else (singular where necessary)
- Change double number line labels "dollars" and "pounds"

[2016-10-06 20:11] pixelzoom opened #128 "units on number line markers"
Make number line flexible enough to display units on any marker value.

At 10/6/16 design meeting, there was discussion about whether to label the top value for markers, when the top axis was dollars.  E.g. in [1.0.0-dev.19](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.19/unit-rates_en.html):

![screenshot_51](https://cloud.githubusercontent.com/assets/3046552/19168729/c3454c

[2016-10-06 20:23] arouinfar commented on #94
Challenge prompts -- keypad remains where it is now
Marker editor -- keypad pops up beneath (or above, if car 2) the edit button

[2016-10-06 20:24] arouinfar commented on #48
1 pound

[2016-10-07 16:18] pixelzoom commented on #107
Until this can be addressed, I've commented out the offending code. The sim will leak memory, but won't crash.

[2016-10-07 16:19] pixelzoom commented on #106
Until this can be addressed, I've commented out the offending code. The sim will leak memory, but won't crash.

[2016-10-07 16:19] pixelzoom commented on #127
Leaving this open so that I remember to consider this when making architectural changes.

[2016-10-07 16:20] pixelzoom commented on #126
Thanks @arouinfar, useful info.

[2016-10-07 16:28] pixelzoom commented on #48
Done. Examples:

![screenshot_204](https://cloud.githubusercontent.com/assets/3046552/19197739/bf52540c-8c78-11e6-9f12-27f02ce13426.png)

![screenshot_203](https://cloud.githubusercontent.com/assets/3046552/19197747/c75983f0-8c78-11e6-8ccc-de0b53a1459d.png)

Closing.

[2016-10-07 16:28] #48 closed, assigned to pixelzoom

[2016-10-07 16:30] arouinfar commented on #48
👍

[2016-10-07 16:37] pixelzoom commented on #100
@arouinfar Please verify in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.26/unit-rates_en.html.

[2016-10-07 16:39] arouinfar commented on #100
Looks good! Closing.

[2016-10-07 16:39] #100 closed, assigned to arouinfar

[2016-10-07 16:41] pixelzoom commented on #97
The `dispose` function appears to have problems, see #106 #107.

[2016-10-07 16:49] pixelzoom commented on #123
We have 2 svg files in sherpa:

[code]

FontAwesomeNode documentation says:

[code]

@samreid  Why do we need fontawesome-webfont-3.0.2.svg? Why can we just use font-awesome-4.5.0/fonts/fontawesome-webfont.svg?

[2016-10-07 16:50] pixelzoom commented on #123
... and font-awesome-4.5.0/fonts/fontawesome-webfont.svg contains the icon that I need ('level-down' f149).

[2016-10-07 17:01] pixelzoom commented on #123
Moved the issue of multiple SVG files to https://github.com/phetsims/sun/issues/271.  In the meantime, I grabbed the SVG data that I needed for 'level-down' from font-awesome-4.5.0/fonts/fontawesome-webfont.svg.

[2016-10-07 17:02] pixelzoom commented on #123
@arouinfar All of these icons have been converted to font awesome. Please review in master.

[2016-10-07 17:24] arouinfar commented on #123
Icons look good @pixelzoom. Closing.

[2016-10-07 17:24] #123 closed, assigned to arouinfar

[2016-10-07 17:25] arouinfar commented on #94
@pixelzoom why is this reassigned to me? Do you want me to create some mockups based on our discussion yesterday?

[2016-10-07 19:11] pixelzoom commented on #94
Must've fat fingered the Assignees list. Unassigning @arouinfar, I have all the info I need.

[2016-10-08 04:54] pixelzoom commented on #48
Whoopsie... Adding 1 to the Unit Rate denominator messed up the denominator of the other challenges. Fixed in the above commit.

[2016-10-11 17:01] phet-steele opened #129 "NumberLineNode: Attempted to removeChild with a node that was not a child."
[code]

[2016-10-14 18:57] jonathanolson opened #130 "Semi-duplication of NumberEntryControl in KeypadPanelNode"
@jbphet noted a lot of similarity in https://github.com/phetsims/making-tens/issues/76, but there were enough differences that I didn't factor out any of KeypadPanelNode's behavior into scenery-phet's NumberEntryControl.

Should certain code be shared here?

[2016-10-18 02:15] pixelzoom commented on #130
@jbphet Can you elaborate on what you had in mind for a common UI component?  Other than having an edit button and a keypad, I don't see these as being very similar. Unit Rates has a value field that is always present, make-a-ten field appears when edit button is pressed.  And clicking in the the value field for Unit Rates is supposed to be equivalent to clicking the edit button - it opens the key

[2016-10-18 17:20] jbphet commented on #130
First, I was observing that they look similar, here are some screenshots:

From Make a Ten:
![keypad-mt](https://cloud.githubusercontent.com/assets/3082831/19485533/a986c376-9518-11e6-8163-acd7a097d7da.PNG)

From Unit Rates:
![keypad-ur](https://cloud.githubusercontent.com/assets/3082831/19485556/b7b6813e-9518-11e6-9d67-be7f3f7661fc.PNG)

They also both behave similarly in that the user enters num

[2016-10-19 01:16] pixelzoom commented on #130
Thanks for the clarification.

Looking at the implementations and the screenshots provided above ...

unit-rates.KeypadPanelNode and scenery-phet.NumberEntryControl both add a numeric readout to scenery-phet.NumberKeypad.  The "Submit" button is actually _not_ part of `NumberEntryControl`, it's added separately in make-a-ten.KeyboardPanel. The "Enter"  button _is_ a part of `KeypadPanelNode`.

My

[2016-10-19 01:22] pixelzoom commented on #130
Similar keypads with an "enter" button in arithmetic:

![screenshot_53](https://cloud.githubusercontent.com/assets/3046552/19502146/04b1bebe-9568-11e6-9a10-5b37476d9081.png)

and in projectile-motion:

![screenshot_52](https://cloud.githubusercontent.com/assets/3046552/19502124/e46bd59a-9567-11e6-87b5-8ee717f7642c.png)

And in fact there are currently zero usages of NumberKeypad where some similar

[2016-10-19 01:25] pixelzoom opened #131 "bad inheritance in ItemCollection"
ItemCollection calls Object supertype constructor:

[code]

But inherits from PropertySet:

[code]

Yikes.

[2016-10-19 01:27] pixelzoom commented on #131
Scale subtype of ItemCollection also has a problem. Scale constructor calls supertype constructor with a 2nd arg, when ItemCollection constructor has zero parameters:

[code]

[2016-10-19 02:20] pixelzoom commented on #131
Fixed. Closing.

[2016-10-19 02:20] #131 closed, assigned to nobody

[2016-10-19 02:35] pixelzoom commented on #129
Looks like NumberLineNode is attempting to remove a marker that it doesn't have. Add this to the long list of problems with NumberLineNode.  Unlikely to be fixed for some time.

[2016-10-19 02:38] pixelzoom commented on #129
Related to #97.

[2016-10-19 02:54] #124 closed, assigned to nobody

[2016-10-19 02:57] pixelzoom commented on #125
... or perhaps this is a bug in sun.RoundToggleButton. Shouldn't both images be centered, regardless of their dimensions?

[2016-10-19 02:59] pixelzoom commented on #125
Relevant code is in RacingLabScreenView, line 88:

[code]

[2016-10-19 03:00] pixelzoom commented on #125
Bug is actually in sun.ToggleNode, it doesn't do any relative positioning of trueNode and falseNode.

[2016-10-19 03:35] pixelzoom commented on #125
Handled by centering the icons before passing them to BooleanRoundToggleButton. In RacingLabScreenView:

[code]

This may be problematic if BooleanRoundToggleButton or ToggleNode do any positioning of the icons in the future, but allow me to move forward until https://github.com/phetsims/sun/issues/272 is addressed.

[2016-10-19 03:38] pixelzoom commented on #103
Done in these commits:
https://github.com/phetsims/unit-rates/commit/9d2e9053c6b2b0ab1b20a7b0b5b429a633dc3a2e
https://github.com/phetsims/unit-rates/commit/11d321556d506c80e5045c60b0ef4517e2dc7d30
https://github.com/phetsims/unit-rates/commit/421a1bc3560e071b3eccd3a1c443bce5b0c85666
https://github.com/phetsims/unit-rates/commit/703f9c1deb0fd7ace0b8041c5fdc5e8156161ec2
https://github.com/phetsims/u

[2016-10-19 03:38] #103 closed, assigned to nobody

[2016-10-19 12:51] pixelzoom commented on #126
Padding removed from image, expanded touchArea for finish flag.

I'm going to leave the flags as image files, because (1) the green flag also appears in the "return to start" button icon, and (2) filling the finish flag with the checkered pattern would be a bit of a pain.

Closing.

[2016-10-19 12:51] #126 closed, assigned to pixelzoom

[2016-10-19 12:58] pixelzoom commented on #125
Reopening, until phetsims/sun#272 is addressed.  I don't like the approach currently used, because it relies on internal knowledge of BooleanRoundToggleButton.

[2016-10-19 20:41] jbphet commented on #130
In response to https://github.com/phetsims/unit-rates/issues/130#issuecomment-254684114, I think we should keep NumberKeypad 'pure' and not add a display or an entry button.  Even though we have no usages now without some sort of 'Enter' button, I could easily envision a situation in the future where we want this.  I would therefore favor the idea of a subtype with the enter button and display, bu

[2016-10-20 12:27] pixelzoom commented on #130
If such a component exists in time to use it in unit-rates, I'll certainly use it.  But I have no plans (or time) to do the generalization, moving the issue to https://github.com/phetsims/scenery-phet/issues/271.

Closing.

[2016-10-20 12:27] #130 closed, assigned to pixelzoom

[2016-10-23 20:42] pixelzoom commented on #118
ShoppingScene was added as a first-class type in @88e31ac40689d3f0d452e54a3340fe44c8671c7e. Closing.

[2016-10-23 20:42] #118 closed, assigned to nobody

[2016-10-23 20:44] pixelzoom commented on #71
Done: SceneButtonGroupNode -> ShoppingSceneControl @b1565f07098a9c0b9bc99fcd5d035c1b68611843

[2016-10-23 21:53] pixelzoom opened #132 "randomly select scene and item at startup?"
There's a comment in the code that indicates that (for the Shopping and Shopping Lab screens) the scene and (in the case of Shopping) the item are supposed to be randomly selected at startup "as per current design document".

@arouinfar Can you shed some light on this?

[2016-10-23 21:59] pixelzoom commented on #132
Note to self: Relevant comments are in URShoppingModel and ShoppingScene.

[2016-10-23 22:29] pixelzoom commented on #85
Combo box icons now have uniform size.  Closing.

[2016-10-23 22:29] #85 closed, assigned to nobody

[2016-10-23 22:34] arouinfar commented on #132
@pixelzoom that's true for the Shopping Screen. On startup (or reset all), one fruit, one "veggie", and one type of candy should be chosen to be the default item for each scene (e.g. lemons, carrots, and blue candy).  The idea is that we don't want a classroom full of students to be given the same item by default, as unit rates/answers will spread around the classroom more easily.

Shopping Lab on

[2016-10-24 15:22] pixelzoom commented on #132
@arouinfar What about scene selection?

[2016-10-24 15:33] arouinfar commented on #132
@pixelzoom scene selection is not randomized, just the default item within each scene. The scenes are deliberately scaffolded, so we want students to start with the first scene. When opening the Shopping screen, the first scene (Fruit) should selected by default, but the particular kind of fruit should be randomly chosen.

[2016-10-24 15:46] pixelzoom commented on #132
Got it, thanks.

[2016-10-24 15:55] arouinfar commented on #116
Terminology has been propagated to the design doc. Thanks again for these suggestions @pixelzoom.

[2016-10-24 15:55] #116 closed, assigned to arouinfar

[2016-10-24 16:03] pixelzoom commented on #116
👍

[2016-10-24 16:06] pixelzoom commented on #120
I've done the ~20 hours of work suggested. The plan is to move forward with re-architecting the sim.  All of the above issues will be addressed in the new architecture.   No need to track in this issue, making the decision to proceed is sufficient to close this issue.

[2016-10-24 16:06] #120 closed, assigned to pixelzoom

[2016-10-24 16:28] pixelzoom commented on #132
@arouinfar Please verify that this works as desired in http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.29/unit-rates_en.html

[2016-10-24 16:43] arouinfar commented on #132
Close, but not quite @pixelzoom. Randomization on startup looks good, but there's something funny happening on reset all. The fruit in the combo box changes, but the item on the shelf does not match (it's actually the fruit that was first chosen on a fresh startup) until switching to a different scene and then coming back to fruit.

![item_randomization](https://cloud.githubusercontent.com/assets/

[2016-10-24 17:28] pixelzoom commented on #132
Got it. This is symptomatic of some underlying architectural issues. Once those are resolved, this problem will do away. The important thing is that the combo box is behaving as desired.  But I'll leave this open until the items shown on the shelf & scale are correct.

[2016-10-25 16:40] pixelzoom opened #133 "change "Challenges" to "Questions" ?"
@arouinfar How would you feel about changing the title of the accordion box in the Shopping screen from "Challenges" to "Questions"?  In other sims, we call them "Challenges" because they tend to be more elaborate/involves.  But these are posed as questions, with fill-in-the-blank answers.   "Questions" is also a little less "heavy", depending on the audience.

[2016-10-25 16:41] pixelzoom commented on #133
In context:

![screenshot_58](https://cloud.githubusercontent.com/assets/3046552/19695223/9123385a-9a9f-11e6-9add-9e717859d9cc.png)

[2016-10-25 16:58] arouinfar commented on #133
@pixelzoom I like your suggestion. We originally went with "Challenges" because the term is present in other sims. However, I do agree that these prompts are a bit different, and "Questions" may be more appropriate. You can leave the panel titled "Questions" for now, but I'd like to get feedback from the team at design meeting this week.

[2016-10-25 17:31] phet-steele opened #134 "Automated Testing Sim Error (10/25/2016 10:10 AM)"
`Uncaught Error: Script error for: UNIT_RATES/shoppingnew/ShoppingScreenNEW`

@pixelzoom, please look at [unit-rates-main.js](https://github.com/phetsims/unit-rates/blob/055ac9b12c5ab2bb18450816a653f5c32e84ec08/js/unit-rates-main.js#L14) line 14, I believe that it should say `shoppingNEW`, not `shoppingnew`, no?

`var ShoppingScreenNEW = require( 'UNIT_RATES/shoppingnew/ShoppingScreenNEW' );`

[2016-10-25 17:35] #134 closed, assigned to pixelzoom

[2016-10-25 17:55] phet-steele opened #135 "NumberLineNode: Cannot read property 'indexOf' of undefined"
[code]

[2016-10-25 17:56] phet-steele commented on #135
Related to #97?

[2016-10-25 18:00] pixelzoom commented on #135
Yes, another problem with NumberLineNode.  To reproduce:
- start sim
- go to Shopping screen
- put some items on the scale
- switch from fruit to vegetables to fruit
- the "reset marker" button mysteriously appears on the number line, see screenshot below
- press the "reset marker" button and the reported error occur

NumberLineNode will be reimplemented at some point, but I'll leave this issue op

[2016-10-25 18:03] pixelzoom commented on #97
I'm going to be rewriting the number line stuff. Will certainly consult URNumberLineNode, but it's going to go away. Closing.

[2016-10-25 18:03] #97 closed, assigned to nobody

[2016-10-27 20:52] arouinfar commented on #133
Discussed in 10/27/16 design meeting.

"Challenges" and "Questions" are both somewhat dry. We could try a prompt like "Answer It!" or "Solve It!" but that terminology is more cumbersome for a teacher to use in a classroom.

For now, we'll leave it as "Questions". I'll close this issue, and re-open it if/when we decide to revisit the nomenclature.

[2016-10-27 20:53] #133 closed, assigned to arouinfar

[2016-10-28 18:47] arouinfar commented on #110
Based on the discussion on 10/27, we should tweak this a bit.

Rather than always disabling the number keys after two decimals are entered, we should...
- Limit the number of fruits and "veggies" to the tenths place, e.g. 5.3 apples or 4.2 potatoes. Disable the number keys after one decimal has been entered.
- Limit the weight of the candy bags, the cost of all items, and the hours to the hundredt

[2016-11-01 17:56] pixelzoom commented on #125
Addressed in https://github.com/phetsims/sun/issues/272.  Removed hack in https://github.com/phetsims/unit-rates/commit/b04845f62892d1cc29bc1109a1de9e3d79321eec. Closing.

[2016-11-01 17:56] #125 closed, assigned to nobody

[2016-11-10 15:07] troubleme opened #136 "Background image is on home page but not my woocomerce side"
Good morning,

I'm new to the forum. Long story short, I got ripped off by a webdesign company and now I'm trying to put my site together from what I have saved/backed up, I imported it to a godaddy wordpress hosting and I think I have it up and running but I seem to have some images missing in some pages but not in others (my home page). Certain pages (Home page) my background image shows but whe

[2016-11-10 15:25] ariel-phet commented on #136
@troubleme you are posting this question in a repository for the PhET Interactive Simulations Project, so I think you have posted in the completely wrong place. We are an educational organization and do nothing of the sort you are referring to. Closing.

[2016-11-10 15:25] #136 closed, assigned to nobody

[2016-11-10 15:49] troubleme commented on #136
where would I go for underscores.me support?

[2016-11-10 15:52] ariel-phet commented on #136
@troubleme https://github.com/Automattic/underscores.me

[2016-11-28 23:22] pixelzoom commented on #45
This is implemented in the new ShoppingQuestionNode.  Closing.

[2016-11-28 23:22] #45 closed, assigned to nobody

[2016-11-28 23:25] pixelzoom commented on #84
This was a misunderstanding on my part.  The challenges come in "sets", and some sets have the same challenge for one or more of the challenges.  It is sufficient that the same *set* of challenges never appears consecutively, which is the case in the original implementation and the revised implementation.  Closing.

[2016-11-28 23:25] #84 closed, assigned to nobody

[2016-11-28 23:26] pixelzoom commented on #132
This is being handled properly in the revised screens.  Also note that randomization can be disabled (for testing) with `?randomEnabled=false`.

Closing.

[2016-11-28 23:26] #132 closed, assigned to nobody

[2016-12-06 17:00] pixelzoom commented on #20
Done for both old and new implementations of Questions.

[2016-12-06 17:56] pixelzoom commented on #20
@arouinfar please verify the changes in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.30/unit-rates_en.html?showNew&randomEnabled=false&showAnswers

With the `showNew` query parameter, the new implementation of Shopping (a work in progress) is added as a 4th screen.

The other 2 query parameters are for the new Shopping screen only. `randomEnabled=false` turns off random sele

[2016-12-06 18:46] arouinfar commented on #128
Discussed with @pixelzoom over Skype.

Decision: $ on top axis, no units on bottom axis, implementation will be flexible to add/remove units.

[2017-01-05 21:36] jonathanolson opened #137 "A few intermittent test failures"
In require.js mode fuzzing with assertions:
[code]

and possibly related chipper-built fuzzing failure:
[code]

[2017-01-15 19:35] pixelzoom opened #138 "problem with shelf artwork"
I discovered this while working on aligning items on the shelf.

The shelf has some issues at its corner joints.  See screenshot below (of shelf.ai) that shows the left joint. The right joint is similar.  It's not a huge problem once this is converted to PNG.   But it does result in different numbers of transparent pixels being added to the left and right edges, so positioning things on the shelf

[2017-01-15 19:36] pixelzoom commented on #138
shelf.ai is at https://github.com/phetsims/unit-rates/blob/master/assets/shelf.ai

[2017-01-15 19:55] pixelzoom commented on #138
Another option... It would be to trivial to draw the shelf programmatically. It depends on how attached you are to the woodgrain look of the shelf.  The woodgrain is barely perceptible in the sim.

[2017-01-15 20:08] pixelzoom commented on #138
Here's the new Shopping screen with the shelf rendered using the image (top) and programmatically (bottom, color = `'rgb( 174, 129, 91 )'`).

![screenshot_120](https://cloud.githubusercontent.com/assets/3046552/21965758/97c017e0-db23-11e6-9971-37be755301bf.png)

![screenshot_119](https://cloud.githubusercontent.com/assets/3046552/21965761/a9420dca-db23-11e6-9e0a-4f61eabf7a5a.png)

[2017-01-15 20:14] pixelzoom commented on #138
Note to self: Here's the code for drawing the shelf, in case we decide to go that route.

[code]

[2017-01-17 18:33] arouinfar commented on #138
@pixelzoom I'm not really attached to the woodgrain. The screenshots in https://github.com/phetsims/unit-rates/issues/138#issuecomment-272720003 look great to me. From what I understand, using this version of the shelf will address the original issue with the corner joints. If not, please let me know what else you'll need from me.

[2017-01-17 19:58] pixelzoom commented on #138
Shelf converted to code.  Closing.

[2017-01-17 19:58] #138 closed, assigned to pixelzoom

[2017-01-18 22:56] arouinfar commented on #20
I was doing some issue cleanup, realized I hadn't verified this yet. Sorry for the delay @pixelzoom.

The questions now all match the Unit Rates & Questions table in the design doc, with the exception of the fourth candy prompts which are inverted. The fourth question should read "Candy for $[price]?"

[2017-01-18 23:01] pixelzoom commented on #20
Hmmm... I thought that the Candy scene was different, and had all "Cost of ..." questions. So is this (see screenshot) a bug in the original Shopping screen?

![screenshot_122](https://cloud.githubusercontent.com/assets/3046552/22086700/3624c1c2-dd97-11e6-8671-e2e599b7a8aa.png)

[2017-01-18 23:07] arouinfar commented on #20
@pixelzoom the candy prompts were never meant to be different. There was a bug in the original implementation, and the change was requested in my first review https://github.com/phetsims/unit-rates/issues/20#issuecomment-251588782.

[2017-01-19 00:38] pixelzoom commented on #20
In https://github.com/phetsims/unit-rates/issues/20#issuecomment-273628617, @arouinfar said:

... or is is supposed to read "pounds for $[price]?".

For fruits and vegetables, we use the singular and plural item names ("Apple", "Apples") throughout the questions.  For candy, that is currently "pound" and "pounds".   Trying to make this different for candy is going to be a nontrivial problem. So I'

[2017-01-19 00:41] pixelzoom commented on #20
@arouinfar you can test drive "pounds for $[price]?" in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.34/unit-rates_en.html?showNew

[2017-01-19 20:05] arouinfar commented on #20
@pixelzoom I think "pounds for $[price]?" sounds much, much better. However, I don't think we should use lowercase "pounds" at the beginning of the sentence. We could switch to "Pound" and "Pounds". However, switching to uppercase is problematic in other ways:
* "Pound" and "Pounds" will read as a proper noun in the questions (which it's not)
* It also looks odd to have lowercase "dollars" and upp

[2017-01-19 20:08] pixelzoom commented on #20
@arouinfar asked:

Yes.  It will require adding Candy-specific code to several modules, complicating something that is currently relative simple. Imo, not worth the development cost or (inevitable) maintenance cost.   But your call.

[2017-01-19 20:09] pixelzoom commented on #20
If consistence of capitalization is the issue, consider changing the other questions to "cost of 10 Apples?" and "unit rate?"

[2017-01-19 20:10] pixelzoom commented on #20
If consistency of capitalization is the issue, consider changing the other questions to "cost of 10 Apples?" and "unit rate?"  None of these are complete sentences, so technically don't need to start with a capital letter.

[2017-01-19 20:10] ariel-phet commented on #20
@pixelzoom I think we are a bit leary of getting pushback from teachers for having a sentence not capitalized at that level. Can you think of any alternatives that might serve the purpose but be simple to implement?

My druthers would certainly be consistency, and would prefer all non-caps to mixed

[2017-01-19 20:11] pixelzoom commented on #20
These are not sentences.

[2017-01-19 20:13] ariel-phet commented on #20
@pixelzoom generally no, but with rising intonation such statements are considered sentences in general usage. "Feeling better today?" 😸

[2017-01-19 20:25] pixelzoom commented on #20
OK, I will add "Pounds".  It will involve candy-specific code, like:

[code]

Two major problems I have with this:

(1) This type of code is the exact reason why I am having to rewrite this sim instead of simply fixing a few things.

(2) This type of string key (`capitalPoundsString`) is something that I already spent hours eliminating (see https://github.com/phetsims/unit-rates/issues/57).

[2017-01-19 20:26] arouinfar commented on #20
@pixelzoom the other alternative would be to change "pound" to "Pound", "pounds" to "Pounds" and dollars to "Dollars".

[2017-01-19 20:27] arouinfar commented on #20
There would be some funkiness in the capitalization, but it would at least be consistent.

[2017-01-19 20:41] pixelzoom commented on #20
"Pounds" is now capitalized when it appears as the first word of a question.  Implemented in above commit, which involved touching 3 modules to propagate yet-another candy-specific option.  There are now 9 such candy-specific code paths required in the new Shopping screen.

@arouinfar please verify in:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.35/unit-rates_en.html?cm

[2017-01-20 17:45] pixelzoom commented on #137
These are both known issues in the old implementation. And the old implementation will eventually be deleted, so I'm not going to address them.

To prevent recurring automated test failures, I will reconfigure the sim so that the "old" screens are added only if a query parameter is present. This will avoid automated testing of old code, and focus on automated testing of new code.

[2017-01-20 17:52] pixelzoom commented on #137
Old screens are now added only if `?old` is present.

Closing.

[2017-01-20 17:52] #137 closed, assigned to nobody

[2017-01-20 17:54] pixelzoom commented on #56
Icons were moved to the left of strings in the combo box.  And other issues are code that is in the process of being replaced and will be deleted.  New code will received its own round of `stringTest` testing.  So closing this issue.

[2017-01-20 17:54] #56 closed, assigned to arouinfar

[2017-01-20 18:08] pixelzoom commented on #86
As I've become more familiar with this button, I've come to realize that it does more than just return items to the shelf.  It also puts any items that are in the shelf back into bags.

Consider this scenario:

![screenshot_123](https://cloud.githubusercontent.com/assets/3046552/22159740/8eb47daa-deff-11e6-8d41-93067f928a72.png)

If we disable the button when there's nothing on the scale, then we

[2017-01-20 18:12] pixelzoom commented on #119
All of the original code has been moved to js/old/, and is scheduled for deletion.  So this issue will not be addressed. Closing.

[2017-01-20 18:12] #119 closed, assigned to nobody

[2017-01-20 18:14] pixelzoom commented on #128
We recently decided to remove '$' from the value on the top axis, since we simply cannot afford the horizontal space.  This was specifically called out at 1/12/17 status meeting, and there was no objection.

[2017-01-20 18:15] pixelzoom commented on #128
This requirement is reflected in the new implementation of the Shopping screen.  It will not be addressed in the old implementation.

Closing.

[2017-01-20 18:15] #128 closed, assigned to nobody

[2017-01-20 18:17] pixelzoom commented on #115
This is demonstrated in the implementation of the new Shopping screen - duplicate markers are not created.  This will not be addressed in the old implementation.

Closing.

[2017-01-20 18:17] #115 closed, assigned to nobody

[2017-01-20 18:17] pixelzoom commented on #82
This is being done throughput the new implementation, see for example the new Shopping screen.

Closing.

[2017-01-20 18:17] #82 closed, assigned to nobody

[2017-01-20 18:21] pixelzoom commented on #80
No performance issues have been reported, and the new implementation will certainly be subjected to performance testing.  For now, no known issues. Closing.

[2017-01-20 18:21] #80 closed, assigned to nobody

[2017-01-20 18:23] pixelzoom commented on #135
NumberLineNode has been moved to OLDNumerLineNode, and replaced with DoubleNumberLineNode (which does not exhibit this problem).   No plans to fix OLDNumerLineNode, since it will eventually be deleted.  Closing as "will not fix".

[2017-01-20 18:23] #135 closed, assigned to nobody

[2017-01-20 18:23] pixelzoom commented on #129
NumberLineNode has been moved to OLDNumerLineNode, and replaced with DoubleNumberLineNode (which does not exhibit this problem). No plans to fix OLDNumerLineNode, since it will eventually be deleted. Closing as "will not fix".

[2017-01-20 18:23] #129 closed, assigned to nobody

[2017-01-20 18:26] pixelzoom commented on #114
This implementation has been replaced, and the new implementation (see new Shopping screen) has no problem restoring state.  No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:26] #114 closed, assigned to nobody

[2017-01-20 18:31] pixelzoom commented on #113
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:31] #113 closed, assigned to nobody

[2017-01-20 18:31] pixelzoom commented on #112
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:31] #112 closed, assigned to nobody

[2017-01-20 18:40] pixelzoom commented on #110
Our more recent decision was to constrain to 4 digits and 2 decimals (which constrain occurs first) for _all_ values.   We made this decision after discovering that having different numbers of decimal placed for a rates numerator and denominator caused usability problems with the marker editor. And while this results in syntactically incorrect entries in the keypad, that's OK.

These examples demo

[2017-01-20 18:42] pixelzoom commented on #107
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:42] #107 closed, assigned to nobody

[2017-01-20 18:42] pixelzoom commented on #106
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:42] #106 closed, assigned to nobody

[2017-01-20 18:42] pixelzoom commented on #104
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:42] #104 closed, assigned to nobody

[2017-01-20 18:44] pixelzoom commented on #102
The new implementation (see new Shopping screen) does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:44] #102 closed, assigned to nobody

[2017-01-20 18:45] pixelzoom commented on #101
The new implementation (see new Shopping screen) does this, via `?showAnswers`. No plans to add this to the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:45] #101 closed, assigned to nobody

[2017-01-20 18:46] pixelzoom commented on #91
The new implementation (see new Shopping screen) does not use this implementation. No plans to change the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:46] #91 closed, assigned to nobody

[2017-01-20 18:48] pixelzoom commented on #78
A new implementation (see new Shopping screen) has replaced the old implementation. No plans to address this in the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:48] #78 closed, assigned to nobody

[2017-01-20 18:49] pixelzoom commented on #79
No plans to investigate memory leaks in the old implementation, since it will eventually be deleted. The new implementation will have its own rigorous testing for memory leaks. Closing this issue as "will not fix".

[2017-01-20 18:49] #79 closed, assigned to nobody

[2017-01-20 18:50] pixelzoom commented on #83
Old implementation is being replaced with new implementation (e.g. new Shopping screen).  I will certainly be testing multitouch during implementation, and issues will be created if any are found during testing.  No plans to test or address the old implementation, so closing this issue as "will not fix".

[2017-01-20 18:50] #83 closed, assigned to nobody

[2017-01-20 18:52] pixelzoom commented on #77
Old implementation is being replace by new implementation, and touchAreas will be addressed as a standard part of development.  No plans to address touchArea issues in the old implementation, so closing this issue as "will not fix".

[2017-01-20 18:52] #77 closed, assigned to nobody

[2017-01-20 18:53] pixelzoom commented on #76
I have been properly implementing and testing `dispose` as part  of the new implementation. No plans to address this for the old implementation, so closing as "will not fix".

[2017-01-20 18:53] #76 closed, assigned to nobody

[2017-01-20 18:55] pixelzoom commented on #75
I have been properly implementing and testing `dispose` (including for common-code components) as part of the new implementation. No plans to address this for the old implementation, so closing as "will not fix".

[2017-01-20 18:55] #75 closed, assigned to nobody

[2017-01-20 18:56] pixelzoom commented on #74
This is being done as part of standard development for new implementation. No plans to address for old implementation. Closing as "will not fix".

[2017-01-20 18:56] #74 closed, assigned to nobody

[2017-01-20 18:56] pixelzoom commented on #73
No plans to address this in old implementation. Closing as "will not fix".

[2017-01-20 18:56] #73 closed, assigned to nobody

[2017-01-20 18:57] pixelzoom commented on #72
No plans to address this in old implementation. New implementation will be tested for duplication as part of standard checklist. Closing as "will not fix".

[2017-01-20 18:57] #72 closed, assigned to nobody

[2017-01-20 18:58] pixelzoom commented on #71
This was an issue with old implementation, and is moot now that I'm reimplementing.  Closing this issues as "will not fix".

[2017-01-20 18:58] #71 closed, assigned to nobody

[2017-01-20 18:58] pixelzoom commented on #69
The new implementation does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 18:58] #69 closed, assigned to nobody

[2017-01-20 18:59] pixelzoom commented on #68
This was a problem with the old implementation, no plans to fix it.  It will certainly not be an issue in the new implementation. Closing this issue as "will not fix".

[2017-01-20 18:59] #68 closed, assigned to nobody

[2017-01-20 19:00] pixelzoom commented on #64
This is a problem in the old implementation, which is being replaced. Closing this issue as "will not fix".

[2017-01-20 19:00] #64 closed, assigned to nobody

[2017-01-20 19:00] pixelzoom commented on #59
The new implementation does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 19:00] #59 closed, assigned to nobody

[2017-01-20 19:01] pixelzoom commented on #63
The new implementation does not have this problem. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

[2017-01-20 19:01] #63 closed, assigned to nobody

[2017-01-20 19:03] pixelzoom commented on #47
The new implementation will fully save state of the shelf and scale.  No plans to fix in the old implementation. Closing this issues as "will not fix".

[2017-01-20 19:03] #47 closed, assigned to nobody

[2017-01-20 19:05] pixelzoom commented on #39
The new implementation (see new Shopping screen) behaves as desired, see screenshot below. No plans to fix the old implementation, since it will eventually be deleted. Closing this issue as "will not fix".

![screenshot_126](https://cloud.githubusercontent.com/assets/3046552/22161684/c499ba80-df08-11e6-85b7-16ed5d6f11e1.png)

[2017-01-20 19:05] #39 closed, assigned to nobody

[2017-01-20 19:11] pixelzoom commented on #36
No plans to address this in old implementation. Closing as "will not fix".

[2017-01-20 19:11] #36 closed, assigned to nobody

[2017-01-20 19:11] pixelzoom commented on #18
No plans to address this in old implementation. Closing as "will not fix".

[2017-01-20 19:11] #18 closed, assigned to nobody

[2017-01-20 19:51] pixelzoom commented on #50
In https://github.com/phetsims/unit-rates/issues/50#issuecomment-251581257, @arouinfar said:

I'm confused here, because I didn't see any request to delete an existing marker.

The new implementation (see [1.0.0-dev.36](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.36/unit-rates_en.html)) currently does not replace markers like this.  And I'm wondering if it needs to, because

[2017-01-20 19:53] pixelzoom commented on #86
I'm working on this now, so high priority.

[2017-01-20 19:54] pixelzoom commented on #50
High priority because I'm trying to wrap up the Shopping screen.

[2017-01-20 19:56] pixelzoom commented on #87
This algorithm behaves oddly in generally, and inconsistently on occasion.  I'm planning to use an entirely different layout approach in the new implementation.  So no plans to do anything with the old implementation. Closing this issue as "will not fix".

[2017-01-20 19:56] #87 closed, assigned to nobody

[2017-01-20 20:04] pixelzoom commented on #96
Related info from https://github.com/phetsims/unit-rates/issues/127#issuecomment-252067446:

[2017-01-20 20:05] pixelzoom commented on #127
State for shopping screens is handled correctly in new implementation.

State for racing screen is more thoroughly described in https://github.com/phetsims/unit-rates/issues/96 and design doc.

Closing this issue.

[2017-01-20 20:05] #127 closed, assigned to nobody

[2017-01-20 20:26] arouinfar commented on #86
The original spec did not include putting items back into the bags, so I guess it was technically a bug in the original implementation. However, it seemed handy to return items to the bags (but the original spec didn't include a way to do this), so no issue was logged.

The behavior in option (2) sounds more reasonable to me. However, I don't think we should have two reset buttons visible on the s

[2017-01-20 20:29] pixelzoom commented on #44
The design document (subsection "Rounding") currently says:

Related to that paragraph, the design document has 2 unaddressed comments from me:

Later in the design document (subsection "Thoughts for Teachers") it says:

December 8, 2016 (issue "Round") meeting notes in the design document say:

So there's lots of conflicting information here.

We cannot enter cost to 3 decimal places, since we di

[2017-01-20 20:31] pixelzoom commented on #44
If the scale is showing this extra decimal place, the number line will not be showing it. Is that confusing? It's certainly going to be problematic to implement, because the 'erase' functionality of the number line will have difficulty matching a marker to what's on the scale.

[2017-01-20 20:33] arouinfar commented on #44
@pixelzoom the extra digit on the scale would only apply to the Shopping Lab, not the Shopping screen.

I will review your comments more thoroughly and reply when I can, but I wanted to point out that this is an issue for the Shopping Lab screen -- not sure if that effects the priority.

[2017-01-20 20:37] arouinfar commented on #50
@pixelzoom dev.36 looks good to me. No need to delete the existing marker because duplicates are not considered and the marker editor completely obscures the marker behind it.

[2017-01-20 20:37] #50 closed, assigned to arouinfar

[2017-01-20 20:38] pixelzoom commented on #44
I'm not implementing separate scales for each screen - the same scale must be usable in both shopping screens.

[2017-01-20 20:44] pixelzoom commented on #86
Not true. We have ResetButton and ResetAllButton in common code.  They use the same icon. ResetButton is for resetting specific things. RestAllButton is for resetting the entire screen, and is differentiated by its consistent orange color. So RestButton was intended specifically for situations like the shelf+scale.

[2017-01-20 20:44] pixelzoom commented on #86
... and RestButton was intended specifically for this purpose.

[2017-01-20 20:46] pixelzoom commented on #86
As an example, MOTHA uses ResetButton to reset the spectrometer, see screenshot below. Note its proximity to the ResetAllButton.  There have been zero problems with this approach, why is it not applicable in Unit Rates?

![screenshot_129](https://cloud.githubusercontent.com/assets/3046552/22164991/dbf4d0a8-df16-11e6-9329-a363b4a285b7.png)

[2017-01-20 20:48] pixelzoom commented on #86
The refresh button is not appropriate to use for this purpose. The semantics of the refresh button is "give me another one", not "reset to initial state".   See for example the "Mystery" screen in Function Builder.  Or the Questions panel in Unit Rates.

[2017-01-20 21:23] pixelzoom commented on #86
Internal documentation in common code:

[ResetButton](https://github.com/phetsims/scenery-phet/blob/master/js/buttons/ResetButton.js):

[code]

[ResetAllButton](https://github.com/phetsims/scenery-phet/blob/master/js/buttons/ResetAllButton.js):

[code]

[2017-01-20 22:24] pixelzoom commented on #44
I will proceed with no extra digit on the scale.  But that may mean significant changes (and thus more time) when I implementing the Shopping Lab screen.

[2017-01-20 22:45] arouinfar commented on #86
@pixelzoom I have not seen ResetButton used in any published sims. Thank you for including the MOTHA example. However, I think the MOTHA example is a bit different (despite the proximity of the two buttons) for a few reasons.
* ResetButton is located inside of a panel that is closed on startup.
* ResetButton is much smaller than ResetAllButton.

While I am not a part of the MOTHA team, I suspect t

[2017-01-20 22:49] arouinfar commented on #86
ResetButton doesn't need to be reduced by exactly 30% @pixelzoom. That's just a ballpark suggestion based on the patched together mockup.

[2017-01-21 00:01] arouinfar commented on #44
@pixelzoom you've made an excellent point. I can think of two differences between the scale in in the Shopping screen and the scale in the Shopping Lab screen.
* Shopping Lab has collapsible price.
* Shopping Lab shows 3rd decimal place on price, when non-zero.

I think we should have a deeper discussion around this at design meeting to see if we can unify the implementation of the scale across bo

[2017-01-21 17:33] pixelzoom commented on #44
FYI... I've already implemented the "collapsible price" as an optional feature, so it's trivial to turn it on for the Shopping Lab screen only.

[2017-01-24 01:57] pixelzoom commented on #86
Note to self: In case I need to revert to using the `'level_down'` icon, the implementation of `ResetShelfButton` is in unit-rates master, sha 6bb39ebee343aabbf74ef2261be1f11fbae801f1.

[2017-01-24 02:08] pixelzoom commented on #86
Changed to `ResetButton` with approximate size and placement as shown in https://github.com/phetsims/unit-rates/issues/86#issuecomment-274200179.

The button currently does nothing, so leaving this issue open until I implement the desired listener (reset shelf and scale to initial state) and disabling (disable when shelf and scale are in initial state).

[2017-01-24 04:11] pixelzoom commented on #66
Check list of things that implementation-notes.md should contain or mention for this sim:

- [x] terminology
- [x] there is no model-view transform (single coordinate frame)
- [x] issues related to rounding and number of decimal places
- [x] use of pattern for nested options

[2017-01-24 04:36] pixelzoom opened #139 "co-locate controls for selecting an item?"
This occurred to me while testing this sim, which involves lots of switching between items to compare things.

Selecting a Shopping item often requires using 2 controls - a radio button and the combo box.  And it seems odd that those 2 controls are on opposite sides of the screen.  The radio buttons are also a bit close to the Reset All button, which could be an issue on iPad.  And the lower-right

[2017-01-24 04:55] pixelzoom commented on #139
If we moved the radio buttons, we'd presumably want to do that for the "Shopping Lab" screen too.  Here's a rough mockup (Photoshop) of how that would look. Right side of the screen looks a little empty, but we could (and probably should!) make the double number line wider.

![screenshot_280](https://cloud.githubusercontent.com/assets/3046552/22234584/6e27ec52-e1b6-11e6-8464-2fb19067b8c1.png)

[2017-01-24 04:57] pixelzoom commented on #139
If we moved the radio buttons, we'd presumably want to do that for the "Shopping Lab" screen too.

Here's what it looks like now.

![screenshot_281](https://cloud.githubusercontent.com/assets/3046552/22234642/e0597066-e1b6-11e6-8a9d-690b0df5cc92.png)

Here's a rough mockup (Photoshop) with the radio buttons at lower left. Right side of the screen looks a little empty, but we could (and probably sh

[2017-01-24 05:37] pixelzoom opened #140 "make double number line the full width of the screen?"
No matter what I've tried, we're going to have serious usability problems caused by markers colliding and overlapping in the double number line. We discussed dynamically adjusting font size, etc. to alleviate this.  But there is no magic that I'm going to be able to work to solve this problem.  The single biggest thing we could do to alleviate this problem is to make the double number line wider.

[2017-01-24 05:44] pixelzoom commented on #140
Note that this also presumes that we'd relocate the radio buttons, as described in https://github.com/phetsims/unit-rates/issues/139.

[2017-01-24 05:47] pixelzoom commented on #140
It also might be possible to show the answers in the current (fraction) form if we did _both_ of the following:

(1) Reduce the font size throughout the Questions panel. This is likely to negatively impact usability, especially on mobile devices.

(2) Relocate the Reset All button.  I suspect that this would be controversial/unpopular.

[2017-01-24 16:42] amanda-phet commented on #139
I really like those scene selection/ radio buttons over by the combo box!

[2017-01-24 16:44] arouinfar commented on #139
Thanks for your input @amanda-phet! I also like the new location of the scene selection buttons. Thanks for the suggestion @pixelzoom. :)

[2017-01-24 17:02] pixelzoom commented on #139
Great. The change was made to the new Shopping screen in https://github.com/phetsims/unit-rates/commit/8cf7826071023f78e45f7d7840abd9617a8e8c67.  And I will use the same location in the new Shopping Lab screen.

Closing.

[2017-01-24 17:02] #139 closed, assigned to pixelzoom

[2017-01-24 17:44] arouinfar commented on #140
@pixelzoom I agree. As I read your original post, my initial concern was what implications this would have for the Racing Lab screen, so I'm glad to know that we can have a full-width double number line on just the shopping screens.

As for the Questions, I'm not particularly keen on drastically reducing the font size or moving the Reset All button, so I think we should discuss the alternatives pr

[2017-01-24 17:48] arouinfar commented on #81
@pixelzoom I noticed that the eraser button in the new shopping screen is gray, and not the pale yellow (255, 255, 219) suggested in https://github.com/phetsims/unit-rates/issues/81#issuecomment-251551924. I don't know if this was already on your radar or not, but I wanted to make sure the button color is migrated over to the new screen so that I can see how it goes in interviews.

[2017-01-24 17:53] pixelzoom commented on #140
Going outside my area of expertise... While educating myself about this domain (rates & unit rate), the majority of references that I consulted discussed ratios at some point. Showing the answers in ratio form might be an opportunity for discussion about how rates can be expressed as either a ratio or fraction.

[2017-01-24 17:55] pixelzoom commented on #81
Good catch - that got overlooked when I factored out colors into one file.  It's now fixed in master.

[2017-01-24 17:56] arouinfar commented on #81
Excellent, thanks!

[2017-01-24 18:08] ariel-phet commented on #140
@pixelzoom and @arouinfar, I am pretty sure that @amanda-phet is very much not a fan of the horizontal writing of a fraction.  Just some other random ideas:

1. Would a word be wrong? In my head I read the fraction as "2 dollars per apple" or such.

2. Perhaps with a little re-layout the fractional answer could be put to the right of the question? That creates some i18n concerns, but perhaps is vi

[2017-01-24 18:18] pixelzoom commented on #140
@ariel-phet suggested:

We'd probably have to sacrifice the check mark too.  But a 'green' answer in the space currently occupied by the check mark would probably serve the same purpose.

If the i18n concern is LTR vs RTL, I'm not concerned - the layout of all PhET panels is currently biases towards LTR.

Something else we'll be sacrificing that I didn't mention previously is the "1" denominator t

[2017-01-24 18:20] pixelzoom commented on #140
@ariel-phet suggested:

I'd lean towards "$0.50 per Apple", "$4.00 for 8 Apples", etc.

[2017-01-26 02:07] pixelzoom opened #141 "unit rate for Purple Candy exceeds range of spinners in Shopping Lab screen"
This design question is related to the Rate accordion box in the Shopping Lab screen.

The design document specifies that all spinners have range 1-20.  The design document does _not_ specify what the initial default values should be for those spinners. Since the design document tends to describe the Shopping Lab screen in terms of its differences from the Shopping screen, I therefore assumed that

[2017-01-26 02:09] pixelzoom commented on #141
In the meantime, I'm going to increase the spinner ranges to 1-30, so that things don't blow up.

[2017-01-26 02:10] pixelzoom commented on #141
In the meantime, I'm going to increase the numerator spinner range to 1-30 for Purple Candy, so that things don't blow up.

[2017-01-26 02:11] pixelzoom commented on #141
Scratch that... easiest to change all spinner ranges to 1-30 temporarily.

[2017-01-26 02:29] pixelzoom commented on #141
I'm temporarily using range 1-30 for the number in the Rate panel.

@arouinfar If you'd like to test drive:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.39/unit-rates_en.html

[2017-02-01 19:11] arouinfar commented on #141
@pixelzoom the default spinner values are still an open question. I don't think that the default rates necessarily need to match the rates from the Shopping screen, but that's a reasonable choice for now.  We will discuss in the next design meeting (most likely next week) and make the final decision. Leaving self-assigned for now.

[2017-02-01 19:12] arouinfar opened #142 "Candy scenes: scale fails ?stringTest=double"
Observed in dev.39.

For the candy scenes, the scale does not handle i18n gracefully.
<img width="491" alt="screen shot 2017-01-31 at 4 40 54 pm" src="https://cloud.githubusercontent.com/assets/8419308/22521100/15ccdefe-e874-11e6-84e2-32687d08c047.png">

However, in reality, I don't think that the localized strings would be so dramatically lengthened. For example, I would expect that the currency

[2017-02-01 19:32] arouinfar commented on #110
👍

[2017-02-01 19:32] #110 closed, assigned to arouinfar

[2017-02-01 20:49] pixelzoom commented on #142
Thanks for reporting @arouinfar.  When I sent out 1.0.0-dev.39, I should have mentioned that the sim has not yet been tested for i18n.  And the scale is definitely a known issue, which I will be addressing.

[2017-02-01 22:09] arouinfar commented on #142
Got it. Thanks @pixelzoom.

[2017-02-02 19:49] pixelzoom commented on #142
I addressed the i18n issue, screenshot below. @arouinfar please verify in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.40/unit-rates_en.html?stringTest=double

![screenshot_131](https://cloud.githubusercontent.com/assets/3046552/22565596/f65e2fa0-e945-11e6-909c-d7ae7218a0e3.png)

[2017-02-02 19:50] pixelzoom commented on #141
For the time being, both the numerator and denominator now range from 1-30 in the Rate panel, see
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.40/unit-rates_en.html

[2017-02-02 19:54] pixelzoom commented on #141
Something else to consider when choosing the ranges for the Rate spinners...  If the range is too large, changes to the rate may result in no changes to the markers or scale display.  To demonstrate:

1. go to Shopping Lab screen
2. choose Candy scene
3. put 1 bag of candy on the scale
4. set Rate numerator and denominator to 1
5. increase Rate denominator.  As the value gets larger, you'll notice

[2017-02-02 20:02] arouinfar commented on #142
Looks great @pixelzoom. Thanks!

[2017-02-02 20:02] #142 closed, assigned to arouinfar

[2017-02-02 22:33] arouinfar commented on #20
👍

[2017-02-02 22:33] #20 closed, assigned to arouinfar

[2017-02-04 00:23] arouinfar commented on #141
Here's a matrix of the possible rates with dollars listed in red along the top, and number of items/lbs listed in blue along the side. Within a single row or column the rates (rounded to the nearest hundredths place) are unique, which means the price on the double number line markers and scale will visibly change as one of the spinners is adjusted.

![image](https://cloud.githubusercontent.com/ass

[2017-02-06 19:48] pixelzoom commented on #140
For comparison...

This screenshot shows the Shopping Lab screen with markers at integer numbers of Apples.  It feels crowded, and doesn't leave much room for fractional numbers of Apples (markers created with the Editor).

![screenshot_133](https://cloud.githubusercontent.com/assets/3046552/22663505/1128e330-ec6a-11e6-8b53-d852e3ab3047.png)

Here's the same scenario with the double number line ex

[2017-02-06 19:56] pixelzoom commented on #140
If anyone wants to play around with the narrow vs wide double number line... Here's a dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.41/unit-rates_en.html?showAnswers

Shopping screen has the narrower double number line, Shopping Lab is full width of the screen.

It would be helpful if team members played with this before the next design meeting. @amanda-phet @amyh

[2017-02-06 20:06] ariel-phet commented on #140
@pixelzoom, in some playing around, the full width DNL seems preferable on the shopping lab screen certainly. Still not sure if we can make it work on the first screen, but it seems there is not impediment to full width on the lab screen

[2017-02-06 20:18] amanda-phet commented on #140
@ariel-phet I was thinking the same thing. We could play with the layout of the Questions panel some more. I think it would also be fine to have two different widths for the two screens because of the nature of the lab screen.

[2017-02-06 20:48] arouinfar commented on #140
@pixelzoom I don't see any reason why we wouldn't want the full-width double number line on the Shopping Lab screen.

For the Shopping screen, I think we have some pedagogical limitations that make a shorter Questions panel challenging, but we can discuss the alternatives during design meeting. I don't believe minor markers will be a huge issue here, either. We have not designed the questions so t

[2017-02-06 20:50] pixelzoom opened #143 "specification for values in Racing Lab screen"
Specification for the values (numerator and denominator) in the Racing Lab screen is not totally clear in the design document.

Here's my best guess, based on doc, screenshots and old implementation:

Numerator (miles)
• maximum 4 digits and 2 decimal places  (e.g. 1234, 123.4, 12.34)
• strip off zeros in decimal places? Yes (e.g. 55.20 is displayed as 55.2; 55.0 is displayed as 55)

Denominator (

[2017-02-06 20:50] amyh-phet commented on #140
@pixelzoom   I agree that the full width DNL on the Shopping Lab screen is helpful.  I think the shorter DNL on the Shopping screen is okay and it sounds like it didn't pose issues when @arouinfar  interviewed.

[2017-02-06 20:56] pixelzoom commented on #140
@arouinfar said:

That discussion will be most productive/efficient if:

(a) Team members propose alternatives _before_ the meeting.  I've proposed 5 alternatives, @ariel-phet has proposed 2.  Others?..

(b) Team members weigh in on the alternatives proposed in this issue.

(c) We have some mockups that demonstrate a few of the alternatives that seem most reasonable.

[2017-02-06 20:59] ariel-phet commented on #140
@arouinfar the one leaning I have towards full width DNL on the first screen is that really the DNL is in my mind the key representation of this sim, and the questions are meant to drive engagement with the DNL. Perhaps I am wrong in that view, but it seems like the "heart" of the sim.

Another alternative might be - could we figure out some sort of carousel implementation for the questions panel

[2017-02-06 21:10] amyh-phet commented on #140
@pixelzoom and @arouinfar    I also think it is important for us to keep the unit rate as a fraction with 1 in the denominator. While the double number line is a key representation, we also want students to learn what a unit rate is, so this representation seems key to me as well.

As far as writing the wording of $0.50 per apple" instead, I'm not sure that students translate this well into a frac

[2017-02-06 22:00] pixelzoom commented on #92
@arouinfar I'm still unclear on the behavior of this button in several scenarios. Please clarify for each of these scenarios:

(1) The user presses the start button. The icon on the button changes to "stop". The race completes.  Does the icon on the button remain "stop"?  Is the button disabled?  If it's not disabled, what happens when the user presses it?

(2) The user presses the start button. T

[2017-02-06 22:02] amanda-phet commented on #140
The current fraction representation is important, as everyone has noted. A carousel is an interesting idea... the downside I see right now is hiding the first question (unit rate) when you might want to use it to answer a question lower down.

To make more room in the questions panel, could the refresh button be moved? Perhaps up next to the title? Could the panel be moved to the left of the reset

[2017-02-06 22:06] pixelzoom commented on #140
@amanda-phet said:

The unit rate question could always be there, the carousel would be the bottom 3 questions.  ...Which might make it clearer than the current arrangement, where pressing the "Refresh" button has no affect on the top (unit rate) question.

[2017-02-06 22:07] pixelzoom commented on #140
More brainstorming...

The Questions panel currently shows 4 questions: unit rate + 3 questions that change when the Refresh button is pressed.  Is it necessary to show 3 such questions, or could the same goals be achieved by showing 2 such questions?

Is it necessary to have the "Questions" title on the accordion box when it's expanded?

Do the Questions need to be in an accordion box? (Do they n

[2017-02-06 22:12] pixelzoom commented on #140
Is it necessary to have the "Questions" title on the accordion box when it's expanded?

[2017-02-06 22:23] pixelzoom commented on #140
Do the Questions need to be in an accordion box? (Do they need to be collapsible?)

[2017-02-06 22:29] kathy-phet commented on #140
Collapsible is definitely preferred since we want to be able to simplify if they aren't being used.

[2017-02-06 22:34] pixelzoom commented on #93
Related to my questions in https://github.com/phetsims/unit-rates/issues/92#issuecomment-277828037.  This needs to be specified because I'm working on it now.

[2017-02-06 22:40] pixelzoom commented on #93
Unless you had something in mind, here's what I recommend:

1. No controls are disabled while a race is in progress.

2. Changing any of the following stops the current race, moves both cars to the starting line, and changes the start/stop button to the "start" icon:
• scene radio buttons (1 vs 2 cars)
• any rate spinner
• the length of either track

[2017-02-06 22:45] pixelzoom commented on #141
@arouinfar said:

The spinner ranges can be different for each category.  For example, 1-10 for Fruit and Vegetables, and 1-9 for Candy.  I'm not advocating that, just mentioning it in case it's an option that you'd like to consider.

[2017-02-06 23:04] arouinfar commented on #141
Thanks @pixelzoom! It's good to know that it's an option, but I'd prefer to keep the spinner ranges consistent across scenes, if possible.

[2017-02-06 23:22] pixelzoom commented on #143
The above specification is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.42/unit-rates_en.html?showAnswers

Go to the new Racing Lab screen, and create markers using the marker editor. (Ignore other aspects of this screen, it's in a very early stage of implementation.)

A problem that I noticed already, demonstrated by example:
1. Go to Racing

[2017-02-06 23:34] amyh-phet commented on #140
@pixelzoom   If I recall correctly, we intentionally created matched sets of questions to target different strategies students might use to solve the problems.  My guess is that reducing the number of challenges would not support these strategies well.

[2017-02-07 00:11] arouinfar commented on #140
Thank you all for your suggestions!

* The Questions panel should remain collapsable, because as @kathy-phet mentioned, there could be situations in which the questions aren't being used. Perhaps a teacher is demoing the sim at the front of the room, or has designed their own prompts/activity for students to use.
* The word "Questions" does not need to be visible while the panel is open. This will

[2017-02-07 05:01] arouinfar commented on #93
Thanks for the recommendations @pixelzoom. I completely agree with the behavior you've outlined in https://github.com/phetsims/unit-rates/issues/93#issuecomment-277838141.

[2017-02-07 05:32] arouinfar commented on #143
My initial recommendation would be what you outlined in https://github.com/phetsims/unit-rates/issues/143#issue-205703801 @pixelzoom. However, you've found an excellent counter-example. :)

Perhaps instead we should limit the number of hours to a maximum of 99.99 (so 9999 and 999.9 would no longer be allowed). That way, regardless of the rate, the corresponding numerator could always be entered. F

[2017-02-07 05:51] arouinfar commented on #92
Excellent questions @pixelzoom. Here are my recommendations.

(1) The icon on the button returns to "start" when race has completed (both cars at finish line). If "start" is pressed, the cars return to the starting line and immediately begin the racing again. If "return" is pressed, cars return to staring line, but do not move.

(2) If "return" is pressed mid-race (at least one car is still moving

[2017-02-08 15:38] pixelzoom commented on #143
@arouinfar said:

Limiting the number of the digits _before_ the decimal point is not supported by the common-code keypad (scenery-phet.NumberKeypad) -- the only constraints currently supported are total number of digits and number of decimal places.  A new keypad is under development (see https://github.com/phetsims/scenery-phet/issues/283), but it's not expected to be completed before Unit Rates

[2017-02-09 01:48] pixelzoom opened #144 "relocated scene selection buttons in Racing Lab"
I made a non-trivial layout change in the Racing Lab screen, so wanted to point it out and get approval. I relocated the scene selection buttons (1 vs 2 cars).  You can view this change in [1.0.0-dev.44](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.44/unit-rates_en.html?showAnswers&randomEnabled=false&old).  This frees up a bit of trapped space, moves related controls to the

[2017-02-09 02:35] ariel-phet commented on #144
I like it....for some reason I feel like I saw a mockup like this at some point.

[2017-02-09 17:13] arouinfar commented on #144
Looks good @pixelzoom! @ariel-phet is correct that we had discussed moving the scene selection buttons next to the start race button, but that was after DS had wrapped up his work.

[2017-02-09 17:13] #144 closed, assigned to arouinfar

[2017-02-09 18:54] pixelzoom commented on #89
In https://github.com/phetsims/unit-rates/issues/93#issuecomment-277838141, we decided that moving the finish flag

So this is a non-issue, because moving the finish flag will move the corresponding car back to the starting line.

Closing.

[2017-02-09 18:54] #89 closed, assigned to nobody

[2017-02-09 20:58] arouinfar commented on #44
Discussed at 2/9/17 design meeting.

* Third digit can exist on both Shopping and Shopping Lab screens.
* Third digit is gray.
* If cost is exactly divisible, then third digit is not displayed (3rd digit would never would show up on Shopping screen, but there would still be a blank space for that digit).
* Cost on scale is truncated at thousandths place (e.g. $1.2349 becomes $1.234).
* Cost on dou

[2017-02-09 21:17] pixelzoom commented on #143
2/9/17 design meeting:
• strip off zeros for denominator (hours)

[2017-02-10 15:28] pixelzoom commented on #143
This specification is reflected in
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.45/unit-rates_en.html

@arouinfar please review and close if this looks OK.

[2017-02-10 15:36] pixelzoom commented on #96
At 2//9/17 design meeting, we decided to hold off on this feature, due to a few concerns:

(1) Behavior is different than Shopping Lab screen, and may confuse user.
(2) User may think that changing rate has erased their markers.
(3) Responsiveness of rate spinners will be compromised by having to save/restore markers.
(4) Solutions that increase responsiveness of spinners will impact memory footpr

[2017-02-10 19:29] arouinfar commented on #96
@pixelzoom thank you for this summary. I cannot think of anything else to add.

I'm going to tag this issue for interviews. Please reassign this to me once you are finished.

[2017-02-13 17:25] pixelzoom opened #145 "major marker units for Racing Lab screen?"
@arouinfar What are the desired major marker increments for the Racing Lab screen? Since the denominator (hours) updates when the rate is changed, major markers must be defined in terms of the numerator (miles).

I'm working on this now, so I will proceed with major markers at 10-mile increments (10, 20, 30,...)

[2017-02-13 17:56] arouinfar commented on #145
@pixelzoom 10-mile increments seems like a natural choice to me. However, I know we'll run into crowding issues if a student adds all 20 major markers to the DNL, though it may be a somewhat unlikely use case.

Alternatively, we could use 20-mile or 25-mile increments. The former won't align with the track markers (perhaps not important), and the latter may not offer enough resolution.

@pixelzoom

[2017-02-13 18:02] pixelzoom commented on #145
@arouinfar asked:

Yes, easily adjusted later.

[2017-02-13 18:03] arouinfar commented on #145
Good to know @pixelzoom. Thanks!

[2017-02-13 21:41] pixelzoom opened #146 "singular vs plural units"
(1) Pickers in all Rate panels: When the value is 1, should the label to switch to singular? (E.g. "1 dollar", "1 Apple", "1 mile", "1 hour".)   Or is it acceptable to use plural in all cases?

(2) The length of the race track is shown below the finish flag, e.g. "200 miles".   When the length is 1, do you want this label to be "1 mile" or "1 miles"?  If the answer to (1) is to use plural everywhe

[2017-02-13 21:49] ariel-phet commented on #146
@pixelzoom @arouinfar I am fine with sticking to plural

My rationale would be that when we label the axes of a graph/number line we use plural for the units (kilograms or such). I think this is a minor concern and not worth the extra effort/complexity. Although of course appreciate the attention to detail in bringing it up.

Defer to @arouinfar for the final call, but that is my feeling.

[2017-02-13 21:57] pixelzoom commented on #146
The only place where we are currently handling singular vs plural units is in the Questions panel. And it's important to do so there, since the units appear in the context of sentences.  But my feeling is that the other situations (1-3 above) are a bit overkill.  But as @ariel-phet said, deferring to @arouinfar.

[2017-02-13 22:00] pixelzoom commented on #145
Note to self: Major marker interval is currently set to 25, implemented in RacingLabModel, as an option to DoubleNumberLine:

[code]

[2017-02-13 22:05] arouinfar commented on #146
@pixelzoom I agree with @ariel-phet on this one -- let's stick with plural.

As you've pointed out, we make the singular/plural distinction when in the context of sentences in the Questions panel. However, I think when the unit is on its own, it's fine to leave it plural. I would agree that the situations you've outlined lean towards overkill, but I do appreciate the opportunity to make the call.

[2017-02-13 22:14] pixelzoom commented on #146
I removed the singular "mile" and "hour" from the string file. Nothing else to do here, so closing.

[2017-02-13 22:14] #146 closed, assigned to pixelzoom

[2017-02-15 16:11] pixelzoom commented on #92
The described behavior is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

@arouinfar please review. Issues #90, #92 and #93 are intertwined, so you may wish to review them together.

[2017-02-15 16:11] pixelzoom commented on #90
The described behavior is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

(See 1.0.0-dev.47 caveats in https://github.com/phetsims/unit-rates/issues/92#issuecomment-280058069)

@arouinfar please review. Issues #90, #92 and #93 are intertwined, so you may wish to review them together.

[2017-02-15 16:12] pixelzoom commented on #93
The described behavior is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

(See 1.0.0-dev.47 caveats in https://github.com/phetsims/unit-rates/issues/92#issuecomment-280058069)

@arouinfar please review. Issues #90, #92 and #93 are intertwined, so you may wish to review them together.

[2017-02-15 16:13] pixelzoom commented on #94
From https://github.com/phetsims/unit-rates/issues/94#issuecomment-252077568:

Marker editor -- keypad pops up beneath (or above, if car 2) the edit button

The described behavior is implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

@arouinfar please review.

[2017-02-15 16:16] pixelzoom commented on #141
At 2/9/17 design meeting, we made the following decisions for the Shopping Lab screen:
• initial values of all spinners will be 1
• range of all spinners will be 1-20

Implemented in this dev version:
http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.47/unit-rates_en.html?showAnswers&randomEnabled=false

@arouinfar please review.

[2017-02-15 16:21] pixelzoom commented on #92
I should have mentioned that 1.0.0.-dev.47 is not feature complete. This functionality is missing
• car speed is not calibrated, and not affected by rate
• timer is not calibrated
• no indicator appears on the number line to show car position during race
• no marker is created when race completes

That said, the functionality that _is_ implemented is sufficient to verify issues #90, #92 and #93.

[2017-02-15 20:00] arouinfar commented on #90
#90, #92, and #93 all look great! Thanks @pixelzoom.

[2017-02-15 20:00] #90 closed, assigned to arouinfar

[2017-02-15 20:00] arouinfar commented on #92
👍

[2017-02-15 20:00] #92 closed, assigned to arouinfar

[2017-02-15 20:01] arouinfar commented on #93
👍

[2017-02-15 20:01] #93 closed, assigned to arouinfar

[2017-02-15 20:43] arouinfar commented on #141
Looks good @pixelzoom. Thanks!

[2017-02-15 20:43] #141 closed, assigned to arouinfar

[2017-02-15 20:44] arouinfar commented on #143
Looks great!

[2017-02-15 20:44] #143 closed, assigned to arouinfar

[2017-02-15 20:46] arouinfar commented on #94
👍

[2017-02-15 20:46] #94 closed, assigned to arouinfar

[2017-02-15 22:03] pixelzoom commented on #145
After playing around with this... My feeling is that the interval should be the same for the track markers and the major markers on the double number line (DNL).  I also think the track markers are a bit large and perhaps don't need to be yellow (and perhaps not even triangles).

[1.0.0-dev.48](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.48/unit-rates_en.html?showAnswers&ran

[2017-02-15 22:07] pixelzoom commented on #145
Screenshots, with identical configuration and markers:

1.0.0-dev.48:

![screenshot_139](https://cloud.githubusercontent.com/assets/3046552/22997645/7f758c3a-f390-11e6-8c28-f341420589be.png)

1.0.0-dev.49:

![screenshot_138](https://cloud.githubusercontent.com/assets/3046552/22997651/8555b562-f390-11e6-8f06-e5d7f0864170.png)

[2017-02-15 22:12] pixelzoom commented on #96
In [1.0.0-dev.48](http://www.colorado.edu/physics/phet/dev/html/unit-rates/1.0.0-dev.48/unit-rates_en.html?showAnswers&randomEnabled=false), the denominator values (hours) for markers change when the rate is changed.  @arouinfar please verify.  If it looks good, the remaining task is interviews.

[2017-02-15 22:18] pixelzoom commented on #81
I originally opened this issue, and thought that the gray used for the eraser button made it look disabled.  Not I'm feeling differently.  The pale yellow currently used for the eraser button _really_ makes it look disabled, because of its proximity to the yellow edit buttons.  And with the exception of the edit buttons, all other buttons are `'rgb( 242, 242, 242 )'`.  So I feel like our best bet

[2017-02-15 22:22] arouinfar commented on #81
Sounds good to me @pixelzoom. Let's revert to the color of the eraser button to `'rgb( 242, 242, 242 )'`. I'll still look out for usability issues in the interviews, regardless of the final button color.

[2017-02-15 22:24] arouinfar commented on #145
Thanks for the recommendations and dev versions @pixelzoom. After playing with dev.48 and dev.49, I think major markers in 25-mile increments feels really natural. I also like the amount of space between the major markers as well. It feels really clean.

![image](https://cloud.githubusercontent.com/assets/8419308/22997677/a6dc335a-f390-11e6-884c-ea3ed43ecb40.png)

I agree that the track markers co